<!-- Extendemos de la base que contiene el contenido de la pagina  -->
{% extends 'theme/base_theme.html' %}
<!-- cargar archivos estaticos -->
{% load static %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Nosotros {% endblock %}
<!-- Contenido-->
{% block content %}
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="heading-block center bottommargin-sm">
        <h2>¿Quienes
          <span>Somos?</span>
        </h2>
      </div>

      <p class="text-justify nobottommargin">
        Somos un grupo de profesionales preocupados por la calidad de la educación, para nosotros siempre ha sido importante este aspecto en la vida de todas las personas, especialmente conocemos la necesidad de algunos estudiantes de encontrar respuestas efectivas con maestros especializados, que brinden tranquilidad a la hora de aprender.
      </p>
      <p class="text-justify nobottommargin">
        En TutoExperts nos preocupamos por la humanización de la tecnología, haciendo de nuestra plataforma una comunidad de personas unidas en lograr un solo objetivo: mejorar la calidad educativa de todos los estudiantes, es por ello que nos preocupamos por la calidad y el aporte pedagógico a nuestros docentes.
      </p>
      <p class="text-justify nobottommargin">
        Sabemos lo difícil que puede llegar a ser en ocasiones la labor docente, debido a las diferentes dificultades que presenta la profesión, por ello , en TutoExperts queremos contribuir a mejorar su calidad de vida y dar la oportunidad de generar libertad económica abriendo la posibilidad que ejerzan su profesión de manera libre, autónoma y con alegría.
      </p>
      <p class="text-justify">
        Por todo ello, nuestro principal deseo es, abrir un espacio fuera del aula, donde tanto estudiantes como maestros se sientan cómodos y felices con el proceso de enseñanza – aprendizaje.
      </p>

      <div class="heading-block fancy-title nobottomborder title-bottom-border">
        <h4>Principios</h4>
      </div>

      <div class="row clearfix">

        <div class="col-lg-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{% static 'images/about/seguridad-en-tutoexperts.jpg' %}" alt="Seguridad">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Seguridad</h4>
                <div class="team-content">
                  <p>
                    En TutoExperts tenemos como principio ofrecer seguridad a los estudiantes y a los profesores en el manejo de los datos y en el servicio que los docentes prestan a los estudiantes, los padres de familia pueden sentirse tranquilos porque pueden supervisar constantemente las clases bien sea virtuales o presenciales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{% static 'images/about/calidad-de-nuestra-metodologia.jpg' %}" alt="Calidad">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Calidad</h4>
                <div class="team-content">
                  <p>
                    Nos preocupamos por mantener un estándar alto de calidad en el servicio que ofrecemos a través de los maestros expertos, el rendimiento de la plataforma y la preocupación constante para que nuestros usuarios tengan la mejor experiencia.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{% static 'images/about/confianza-con-nosotros.jpg' %}" alt="Confianza">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Confianza</h4>
                <div class="team-content">
                  <p>
                    Tenemos como base de crecimiento la confianza que nuestros usuarios nos tienen, debido a la agilidad en los procesos, el cumplimiento en los pagos a los profesores y la satisfacción de los estudiantes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{% static 'images/about/responsabilidad-con-nuestros-clientes.jpg' %}" alt="Responsabilidad">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Responsabilidad</h4>
                <div class="team-content">
                  <p>
                    Para TutoExperts es muy importante ser responsables en todas las propuestas de educación y diálogo que se proponen pues parten de una fundamentación pedagógica, didáctica y con miras a realizar un aporte real y efectivo a la educación en Colombia y el mundo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{% static 'images/about/Actitud-de-servicio-en-tuto-experts.jpg' %}" alt="Actitud de servicio">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Actitud de Servicio</h4>
                <div class="team-content">
                  <p>
                    Estamos siempre dispuestos a servir a estudiantes y maestros con el fin de generar la mejor experiencia de avance educativo y nuevas formas de hacer pedagogía.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="{% static 'images/about/mejoramiento-continuo-de-nuestros-servicios.jpg' %}" alt="Mejoramiento Continuo">
            </div>
            <div class="team-desc">
              <div class="team-title">
                <h4>Mejoramiento Continuo</h4>
                <div class="team-content">
                  <p>
                    Creemos que todos los días se puede mejorar en creatividad, desempeño y aporte desde nuestro contenido a la sociedad del conocimiento.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
{% endblock %}