{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#0E99FD">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#0E99FD">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0E99FD">
    <!-- Meta block -->
    <!-- Global site tag (gtag.js) - Google Ads: 763607175 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-763607175"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-639643527"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-763607175');
        gtag('config', 'AW-639643527');
    </script>

    <!-- Event snippet for Registro Profesores conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-763607175/oeMkCJLekKABEIfxjuwC',
            'value': 1000.0,
            'currency': 'COP'
        });
    </script>
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-639643527/g6l0CPSd9d4BEIffgLEC',
                'event_callback': callback
            });
            return false;
        }
    </script>


    {% block meta %} {% endblock meta %}
    <!-- Start of Global site tag -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-132908434-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }

        gtag('js', new Date())
        gtag('config', 'UA-132908434-1')
    </script>
    <!-- End of Global site tag -->
    <!-- Facebook Pixel Code -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '720610162060434');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=720610162060434&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Stylesheets
    ============================================= -->
    {% include 'theme/include/css.html' %}
    <!-- Additional CSS -->
    {% block extra_css %} {% endblock %}
    <style>
        .form-control.error {
            border: 2px solid red;
        }
    </style>
    <!-- Document Title
    ============================================= -->
    <title>{% block title %}TutoExperts{% endblock %}</title>
</head>

<body class="stretched device-xl" data-loader="1" data-loader-color="theme">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix" style="animation-duration:3000ms; opacity: 1;">
        <!-- Top Bar
        ============================================= -->
        {% include 'theme/include/topbar.html' %}
        <!-- #top-bar end -->
        <!-- Header Menu
        ============================================= -->
        {% include 'theme/include/topnavbar.html' %}
        <!-- #header end -->
        <!-- Content
        ============================================= -->
        <div class="clear nomargin nopadding"></div>
        {% block content %}{% endblock %}
        <!-- #content end -->
        <!-- Footer
        ============================================= -->
        {% include 'theme/include/footer.html' %}
        <!-- #footer end -->
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    {% include 'theme/include/footerjs.html' %}
    <!-- Additional JS -->
    {% block extra_js %} {% endblock %}
</body>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5369530.js"></script>
<!-- End of HubSpot Embed Code -->

</html>