<!-- Extendemos de la base que contiene el contenido de la pagina  -->
{% extends 'theme/base_theme.html' %}
<!-- cargar archivos estaticos -->
{% load static widget_tweaks %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Contactanos {% endblock %}
<!-- Contenido-->
{% block content %}
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <!-- Postcontent
      ============================================= -->
      <div class="postcontent nobottommargin">

        <h3>Envíanos tus comentarios y/o dudas</h3>

        {% if contact_form.errors %}
        <div id="form-error" class="style-msg alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="icon-remove-sign"></i> No se ha podido completar la operación a causa de uno o más errores, por favor corrija e intente nuevamente. <br>
          {% for field,error in contact_form.errors.items %}
          <i class="icon-chevron-sign-right"></i>{{ error|striptags }} <br>
          {% endfor %}
        </div>
        {% endif %}
        <div class="contact-widget">

          <div class="contact-form-result"></div>

          <div class="form-process"></div>

          <form class="nobottommargin" action="{% url 'contact' %}" method="POST" id="widget-contact-form">

            {% csrf_token %}

            <div class="col_half required">
              <label for="{{ contact_form.sender_full_name.id_for_label }}" class="required">
                {{ contact_form.sender_full_name.label }}:
              </label>
              {% render_field contact_form.sender_full_name %}
              <p class="help">{{ contact_form.sender_full_name.help_text|safe }}</p>
            </div>

            <div class="col_half col_last required">
              <label for="{{ contact_form.sender_email.id_for_label }}" class="required">
                {{ contact_form.sender_email.label }}:
              </label>
              {% render_field contact_form.sender_email %}
              <p class="help">{{ contact_form.sender_email.help_text|safe }}</p>
            </div>

            <div class="col_half required">
              <label for="{{ contact_form.sender_phone.id_for_label }}" class="required">
                {{ contact_form.sender_phone.label }}:
              </label>
              {% render_field contact_form.sender_phone %}
              <p class="help">{{ contact_form.sender_phone.help_text|safe }}</p>
            </div>

            <div class="col_half col_last required">
              <label for="{{ contact_form.sender_city.id_for_label }}" class="required">
                {{ contact_form.sender_city.label }}:
              </label>
              {% render_field contact_form.sender_city %}
              <p class="help">{{ contact_form.sender_city.help_text|safe }}</p>
            </div>

            <div class="col_full required">
              <label for="{{ contact_form.subject.id_for_label }}" class="required">
                {{ contact_form.subject.label }}:
              </label>
              {% render_field contact_form.subject %}
              <p class="help">{{ contact_form.subject.help_text|safe }}</p>
            </div>

            <div class="col_full required">
              <label for="{{ contact_form.message.id_for_label }}" class="required">
                {{ contact_form.message.label }}:
              </label>
              {% render_field contact_form.message %}
              <p class="help">{{ contact_form.message.help_text|safe }}</p>
            </div>

            <div class="col_full">
              <input type="button" id="button-contact" onclick="sendContact()" value="Enviar Mensaje" class="button button-3d nomargin button-green">
            </div>

          </form>
        </div>
      </div>
      <!-- .postcontent end -->

      <!-- Sidebar
      ============================================= -->
      <div class="sidebar col_last nobottommargin">

        <abbr title="Phone Number">
          <strong>Teléfono:</strong>
        </abbr>
        <a href="tel:{{ settings.SITE_CONTACT_PHONE_NUMBER }}">{{ settings.SITE_CONTACT_PHONE_NUMBER }}</a>
        <br>
        <abbr title="Email Address">
          <strong>Correo:</strong>
        </abbr>
        <a href="mailto:{{ settings.SITE_INFO_EMAIL }}">{{ settings.SITE_INFO_EMAIL }}</a>

        <div class="widget noborder notoppadding">

          <a href="{{ settings.FACEBOOK_SITE }}" class="social-icon si-small si-dark si-facebook" target="_blank">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="{{ settings.TWITTER_SITE }}" class="social-icon si-small si-dark si-twitter" target="_blank">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

        </div>

      </div>
      <!-- .sidebar end -->

    </div>

  </div>

</section>
{% endblock content %}