<!-- Extendemos de la base que contiene el contenido de la pagina  -->
{% extends 'theme/base_theme.html' %}
<!-- cargar archivos estaticos -->
{% load static %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | FAQS Clases particulares {% endblock %}
<!-- Contenido-->
{% block content %}
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div id="faqs-list" class="fancy-title title-bottom-border">
        <h3>Preguntas frecuentes:</h3>
      </div>

      <div class="postcontent nobottommargin clearfix">


        <ul class="portfolio-filter clearfix" id="faqs-filter">

          <li class="activeFilter">
            <a href="#" data-filter=".cat-1">Para estudiantes y padres de familia</a>
          </li>
          <li>
            <a href="#" data-filter=".cat-2">Para docentes expertos</a>
          </li>

        </ul>
      </div>

      <div class="clear"></div>

      <div id="faqs" class="faqs">

        {% for faq in faqlist %}
        <div class="toggle faq cat-{{ faq.category }}">
          <div class="togglet">
            <i class="toggle-closed icon-question-sign"></i>
            <i class="toggle-open icon-question-sign"></i>{{ faq.title }}</div>
          <div class="togglec">{{ faq.description }}</div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>
</section>
{% endblock %}