<!-- Extendemos de la base que contiene el contenido de la pagina  -->
{% extends 'theme/base_theme.html' %}
<!-- cargar archivos estaticos -->
{% load i18n static mathfilters widget_tweaks %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Clases Particulares {% endblock %}
<!-- Slider
============================================= -->
{% block content %}

<div class="fixed-menu">
  <a href="#" class="button button-small button-rounded button-3d" data-scrollto="#widget-subscribe-form" data-offset="100" data-easing="easeInOutExpo" data-speed="1200"><i class="icon-mail"></i> Suscribirme</a>
</div>
<section id="slider" class="slider-element swiper_wrapper full-screen clearfix" data-loop="true" data-autoplay="5000">
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">

      <div class="swiper-slide" style="background-image: url('{% static 'images/slider/1.jpg' %}');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center" style="max-width: 700px;">
            <h2 data-caption-animate="flipInX" style="font-size: 3vw;">
              Tu Eliges
            </h2>
            <p class="d-none d-sm-block" data-caption-animate="lightSpeedIn" data-caption-delay="500">
              <strong>Clases particulares de forma presencial o virtual</strong>
            </p>
            {% include 'theme/slider_options.html' %}
          </div>
        </div>
      </div>

      <div class="swiper-slide dark" style="background-image: url('{% static 'images/slider/2.jpg' %}');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-right">
            <h2 data-caption-animate="flipInX" style="font-size: 3.7vw;">
              Agenda tu clase
            </h2>
            <p class="d-none d-sm-block" data-caption-animate="lightSpeedIn" data-caption-delay="500" style="color: #222222 !important">
              <strong>Aprende o enseña con nuestra comunidad</strong>
            </p>
            {% include 'theme/slider_options.html' %}
          </div>
        </div>
      </div>

      <div class="swiper-slide dark" style="background-image: url('{% static 'images/slider/3.jpg' %}');">
        <div class="container clearfix">
          <div class="slider-caption">
            <h2 data-caption-animate="flipInX" style="font-size: 3.7vw;">
              Clases particulares
            </h2>
            <p class="d-none d-sm-block" data-caption-animate="lightSpeedIn" data-caption-delay="500">
              <strong>Clases particulares para ayudarte con tus dudas académicas de colegio o de la universidad</strong>
            </p>
            {% include 'theme/slider_options.html' %}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- #slider end -->
<!-- Content   ============================================= -->
<section id="content">
  <div class="content-wrap notoppadding">
    {% if not user.is_authenticated %}
    {% include 'registration/home_student_registration.html' %}
    {% endif %}

    {% comment %}
    <div class="container clearfix">
      <div class="col_half">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon" data-animate="bounceIn">
            <i class="icon-study"></i>
          </div>
          <h2>TutoExperts</h2>
          <p>
            Tutoexperts es la plataforma diseñada para ayudarte con tus clases. Aquí puedes encontrar a profesores expertos que te ayudarán con tus dudas de colegio o universidad, lo mejor es que puedes acceder a ellas Online o a domicilio.
          </p>
        </div>
      </div>

      <div class="col_half col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon" data-animate="bounceIn">
            <i class="icon-line2-users"></i>
          </div>
          <h3><strong>¿Eres mamá o papá y deseas ayuda con las tareas de tus hijos?</strong></h3>
          <p>
            En Tutoexperts encuentras <strong>profesores expertos</strong> en todas las materias, sólo debes inscribirte gratuitamente en la plataforma, seleccionar la materia en la que necesitas ayuda, elegir tu tutor experto y listo.
            <br><strong>Las clases las puedes programar a domicilio </strong> o si lo prefieres lo puedes hacer online, a través de Skype.
            <br>Contamos con facilidades para que tu hijo cuente con la mejor asesoría. Lo mejor es que es completamente seguro, ya que nuestros tutores certifican sus antecedentes.
          </p>
        </div>
        <img src="{% static 'images/sections/tutoexpert-aprende-y-ensena.jpg' %}" alt="Enseña y aprende con TutoExperts">
      </div>
    </div>
    {% endcomment %}

    <div class="clear"></div>
    {% comment %} Por que trabajar con nosotros {% endcomment %}
    <div class="container clearfix topmargin-sm">
      <div class="fancy-title title-dotted-border">
        <h2>
          <i class="icon-users"></i> ¿Necesitas clases particulares?
        </h2>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-green fbox-effect">
          <div class="fbox-icon fbox-icon-green">
            <i class="icon-bill i-alt"></i>
          </div>
          <h3>Docentes calificados</h3>
          <p>
            Profesores altamente calificados, con conocimiento en la materia y experiencia pedagógica.
          </p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-green fbox-effect">
          <div class="fbox-icon fbox-icon-green">
            <i class="icon-line-clock i-alt"></i>
          </div>
          <h3>Flexibilidad</h3>
          <p>
            Puedes tomar tus <strong>clases de manera presencial o virtual</strong>. Escogiendo los horarios que se adapten a tus necesidades.
          </p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-center fbox-outline fbox-green fbox-effect">
          <div class="fbox-icon fbox-icon-green">
            <i class="icon-check i-alt"></i>
          </div>
          <h3>Calidad</h3>
          <p>
            En TutoExperts encuentras calidad, confianza y Seguridad.
          </p>
        </div>
      </div>

      <div class="clear"></div>


      {% if not user.is_authenticated %}
      <div class="nomargin notopborder nobg">
        <div class="container center clearfix">
          <div class="divcenter bottommargin" style="max-width: 800px;">
            <a href="{% url 'student_signup' %}" class="button button-desc button-3d button-rounded button-green center">
              Solicita tu clase aquí
            </a>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="fancy-title title-dotted-border">
        <h2>
          <i class="icon-users"></i> ¿Quieres ser profesor Tutoexperts?
        </h2>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect">
          <div class="fbox-icon">
            <i class="icon-line2-clock i-alt"></i>
          </div>
          <h3>Flexibilidad Laboral</h3>
          <p>
            TutoExperts te da la oportunidad de elegir la mejor forma de trabajar, lo puedes hacer desde tu casa con la modalidad online o puedes <strong>programar tus clases a domicilio</strong>.
          </p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect">
          <div class="fbox-icon">
            <i class="icon-comments-alt i-alt"></i>
          </div>
          <h3>Mantente Actualizado</h3>
          <p>
            Puedes participar a través de nuestro blog en temas pedagógicos o en temas que creas que son importantes para los docentes.
          </p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-center fbox-outline fbox-effect">
          <div class="fbox-icon">
            <i class="icon-money i-alt"></i>
          </div>
          <h3>Ahorro Programado</h3>
          <p>
            TutoExperts te brinda la posibilidad de realizar un ahorro programado. Puedes trabajar por quince días o un mes y al finalizar el tiempo que tu estipules la plataforma te desembolsa lo que has trabajado, así puedes pensar en la posibilidad de trabajar por tu cuenta.
          </p>
        </div>
      </div>
    </div>

    {% if not user.is_authenticated %}
    <div class="nomargin notopborder nobg">
      <div class="container center clearfix">
        <div class="divcenter bottommargin" style="max-width: 800px;">
          <a href="{% url 'teacher_signup' %}" class="button button-desc button-3d button-rounded center">
            Registrate como tutor
          </a>
        </div>
      </div>
    </div>
    {% endif %}

    {% comment %} Youtube Video {% endcomment %}

    <div class="nomargin notopborder nobg">
      <div class="container center clearfix">
        <div class="divcenter bottommargin" style="max-width: 800px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/LsKnfxzDvbw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    {% comment %} Estadisticas {% endcomment %}
    <div class="topmargin"></div>

    <div class="heading-block center nobottomborder">
      <h2>Nuestras Estadisticas</h2>
      <span>Algunos datos que comprueban la calidad de nuestros servicios.</span>
      <div class="clear"></div>
    </div>

    <div class="row counters clearfix nobottommargin topmargin-sm common-height">

      <div class="col-lg-3 col-md-6 dark center col-padding" data-animate="bounceIn" style="background-image: url('{% static 'images/sections/stats/teacher.jpg' %}');">
        <div>
          <div class="overlay"></div>
          <div style="position: relative; z-index: 1;">
            <i class="i-plain i-xlarge divcenter icon-users"></i>
            <div class="counter counter-large counter-lined">
              <span data-from="0" data-to="{% if teachers >= 1000 %}{{ teachers|div:1000|floatformat:'0' }}{% else %}{{ teachers }}{% endif %}" data-refresh-interval="20" data-speed="2000"></span>{% if teachers >= 1000 %}K{% endif %}
            </div>
            <h5>Profesor{{teachers|pluralize:"es"}}</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 dark center col-padding" data-animate="bounceIn" data-delay="200" style="background-image: url('{% static 'images/sections/stats/student.jpg' %}');">
        <div>
          <div class="overlay"></div>
          <div style="position: relative; z-index: 1;">
            <i class="i-plain i-xlarge divcenter icon-line2-graduation"></i>
            <div class="counter counter-large counter-lined">
              <span data-from="0" data-to="{% if students >= 1000 %}{{ students|div:1000|floatformat:'0' }}{% else %}{{ students }}{% endif %}" data-refresh-interval="20" data-speed="2000"></span>{% if students >= 1000 %}K{% endif %}
            </div>
            <h5>Estudiante{{students|pluralize}}</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 dark center col-padding" data-animate="bounceIn" data-delay="400" style="background-image: url('{% static 'images/sections/stats/family.jpg' %}');">
        <div>
          <div class="overlay"></div>
          <div style="position: relative; z-index: 1;">
            <i class="i-plain i-xlarge divcenter icon-file-text"></i>
            <div class="counter counter-large counter-lined">
              <span data-from="0" data-to="{% if subscribers >= 1000 %}{{ subscribers|div:1000|floatformat:'0' }}{% else %}{{ subscribers }}{% endif %}" data-refresh-interval="20" data-speed="2000"></span>{% if subscribers >= 1000 %}K{% endif %}
            </div>
            <h5>Suscriptor{{subscribers|pluralize:"es"}}</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 dark center col-padding" data-animate="bounceIn" data-delay="600" style="background-image: url('{% static 'images/sections/stats/learn_2.jpg' %}');">
        <div>
          <div class="overlay"></div>
          <div style="position: relative; z-index: 1;">
            <i class="i-plain i-xlarge divcenter icon-pencil"></i>
            <div class="counter counter-large counter-lined">
              <span data-from="0" data-to="{% if reservations >= 1000 %}{{ reservations|div:1000|floatformat:'0' }}{% else %}{{ reservations }}{% endif %}" data-refresh-interval="25" data-speed="2500"></span>{% if reservations >= 1000 %}K{% endif %}
            </div>
            <h5>Tutoría{{reservations|pluralize}}</h5>
          </div>
        </div>
      </div>

    </div>
    {% comment %} Ranking docentes {% endcomment %}
    {% if featured_teachers %}
    <div class="container clearfix topmargin-sm">
      <div class="heading-block center nobottomborder">
        <h3>
          Mejores tutores
          <span>
            .
          </span>
        </h3>
        <span>En TutoExperts contamos con los mejores tutores expertos para ayudarte a resolver tus dudas.</span>
      </div>
      <div id="oc-team" class="owl-carousel team-carousel carousel-widget d-flex justify-content-center" data-margin="30" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-lg="3" data-items-xl="4">
        {% for tutor in featured_teachers %}
        <div class="team">
          <div class="team-image">
            {% if not tutor.photo %}
            <img src="{% static 'images/tutors/avatar.svg' %}" alt="{{ tutor.user.get_full_name }}">
            {% else %}
            <img src="{{ tutor.photo.url }}" alt="{{ tutor.user.get_full_name }}">
            {% endif %}
          </div>
          <div class="team-desc">
            <div class="team-title">
              <h4>{{ tutor.user.get_full_name|truncatechars:20 }}</h4>
              <span>{{ tutor.career }}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% comment %} Testimonios Estudiantes {% endcomment %}

    {% if teachers_comments or students_feedback %}

    <div class="clear line"></div>

    {% if students_feedback %}
    <div class="container clearfix">
      <h4>
        Testimonios de estudiantes <span>.</span>
      </h4>
      <ul class="testimonials-grid clearfix">
        {% for feedback in students_feedback %}
        <li>
          <div class="testimonial">
            <div class="testi-image">
              <a href="#">
                <img src="{% if not feedback.user.student.photo %}{% static 'images/tutors/avatar.svg' %}{% else %}{{ feedback.user.student.photo.url }}{% endif %}" alt="{{ feedback.user.get_full_name }}">
              </a>
            </div>
            <div class="testi-content">
              <p>{{feedback.text|truncatechars:120}}</p>
              <input class="rating" value="{{feedback.rating|stringformat:'.1f'}}" data-size="xs" readonly data-show-caption="false" data-show-clear="false">
              <div class="testi-meta">
                {{ feedback.user.get_full_name }}
                <span>{{ feedback.created_at }}</span>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="clear"></div>
      <a href="{% url 'feedback' %}" class="button button-mini button-rounded button-3d button-green norightmargin fright">Ver más...</a>
      <div class="clear"></div>
    </div>
    {% endif %}
    {% comment %} Testimonios Docentes {% endcomment %}

    {% if teachers_feedback %}
    <div class="clear line nopadding"></div>

    <div class="container clearfix">
      <h4>Testimonios de docentes
        <span>.</span>
      </h4>
      <ul class="testimonials-grid clearfix">
        {% for feedback in teachers_feedback %}
        <li>
          <div class="testimonial">
            <div class="testi-image">
              <a href="#">
                <img src="{% if not feedback.user.teacher.photo %}{% static 'images/tutors/avatar.svg' %}{% else %}{{ feedback.user.teacher.photo.url }}{% endif %}" alt="{{ feedback.user.get_full_name }}">
              </a>
            </div>
            <div class="testi-content">
              <p>{{feedback.text|truncatechars:120}}</p>
              <input class="rating" value="{{feedback.rating|stringformat:'.1f'}}" data-size="xs" readonly data-show-caption="false" data-show-clear="false">
              <div class="testi-meta">
                {{ feedback.user.get_full_name }}
                <span>{{ feedback.created_at }}</span>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="clear"></div>
      <a href="{% url 'feedback' %}" class="button button-mini button-rounded button-3d button-green norightmargin fright">Ver más...</a>
      <div class="clear"></div>
    </div>
    {% endif %}

    {% endif %}

  </div>
</section>
<!-- #content end -->
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  var fcb_app_id = '{{settings.FACEBOOK_APP_ID}}',
    fcb_api_v = '{{settings.FACEBBOK_API_V}}'
</script>
<script src="{% static 'js/student_auth.js' %}"></script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}" type="text/css" />
<style>
  .counters .overlay {
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
  }

  .counters>div:nth-child(1) .overlay {
    background-color: rgba(128, 24, 26, 0.5);
  }

  .counters>div:nth-child(2) .overlay {
    background-color: rgba(172, 52, 52, 0.5);
  }

  .counters>div:nth-child(3) .overlay {
    background-color: rgba(161, 26, 26, 0.5);
  }

  .counters>div:nth-child(4) .overlay {
    background-color: rgba(183, 28, 28, 0.5);
  }

  .counters>div:hover .overlay {
    background-color: rgba(0, 0, 0, 0)
  }
</style>
{% endblock %}