{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" />
    <title>Clases Particulares</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css" />
    <!-- Estilos de CSS -->
    <link rel="stylesheet" href="{% static 'css/particular_classes_style.css' %}" type="text/css" />
</head>

<body>
    <!--================ Area de Menu Header =================-->
    <header class="header_area">
        <div class="main_menu">


            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
    </header>


    <!--================ Banner =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner_content text-center">
                            <p class="text-uppercase">
                                Tu plataforma para ganar dinero extra
                            </p>
                            <h1 class="text-uppercase mt-4 mb-5">
                                Ofrece tus Clases a Domicilio o en Línea
                            </h1>
                            <div>
                                <a href="{% url 'teacher_signup' %}" class="primary-btn2 mb-3 mb-sm-0">Registrate como Profesor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Fin Banner =================-->



    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap_top">

        <div class="container">
            <div class="row justify-content-center"> <a href="{% url 'home' %}"> <img src="{% static 'images/particular_classes/logo-TutoExperts-1.png' %}"> </a> </div>
            <br> <br>

            <div class="row justify-content-center">

                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3">Comienza a conectar con nuevos estudiantes</h2>
                        <p>
                            Puedes enseñar Educación Media, Medicina, Finanzas y Comercio Internacional, Ingeniería de Sistemas, Psicología, Administración de Empresas, Inglés, Aleman, Francés y Español.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_feature">
                        <div class="icon"> <img src="{% static 'images/particular_classes/registrate-tutoexperts-2.png' %}"> </div>
                        <div class="desc">
                            <h4 class="mt-3 mb-2">Registrate</h4>
                            <p>
                                Llena tus datos y cuéntanos cual es tu área de enseñanza
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single_feature">
                        <div class="icon"><img src="{% static 'images/particular_classes/agenda-tu-clase.png' %}"></div>
                        <div class="desc">
                            <h4 class="mt-3 mb-2">Tu Tiempo Cuenta</h4>
                            <p>
                                Nos acomodamos a tu disponibilidad para agendar tus clases
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single_feature">
                        <div class="icon"><img src="{% static 'images/particular_classes/teach.png' %}"></div>
                        <div class="desc">
                            <h4 class="mt-3 mb-2">Empieza a Enseñar</h4>
                            <p>
                                Te comunicaremos cuando agenden una clase contigo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Feature Area =================-->



    <!--================ Inicio CTA Registro =================-->
    <div class="section_gap registration_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">

                        <h3 class="text-uppercase mt-4 mb-5">
                            Haz parte de nuestro equipo de profesores
                        </h3>
                        <div>
                            <a href="{% url 'teacher_signup' %}" class="primary-btn2 mb-3 mb-sm-0">Registrate Aquí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--================ Fin CTA Registro =================-->



</body>

</html>