{% if user.is_authenticated and user.student %}
<a data-animate="zoomIn" data-delay="600" href="{% url 'users:search_teacher' %}" class="button button-3d button-rounded button-large d-sm-inline-block button-green">
    Reserva tu clase ahora
</a>
{% elif not user.is_authenticated %}
<a data-animate="zoomIn" data-delay="600" href="{% url 'student_signup' %}" class="button button-3d button-rounded button-green d-sm-inline-block">
    Solicita tu clase aquí
</a>
<a data-animate="zoomIn" data-delay="600" href="{% url 'teacher_signup' %}" class="button button-3d button-rounded d-sm-inline-block">
    Registrate como tutor
</a>
{% endif %}