<!-- Extendemos de la base que contiene el contenido de la pagina  -->
{% extends 'theme/base_theme.html' %}
<!-- cargar archivos estaticos -->
{% load static %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Términos y condiciones de uso {% endblock %}
<!-- Contenido-->
{% block content %}
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            {% include 'registration/terms_and_conditions_body.html' %}
        </div>
    </div>
</section>
{% endblock %}