{% extends "registration/registration_base.html" %}
<!--Import-->
{% load i18n static %}
<!-- Title block -->
{% block title %} {{ block.super }} | {% trans "Account Activated" %}{% endblock %}
<!-- Content block -->

{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="center font-weight-bold font-primary">
                <h1>
                    Activación Exitosa
                    <i class="icon-thumbs-up"></i>
                </h1>
                <br>
                <a href="{% url 'home' %}" class="button button-3d button-rounded button-green button-large">Volver al inicio</a>
            </div>

            <div class="modal-on-load" data-target="#myModal1"></div>

            <div class="modal1 mfp-hide" id="myModal1">
                <div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
                    <div class="center" style="padding: 50px;">
                        <h3>Activación Exitosa</h3>
                        <p class="nobottommargin text-justify">
                            {% if user.is_authenticated %}
                            {% if user.teacher %}
                            Bienvenido a TutoExperts. Te animamos a completar tu perfil y de esta manera generar mayor confianza en tus estudiantes. Gracias por hacer parte de nuestra comunidad.
                            {% else %}
                            Hola <b>{{user.get_full_name}}</b> bienvenido a TutoExperts, la plataforma que te ayudará con tus dudas. Te invitamos a que conozcas a los profesores expertos en la materia que necesites. <br>
                            Nos alegra que confíes en nosotros, te aseguramos que esta será una gran experiencia que te ayudará a mejorar tus notas.
                            {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    {% if not user.is_authenticated %}
                    <div class="section center nomargin" style="padding: 30px;">
                        <a href="{% url 'auth_login' %}" class="button button-3d button-rounded button-green">{% trans "You can log in." %}</a>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}