{% load i18n %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.name }} {% trans "registration" %}</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -ms-overflow-style: scrollbar;
            -webkit-tap-highlight-color: transparent;
        }

        body {
            line-height: 1.5;
            color: #555;
            font-family: 'Lato', sans-serif;
        }

        div {
            display: block;
        }

        h4 {
            font-weight: 600;
            font-size: 18px;
            color: #444;
            line-height: 1.5;
            margin: 0 0 10px 0;
            font-family: 'Raleway', sans-serif;
        }

        a {
            text-decoration: none;
            color: #444;
        }


        p {
            text-align: justify
        }

        #content {
            margin-bottom: 0px;
            position: relative;
            overflow: hidden;
            background-color: #FFF;
            display: block;
            line-height: 1.5;
            color: #555;
            font-family: 'Lato', sans-serif;
        }

        .content-wrap {
            position: relative;
            padding: 20px 0;
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        #content .container {
            position: relative;
        }
    </style>
</head>

<body>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                {% with site_name=site.name %}
                {% if user.teacher %}
                <p>
                    Hola <h4>{{user.get_full_name}}.</h4> Bienvenido a {{ site_name }}, la comunidad educativa que ofrece servicios de tutorías personalizadas de manera presencial o a domicilio.
                    En {{ site_name }} tenemos varias ventajas para que amplíes tu potencial como maestro: <br>
                    <ol>
                        <li>
                            Podrás desarrollar tu profesión de manera autónoma e independiente: conocemos de tu vocación para enseñar, pero también sabemos que deseas realizarla sin tanto trámite,
                            por ello aquí en {{site_name}}, puedes enseñar lo que más te gusta a los estudiantes en las edades que más se acoplen a tus objetivos de enseñanza.
                        </li>
                        <li>
                            Otra ventaja, es la de generar ingresos extra a los de tu trabajo habitual y sabemos que tu deseo es ser independiente, por ello te invitamos a que obtengas muy buena
                            evaluación y de esta manera obtener más estudiantes, lo que te permitirá, a largo plazo, generar tu propia independencia económica.
                        </li>
                        <li>
                            En {{site_name}}, conocemos el deseo de compartir el conocimiento que tenemos como docentes, por esa razón te invitamos a participar activamente en nuestro
                            blog sobre temas de educadores para educadores, has <a href="http://{{site.domain}}{% url 'blog:index' %}" target="_blank" rel="noopener noreferrer">clic aquí.</a>
                            Este es un medio de trabajo colaborativo que nos ayuda a ayudarnos entre nosotros como profesionales de la educación, de una manera justa.
                        </li>
                        <li>
                            Debes tener en cuenta que {{site_name}} ha sido diseñada por educadores para educadores, que valoramos la profesión docente,
                            por ello siempre contarás con tus ingresos de manera oportuna y puedes estar seguro que siempre contarás con nosotros para desarrollarte como profesional.
                        </li>
                        <li>
                            Sabemos que los docentes también tenemos una vida propia, por eso en {{site_name}} nos preocupamos para que los tutores, puedan manejar su propio tiempo,
                            de manera que puedan trabajar y a la vez atender sus tareas y quehaceres personales. En definitiva, {{site_name}}, es una plataforma diseñada para que
                            seas tu propio jefe ejerciendo la tarea que más te gusta: enseñar.
                        </li>
                    </ol>
                </p>
                <p>
                    En tu correo recibirás nuestro contenido y las de los tutores más destacados en nuestra plataforma, así como las promociones que ofreceremos a los estudiantes para ayudarte
                    a mejorar tu participación en la plataforma. Si quieres mejorar tu perfil para ser más visible has
                    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}" target="_blank" rel="noopener noreferrer">clic aquí para activar tu cuenta.</a>
                    <br>
                    <br>
                    Nuevamente bienvenido y disfruta de la experiencia de este proceso de enseñanza – aprendizaje.
                </p>

                {% else %}
                <p>
                    Hola <h4>{{user.get_full_name}}.</h4> Bienvenido a {{site_name}}, la comunidad educativa que ofrece servicios de tutorías personalizadas de manera presencial o a domicilio. <br>
                    Con nosotros podrás encontrar a los mejores docentes expertos en el área que sea de tu interés, aquí podrás contar con toda la ayuda y soporte para mejorar tu vida como estudiante y tus notas. <br>
                    Sabemos que quieres aprender cada día más y que para ti es importante contar con un conocimiento especializado que te permita avanzar. Por esta razón, creamos {{site_name}}, que es una comunidad educativa,
                    para que encuentres flexibilidad en tiempo y dinero, confianza en la profesión de nuestros tutores expertos y veas los resultado de una mejora significativa en tus calificaciones. <br>
                    En nuestra comunidad, encuentras la explicación del procedimiento para que nuestros tutores expertos puedan ayudarte en tu proceso de aprendizaje. Has <a href="http://{{site.domain}}">click aquí</a> <br><br>
                    Bienvenido a {{site_name}}, donde cientos de estudiantes ya confían en nosotros, en nuestros precios, en nuestra calidad educativa y en la seguridad que ofrecemos.
                    Gracias por confiar en nosotros.
                </p>
                {% endif %}
                {% endwith %}
                <p>
                    Para terminar el proceso de activación de tu cuenta, por favor has click en el siguiente enlace, el cual expira en los próximos
                    {{ expiration_days }} días:
                </p>

                <p>
                    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}"> Activar cuenta </a>
                </p>
                <p>
                    Saludos,
                    Administración {{ site.name }}
                </p>
            </div>
        </div>
    </section>
</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
The activation key for the new account.

``expiration_days``
The number of days remaining during which the account may be
activated.

``site``
An object representing the site on which the user registered;
depending on whether ``django.contrib.sites`` is installed, this
may be an instance of either ``django.contrib.sites.models.Site``
(if the sites application is installed) or
``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
documentation for the Django sites framework
<http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for details regarding these objects' interfaces. ``user`` The new user account ``request`` ``HttpRequest`` instance for better flexibility. For example it can be used to compute absolute register URL: {{ request.scheme }} ://{{ request.get_host }}{% url 'registration_activate' activation_key %} {% endcomment %}