{% load widget_tweaks %} {% csrf_token %} {{ form.non_field_errors }}

<!-- create form -->
{% for field in form %}
{% if not field.is_hidden%}
<div class="col_full required">
     {{ field.errors }}
    <label for="{{ field.id_for_label }}" class="required">{{ field.label }}:</label>
    {% render_field field class+="sm-form-control required" %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% else %} {{ field }}
</div>
{% endif %}
{% endfor %}
<!-- #end create form-->