<!--import -->
{% load i18n static widget_tweaks %}
<section>

    <div class="section row nopadding nomargin  common-height dark">
        <div id="register-img-form" class="col-lg-4" data-height-xl="650" data-height-lg="650" data-height-md="400" data-height-sm="300" data-height-xs="200" style="background: url('{% static 'images/sections/home_register.jpg' %}') 0 0 no-repeat; background-size: cover;">
            <div>&nbsp;</div>
        </div>
        <div class="bgcolor col-lg-8 nopadding">
            <div class="button-green contact-widget col-padding" data-loader="button">
                <h2>Solicita tu clase aquí</h2>
                <div class="form-process"></div>
                <form class="nobottommargin" id="register-student-form" name="register-student-form" method="post" action="">
                    {% csrf_token %}

                    <div class="col_one_third nobottommargin">
                        <label for="{{ form.username.id_for_label }}" class="required">
                            {{ form.username.label }}:
                        </label>
                        <input type="text" name="username" maxlength="150" class="form-control not-dark required" required="" id="id_username">
                        <p class="help" style="font-size: small;">{% trans form.username.help_text|safe %}</p>
                    </div>
                    <div class="col_one_third nobottommargin">
                        <label for="{{ form.first_name.id_for_label }}" class="required">
                            {{ form.first_name.label }}:
                        </label>
                        {% render_field form.first_name class+="form-control not-dark required" %}
                        <p class="help" style="font-size: small;">{% trans form.first_name.help_text|safe %}</p>
                    </div>
                    <div class="col_one_third nobottommargin col_last">
                        <label for="{{ form.last_name.id_for_label }}" class="required">
                            {{ form.last_name.label }}:
                        </label>
                        {% render_field form.last_name class+="form-control not-dark required" %}
                        <p class="help" style="font-size: small;">{% trans form.last_name.help_text|safe %}</p>
                    </div>

                    <div class="clear"></div>

                    <div class="col_one_third nobottommargin">
                        <label for="{{ form.email.id_for_label }}" class="required">
                            {{ form.email.label }}:
                        </label>
                        {% render_field form.email class+="form-control not-dark required" %}
                        <p class="help" style="font-size: small;">{% trans form.email.help_text|safe %}</p>
                    </div>
                    <div class="col_one_third nobottommargin">
                        <label for="{{ form.phone_number.id_for_label }}">
                            {{ form.phone_number.label }}:
                        </label>
                        {% render_field form.phone_number class+="form-control not-dark" %}
                        <p class="help" style="font-size: small;">{% trans form.phone_number.help_text|safe %}</p>
                    </div>
                    <div class="col_one_third nobottommargin col_last">
                        <label for="{{ form.preferred_subject.id_for_label }}">
                            {{ form.preferred_subject.label }}:
                        </label>
                        {% render_field form.preferred_subject class+="form-control not-dark" %}
                        <p class="help" style="font-size: small;">{% trans form.preferred_subject.help_text|safe %}</p>
                    </div>

                    <div class="clear"></div>

                    <div class="col_half nobottommargin ">
                        <label for="{{ form.password1.id_for_label }}" class="required">
                            {{ form.password1.label }}:
                        </label>
                        {% render_field form.password1 class+="form-control not-dark required" %}
                        <p class="help nobottommargin" style="font-size: small;">{% trans form.password1.help_text|safe %}</p>
                    </div>
                    <div class="col_half nobottommargin col_last">
                        <div class="col_full">
                            <label for="{{ form.password2.id_for_label }}" class="required">
                                {{ form.password2.label }}:
                            </label>
                            {% render_field form.password2 class+="form-control not-dark required" %}
                            <p class="help" style="font-size: small;">{% trans form.password2.help_text|safe %}</p>
                        </div>
                        <div class="col_full nobottommargin">
                            {% render_field form.terms_and_conditions class+="checkbox-style form-control not-dark required" %}
                            <label for="{{ form.terms_and_conditions.id_for_label }}" class="checkbox-style-1-label">
                                He leído y acepto los <a href="#" class="text-white font-weight-bold" data-toggle="modal" data-target=".bs-example-modal-lg">términos y condiciones</a>
                            </label>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col_full nobottommargin">
                        <button id="btn-submit" type="button" class="button button-3d button-rounded nomargin" onclick="register_student_home()">{% trans 'Submit' %}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg not-dark" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title uppercase" id="studentTcModal">
                            Términos y <span> Condiciones de Uso</span>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body mx-3">
                        {% include 'registration/terms_and_conditions_body.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col_full nobottommargin">
        <div id="form-error" class="style-msg alert alert-danger hidden">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="icon-remove-sign"></i> No se ha podido completar la operación a causa de uno o más errores, por favor corrija e intente nuevamente. <br>
        </div>
    </div>
    <script type="text/javascript">
        var fcb_app_id = '{{settings.FACEBOOK_APP_ID}}',
            fcb_api_v = '{{settings.FACEBBOK_API_V}}'
    </script>
    <script src="{% static 'js/student_auth.js' %}"></script>
    <style>
        @media only screen and (max-width: 900px) {
            #register-img-form {
                max-height: 500px !important;
            }
        }
    </style>
</section>