{% extends "registration/registration_base.html" %}
<!--import -->
{% load i18n %} {% load static %} {% load widget_tweaks %}
<!-- title block -->
{% block title %} {{ block.super}} | {% trans "Log in" %}{% endblock %}
<!-- Content block -->
{% block content %}
<section id="content">
    <div class="content-wrap pt-3">
        <div class="container clearfix">
            <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
                <div class="center bottommargin-sm">
                    <h4 style="margin-bottom: 10px;">Iniciar con:</h4>

                    <button class="button button-rounded si-facebook si-colored" onclick="facebook_login('form-social-login')">
                        <i class="icon-facebook"></i>Facebook
                    </button>

                </div>

                <div class="acctitle">
                    <i class="acc-closed icon-lock3"></i>
                    <i class="acc-open icon-unlock"></i>Acceder a tu cuenta
                </div>

                <div class="acc_content clearfix">

                    {% if messages %}
                    <div class="style-msg alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for message in messages %}
                        <i class="icon-chevron-sign-right"></i>{{ message }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form name="login-form" action="" method="post">
                        {% include "registration/form_snippet.html" %}
                        <div class="center">
                            <input type="submit" value="{% trans 'Log in' %}" class="button button-3d button-rounded button-green nomargin center" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>
                    <p style="margin-top: 10px;">
                        <a href=" {% url 'auth_password_reset' %}">Olvidé mi contraseña</a> <br>
                        ¿Aún no es miembro?&nbsp;&nbsp;
                        <a href="{% url 'student_signup' %}">Solicita tu clase aquí</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="{% url 'teacher_signup' %}">Registrate como tutor</a>
                    </p>
                    <div class="line line-sm"></div>

                    <form class="hidden" id="form-social-login" action="{% url 'social_login' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="userID">
                        <input type="text" name="accessToken">
                        <input type="text" name="socialType">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    var fcb_app_id = '{{settings.FACEBOOK_APP_ID}}',
        fcb_api_v = '{{settings.FACEBBOK_API_V}}'
</script>
<script src="{% static 'js/student_auth.js' %}"></script>
{% endblock %}