{% extends "registration/registration_base.html" %}
<!--import -->
{% load i18n static widget_tweaks %}
<!-- Title block -->
{% block title %} {{ block.super }} | {% trans "Password reset complete" %}{% endblock %}
<!-- Content block -->

{% block content %}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="center">
                <p>
                    {% trans "Your password has been reset!" %} {% blocktrans %} Ahora puede
                    <a href="{{ login_url }}">iniciar sesión</a>{% endblocktrans %}.

                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %} {# This is used by django.contrib.auth #}