{% extends "registration/registration_base.html" %}
<!--import -->
{% load i18n static widget_tweaks %}

<!-- meta -->
{% block meta %}
<meta name="referrer" content="origin">
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
  Referer header to any 3rd party apps on the page. -->
{% endblock %}
<!-- Title block -->
{% block title %} {{ block.super }} | {% trans "Confirm password reset" %}{% endblock %}
<!-- Content block -->
{% block content %}
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      {% if validlink %}
      <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
        <div class="acctitle">
          <i class="acc-closed icon-user4"></i>
          <i class="acc-open icon-refresh2"></i> {% trans "Enter your new password below to reset your password:" %}
        </div>
        <form method="post" action="">
          {% include "registration/form_snippet.html" %}
          <input type="submit" value="{% trans 'Set password' %}" class="button button-3d button-rounded button-green nomargin center" />
        </form>
      </div>
      {% else %}
      <div class="center">
        <p>No pudimos validar tu reinicio de contraseña, por favor
          <a href="{% url 'auth_password_reset' %}">intenta nuevamente.</a>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %} {# This is used by django.contrib.auth #}