{% extends "registration/registration_base.html" %}
<!--import -->
{% load i18n static widget_tweaks %}
<!-- title block -->
{% block title %} {{ block.super}} | Inicio de Sesión {% trans "Change password" %}{% endblock %}
<!-- Content block -->
%} {% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
                <div class="acctitle">
                    <i class="acc-closed icon-lock3"></i>
                    <i class="acc-open icon-refresh"></i>Cambiar Contraseña</div>
                <div class="acc_content clearfix">
                    <form name="password-change-form" class="nobottommargin" method="post" action="">
                        {% include "registration/form_snippet.html" %}
                        <input type="submit" class="button button-3d button-rounded button-green nomargin center" value="{% trans 'Change password' %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}