{% extends "registration/registration_base.html" %}
<!--Import-->
{% load i18n static %}
<!-- Title block -->
{% block title %} {{ block.super }} | {% trans "Password reset" %}{% endblock %}
<!-- Content block -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <p class="font-primary">
                <div class="center">
                    <p>{% blocktrans %} Hemos enviado un correo con un enlace para restablecer tu contraseña. Por favor revisa
                        tu cuenta de correo e ingresa al enlace para continuar. {% endblocktrans %}</p>
                </div>
            </p>
        </div>
    </div>
</section>
{% endblock %} {# This is used by django.contrib.auth #}