{% extends "registration/registration_base.html" %}
<!--import -->
{% load i18n %}
<!-- title block -->
{% block title %} {{ block.super}} | {% trans "Reset password" %}{% endblock %}
<!-- Content block -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
                <div class="acctitle">
                    <i class="acc-closed icon-lock3"></i>
                    <i class="acc-open icon-unlock"></i>Restablecer contraseña</div>
                <div class="acc_content clearfix">
                    <p>
                        {% blocktrans %} ¿Olvidaste tu contraseña?. Digita tu correo y te enviaremos las instrucciones para crear una nueva
                        <!---->
                        {% endblocktrans %}
                    </p>
                    <form id="reset-password-form" name="reset-password-form" class="nobottommargin" action="" method="post">
                        {% include "registration/form_snippet.html" %}
                        <div class="col_full nobottommargin">
                            <input type="submit" value="{% trans 'Reset password' %}" class="button button-3d button-rounded button-green nomargin center" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {# This is used by django.contrib.auth #}