{% extends "registration/registration_base.html" %}
<!--import -->
{% load i18n static widget_tweaks %}
<!-- title block -->
{% block title %} {{ block.super }} | {% trans "Register for an account" %}{% endblock %}
<!-- Content block -->
{% block content %}
<section id="content">
    <div class="content-wrap pt-3">
        <div class="container clearfix nobottommargin" style="max-width: 550px;">
            <div class="clearfix">
                <h2><i class="acc-open icon-ok-sign"></i> Solicita una clase</h2>
                <span class="text-secondary nomargin" style="font-size: inherit; line-height: normal;">
                    Diligencia el siguiente formulario para solicitar tu clase o continua con tu cuenta de Facebook
                </span>
            </div>
            <div class="clearfix">

                <div class="center">
                    <h4 class="nomargin">Continuar con:</h4>

                    <button class="button button-rounded si-facebook si-colored" onclick="facebook_login('form-social-register')">
                        <i class="icon-facebook"></i>Facebook
                    </button>

                </div>
                <div class="divider"><i class="icon-circle"></i></div>

                {% if messages %}
                <div class="style-msg alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {% for message in messages %}
                    <i class="icon-chevron-sign-right"></i>{{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                {% if form.errors %}
                <div id="form-error" class="style-msg alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="icon-remove-sign"></i> No se ha podido completar la operación a causa de uno o más errores, por favor corrija e intente nuevamente. <br>
                    {% for field,error in form.errors.items %}
                    <i class="icon-chevron-sign-right"></i>{{ error|striptags }} <br>
                    {% endfor %}
                </div>
                {% endif %}

                <form method="post" action="" name="register-student-form" id="register-student-form" class="nobottommargin">

                    {% csrf_token %}

                    <div class="col_full required">
                        <label for="{{ form.username.id_for_label }}" class="required">{{ form.username.label }}:</label>
                        {% render_field form.username class+="sm-form-control required" %}
                        <p class="help">{{ form.username.help_text|safe }}</p>
                    </div>

                    <div class="col_full required">
                        <label for="{{ form.first_name.id_for_label }}" class="required">
                            {{ form.first_name.label }}:
                        </label>
                        {% render_field form.first_name class+="sm-form-control required" %}
                        <p class="help">{{ form.first_name.help_text|safe }}</p>
                    </div>
                    <div class="col_full required">
                        <label for="{{ form.last_name.id_for_label }}" class="required">
                            {{ form.last_name.label }}:
                        </label>
                        {% render_field form.last_name class+="sm-form-control required" %}
                        <p class="help">{{ form.last_name.help_text|safe }}</p>
                    </div>

                    <div class="col_full required">
                        <label for="{{ form.phone_number.id_for_label }}" class="required">
                            {{ form.phone_number.label }}:
                        </label>
                        {% render_field form.phone_number class+="sm-form-control required" %}
                        <p class="help">{{ form.phone_number.help_text|safe }}</p>
                    </div>

                    <div class="col_full required">
                        <label for="{{ form.preferred_subject.id_for_label }}" class="required">
                            {{ form.preferred_subject.label }}:
                        </label>
                        {% render_field form.preferred_subject class+="sm-form-control required" %}
                        <p class="help">{{ form.preferred_subject.help_text|safe }}</p>
                    </div>

                    <div class="col_full required">
                        <label for="{{ form.email.id_for_label }}" class="required">{{ form.email.label }}:</label>
                        {% render_field form.email class+="sm-form-control required" %}
                        <p class="help">{{ form.email.help_text|safe }}</p>
                    </div>

                    <div class="col_full required">
                        <label for="{{ form.password1.id_for_label }}" class="required">{{ form.password1.label }}:</label>
                        {% render_field form.password1 class+="sm-form-control required" %}
                        <p class="help">{{ form.password1.help_text|safe }}</p>
                    </div>
                    <div class="col_full required">
                        <label for="{{ form.password2.id_for_label }}" class="required">{{ form.password2.label }}:</label>
                        {% render_field form.password2 class+="sm-form-control required" %}
                        <p class="help">{{ form.password2.help_text|safe }}</p>
                    </div>

                    <div class="col_full required bottommargin-sm">
                        {% render_field form.terms_and_conditions class+="checkbox-style sm-form-control required" %}
                        <label for="{{ form.terms_and_conditions.id_for_label }}" class="checkbox-style-1-label">
                            He leído y acepto los <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">términos y condiciones</a>
                        </label>

                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-body">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title uppercase" id="studentTcModal">
                                                Términos y <span> Condiciones de Uso</span>
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            {% include 'registration/terms_and_conditions_body.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <input type="button" value="{% trans 'Submit' %}" class="button button-3d button-rounded button-green nomargin center" onclick="register_student()" />
                    </div>
                    <div class="col_two_third col_last text-right align-middle">
                        <h5>
                            ¿Ya tienes una cuenta? <a href="{% url 'auth_login' %}"> <i class="icon-line2-login"></i> Iniciar sesión </a>
                        </h5>
                    </div>
                </form>

                <form class="hidden" id="form-social-register" action="{% url 'social_register' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="userID">
                    <input type="text" name="accessToken">
                    <input type="text" name="socialType">
                    <input type="text" name="userType" value="student">
                </form>
            </div>
        </div>
</section>
{% endblock %}
<!-- adicional css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}" type="text/css" />
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    var fcb_app_id = '{{settings.FACEBOOK_APP_ID}}',
        fcb_api_v = '{{settings.FACEBBOK_API_V}}'
</script>
<script src="{% static 'js/student_auth.js' %}"></script>
{% endblock %}