{% extends "registration/registration_base.html" %}
<!--Import-->
{% load i18n static %}
<!-- Title block -->
{% block title %} {{ block.super }} | {% trans "Activation email sent" %}{% endblock %}
<!-- Content block -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="center font-weight-bold font-primary">
                <h4>
                    <i class="icon-check-sign"></i>
                    {% trans "Please check your email to complete the registration process." %}
                </h4>
                <br>
                <a href="/" data-lightbox="inline" class="button button-3d button-rounded button-green button-large">Volver al inicio</a>
                <div class="line"></div>
            </div>

            <div class="modal-on-load" data-target="#myModal1"></div>

            <div class="modal1 mfp-hide" id="myModal1">
                <div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
                    <div class="center" style="padding: 50px;">
                        <h3>Registro Exitoso</h3>
                        <p class="nobottommargin">
                            <h5>{% trans "Please check your email to complete the registration process." %}</h5>
                        </p>
                    </div>
                    <div class="section center nomargin" style="padding: 30px;">
                        <a href="/" class="button button-3d button-rounded button-green">Volver al inicio</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %} {% comment %} **registration/registration_complete.html** Used after successful completion of the registration
form. This template has no context variables of its own, and should simply inform the user that an email containing account-activation
information has been sent. {% endcomment %}