{% extends "registration/registration_base.html" %}
<!--import -->
{% load i18n static widget_tweaks %}
<!-- title block -->
{% block title %} {{ block.super }} | {% trans "Register for an account" %}{% endblock %}
<!-- Content block -->
{% block content %}

<style>
    .white-section {
        background-color: #FFF;
        padding: 25px 20px;
        -webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
        box-shadow: 0px 1px 1px 0px #dfdfdf;
        border-radius: 3px;
    }
</style>

<section id="content">
    <div class="content-wrap pt-3">
        <div class="container clearfix nobottommargin">
            <h2>Registro Docentes</h2>

            {% if form.errors %}
            <div id="form-error" class="style-msg alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon-remove-sign"></i> No se ha podido completar la operación a causa de uno o más errores, por favor corrija e intente nuevamente. <br>
                {% for field,error in form.errors.items %}
                <i class="icon-chevron-sign-right"></i>{{ error|striptags }} <br>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" action="" name="register-teacher-form" id="register-teacher-form" class="nobottommargin" enctype="multipart/form-data" novalidate>

                {% csrf_token %} {{ form.user_type }} {{ form.non_field_errors }}

                <div class="accordion accordion-lg divcenter nobottommargin clearfix">
                    <div class="acctitle">
                        <i class="acc-closed icon-key"></i>
                        <i class="acc-open icon-key"></i> 1. Datos de acceso
                    </div>
                    <div class="acc_content clearfix">

                        <div class="col_half required">
                            <label for="{{ form.username.id_for_label }}" class="required">{{ form.username.label }}:</label>
                            {% render_field form.username class+="sm-form-control required" %}
                            <p class="help">{{ form.username.help_text|safe }}</p>
                        </div>
                        <div class="col_half col_last required">
                            <label for="{{ form.email.id_for_label }}" class="required">{{ form.email.label }}:</label>
                            {% render_field form.email class+="sm-form-control required" %}
                            <p class="help">{{ form.email.help_text|safe }}</p>
                        </div>

                        <div class="col_half required">
                            <label for="{{ form.password1.id_for_label }}" class="required">{{ form.password1.label }}:</label>
                            {% render_field form.password1 class+="sm-form-control required" %}
                            <p class="help">{{ form.password1.help_text|safe }}</p>
                        </div>
                        <div class="col_half col_last required">
                            <label for="{{ form.password2.id_for_label }}" class="required">{{ form.password2.label }}:</label>
                            {% render_field form.password2 class+="sm-form-control required" %}
                            <p class="help">{{ form.password2.help_text|safe }}</p>
                        </div>

                    </div>

                    <div class="clear"></div>

                    <div class="acctitle">
                        <i class="acc-closed icon-info-sign"></i>
                        <i class="acc-open icon-info-sign"></i> 2. Datos personales
                    </div>
                    <div class="acc_content clearfix">

                        <div class="col_one_third required">
                            <label for="{{ form.first_name.id_for_label }}" class="required">
                                {{ form.first_name.label }}:
                            </label>
                            {% render_field form.first_name class+="sm-form-control required" %}
                            <p class="help">{{ form.first_name.help_text|safe }}</p>
                        </div>
                        <div class="col_one_third required">
                            <label for="{{ form.last_name.id_for_label }}" class="required">
                                {{ form.last_name.label }}:
                            </label>
                            {% render_field form.last_name class+="sm-form-control required" %}
                            <p class="help">{{ form.last_name.help_text|safe }}</p>
                        </div>
                        <div class="col_one_third col_last required">
                            <label for="{{ form.skype_user.id_for_label }}" class="required">
                                {{ form.skype_user.label }}:
                            </label>
                            {% render_field form.skype_user class+="sm-form-control required" %}
                            <p class="help">{{ form.skype_user.help_text|safe }}</p>
                        </div>

                        <div class="col_one_third required">
                            <label for="{{ form.id_number.id_for_label }}" class="required">{{ form.id_number.label }}:</label>
                            {% render_field form.id_number class+="sm-form-control required" %}
                            <p class="help">{{ form.id_number.help_text|safe }}</p>
                        </div>
                        <div class="col_one_third required">
                            <label for="{{ form.career.id_for_label }}" class="required">{{ form.career.label }}:</label>
                            {% render_field form.career class+="sm-form-control required" %}
                            <p class="help">{{ form.career.help_text|safe }}</p>
                        </div>
                        <div class="col_one_third col_last required">
                            <label for="{{ form.phone_number.id_for_label }}">
                                {{ form.phone_number.label }}:
                            </label>
                            {% render_field form.phone_number class+="sm-form-control required" %}
                            <p class="help">{{ form.phone_number.help_text|safe }}</p>
                        </div>

                        <div class="col_one_third required">
                            <label for="{{ form.photo.id_for_label }}" class="required">
                                {{ form.photo.label }}:
                            </label>
                            {% render_field form.photo class+="sm-form-control required file" accept="image/*" %}
                            <p class="help">{{ form.photo.help_text|safe }}</p>
                        </div>
                        <div class="col_one_third required">
                            <label for="{{ form.certificate.id_for_label }}" class="required">
                                {{ form.certificate.label }}:
                            </label>
                            {% render_field form.certificate class+="sm-form-control required file" accept=".doc,.docx,application/pdf,image/*" %}
                            <p class="help">{{ form.certificate.help_text|safe }}</p>
                        </div>
                        <div class="col_one_third col_last required">
                            <label for="{{ form.juditial_past.id_for_label }}" class="required">
                                {{ form.juditial_past.label }}:
                            </label>
                            {% render_field form.juditial_past class+="sm-form-control required file" accept=".doc,.docx,application/pdf,image/*" %}
                            <p class="help">
                                {% autoescape on %}
                                {{form.juditial_past.help_text|safe}}
                                {% endautoescape %}
                            </p>
                        </div>

                    </div>

                    <div class="clear"></div>

                    <div class="acctitle">
                        <i class="acc-closed icon-line2-book-open"></i>
                        <i class="acc-open icon-line2-book-open"></i> 3. Area de Trabajo
                    </div>
                    <div class="acc_content clearfix">

                        {% include 'registration/work_area_tabs.html' %}

                    </div>
                    <div class="acctitle">
                        <i class="acc-closed icon-calendar-1"></i>
                        <i class="acc-open icon-calendar"></i> 4. Disponibilidad
                    </div>
                    <div class="acc_content row clearfix">

                        <div class="col-12 required">

                            <label>{{form.work_mode.label}}: </label>

                            {% for key, value in form.work_mode.field.choices %}
                            <input id="work-mode-{{ key }}" class="radio-style" name="work_mode" type="radio" value="{{ key }}" data-mode-name="{{ value }}" {% if forloop.first %} checked {% endif %}>
                            <label for="work-mode-{{ key }}" class="radio-style-1-label"> {{ value }} </label>
                            {% endfor %}
                            <p class="help">{{ form.work_mode.help_text|safe }}</p>
                        </div>


                        {% for key, value in form.days.field.choices %}

                        <div class="col-md-12 row bottommargin-sm white-section">

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <input id="schedule-day-{{key}}" class="checkbox-style sm-form-control" name="days" type="checkbox" value="{{key}}" data-day-name="{{value}}" onclick="enable_disable_related_input(this, 'day')">
                                <label for="schedule-day-{{key}}" class="checkbox-style-1-label">{{value}}</label>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="schedule-start-{{key}}">Hora Inicio</label>
                                <input type="text" id="schedule-start-{{key}}" autocomplete="off" name="schedule_start" class="sm-form-control" placeholder="HH:MM AM" data-day-for="{{key}}" disabled>
                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="schedule-end-{{key}}">Hora Fin</label>
                                <input type="text" id="schedule-end-{{key}}" autocomplete="off" name="schedule_end" class="sm-form-control" placeholder="HH:MM AM" data-day-for="{{key}}" disabled>
                            </div>

                        </div>

                        {% endfor %}
                    </div>
                </div>

                <div class="col_full required">
                    {% render_field form.terms_and_conditions class+="checkbox-style sm-form-control required" %}
                    <label for="{{ form.terms_and_conditions.id_for_label }}" class="checkbox-style-1-label">
                        He leído y acepto los <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">términos y condiciones</a>
                    </label>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-body">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title uppercase" id="myModalLabel">
                                            Términos y <span> Condiciones de Uso</span>
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body mx-3">
                                        {% include 'registration/terms_and_conditions_body.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <input type="submit" value="{% trans 'Submit' %}" class="button button-3d button-rounded button-green nomargin center" />
            </form>
        </div>
    </div>
</section>
{% endblock %}
<!-- adicional css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/jquery.timepicker.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/bs-filestyle.css' %}" type="text/css" />
{% endblock %}
<!-- adicional js -->
{% block extra_js %}
<script src="{% static 'js/components/moment.js' %}"></script>
<script src="{% static 'js/components/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'js/components/bs-filestyle.js' %}"></script>
<script src="{% static 'js/teacher_registration.js' %}"></script>
<script>
    $(".file").fileinput({
        showUpload: false,
        showPreview: false,
        browseLabel: 'Buscar',
        browseIcon: '<i class="icon-search3"></i>',
        removeLabel: 'Cancelar',
        removeTitle: 'Cancelar archivos seleccionados',
        removeIcon: '<i class="icon-remove"></i>',
        msgPlaceholder: 'Seleccionar archivo'
    })
</script>
{% endblock %}