<div class="heading-block center">
    <h2>
        Política
        <span>
            de privacidad
        </span>
    </h2>
</div>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        1. ¿Qué hacemos con su información?
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    <ul class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Cuando realiza una transacción en nuestra plataforma, como parte del proceso de tutorías, recopilamos la información personal que nos proporciona, como su nombre, dirección y dirección de correo electrónico, necesarias para darle el servicio que solicita.
        </li>
        <li>
            Cuando navega por la plataforma, también recibimos automáticamente la dirección de protocolo de Internet (IP) de su computadora para brindarnos información que nos ayude a conocer su navegador y sistema operativo.
        </li>
        <li>
            Marketing por correo electrónico: con su permiso previo, podemos enviarle correos electrónicos sobre nuestra plataforma, nuevos servicios y otras actualizaciones.
        </li>
    </ul>
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        2. Consentimiento
    </h4>
</div>
<div class="title-block">
    <h4>¿Cómo obtienes mi consentimiento?</h4>
</div>
<p class="bottommargin-sm text-justify">
    Cuando nos proporciona información personal para completar una transacción, verificar su tarjeta de crédito, realizar una tutoría, organizar una entrega o devolver una compra, se asume que usted aprueba que la recopilemos y la utilicemos solo por ese motivo específico. <br>
    Si solicitamos su información personal por un motivo secundario, como el marketing, le pediremos directamente su consentimiento expreso. 
</p>
<div class="title-block">
    <h4>¿Cómo retiro mi consentimiento?</h4>
</div>
<p class="bottommargin-sm text-justify">
    Si usted cambia de opinión puede retirar su consentimiento comunicándose con nosotros a través del correo {{"contactanos@tutoexperts.com"|urlize}}
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        3. Divulgación
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    Podemos divulgar su información personal si la ley nos exige hacerlo o si viola nuestros Términos de servicio. 
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        4. Plataforma
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    Nuestra plataforma se encuentra hecha a la medida y ésta nos permite prestarle el servicio educativo que solicita.
</p>
<div class="title-block">
    <h4>Pago</h4>
</div>
<p class="bottommargin-sm text-justify">
    La pasarela de pago que manejamos es Pay U, allí se almacena los datos de su tarjeta de crédito y se cifra mediante el Estándar de seguridad de datos de la industria de tarjetas de pago (PCI-DSS).
    <ul class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Los datos de su transacción se almacenan solo el tiempo que sea necesario para completar la transacción de compra. Después de que se completa, se elimina la información de la transacción de compra.
        </li>
        <li>
            Todas las pasarelas de pago directo se adhieren a los estándares establecidos por PCI-DSS administrados por el PCI Security Standards Council, que es un esfuerzo conjunto de marcas como Visa, MasterCard, American Express y Discover.
        </li>
        <li>
            Los requisitos de PCI-DSS ayudan a garantizar el manejo seguro de la información de la tarjeta de crédito por parte de nuestra plataforma y sus proveedores de servicios.
        </li>
        <li>
            Para obtener más información, también puede leer los Términos de servicio de Pay U <i>({{"https://legal.payulatam.com/ES/terminos_y_condiciones_compradores.html"|urlizetrunc:20}})</i> o la Declaración de privacidad <i>({{"https://legal.payulatam.com/ES/politica_de_privacidad.HTML"|urlizetrunc:20}})</i>.
        </li>
    </ul>
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        5. Servicios de terceros
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    En general, los proveedores de terceros que utilizamos solo recopilarán, utilizarán y divulgarán su información en la medida necesaria para permitirles realizar los servicios que nos brindan. 
    Sin embargo, ciertos proveedores de servicios de terceros, como las pasarelas de pago y otros procesadores de transacciones de pago, tienen sus propias políticas de privacidad con respecto a la información que debemos proporcionarles para sus transacciones relacionadas con la compra.
    Para estos proveedores, le recomendamos que lea sus políticas de privacidad para que pueda comprender la manera en que estos proveedores manejarán su información personal. 
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        6. Seguridad
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    <ul class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Para proteger su información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la industria para asegurarnos de que no se pierda ni se use incorrectamente (acceso cambio o destrucción indebida).
        </li>
        <li>
            Si nos proporciona la información de su tarjeta de crédito, la información se cifra mediante la tecnología de capa de conexión segura (SSL) y se almacena con un cifrado AES-256. Aunque ningún método de transmisión a través de Internet o almacenamiento electrónico es 100% seguro,
            seguimos todos los requisitos de PCI-DSS e implementamos estándares de la industria adicionales generalmente aceptados.
        </li>
    </ul>
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        7. Edad del consentimiento
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    Al usar este sitio, declara que es mayor de edad en su estado o ciudad de residencia.
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        8. Cambios a esta política de privacidad
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    <ul class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, así que revísela con frecuencia. 
        </li>
        <li>
            Los cambios y las aclaraciones entrarán en vigencia inmediatamente después de su publicación en el sitio web. 
        </li>
        <li>
            Si realizamos cambios sustanciales a esta política, le notificaremos a través de este sitio web. 
        </li>
        <li>
            Si nuestra plataforma es adquirida o fusionada con otra compañía, su información puede ser transferida a los nuevos propietarios para que pueda seguir contando con nuestro servicio. 
        </li>
    </ul>
</p>

<div class="heading-block center">
    <h2>
        TÉRMINOS y
        <span>
            CONDICIONES
        </span>
    </h2>
</div>

<p class="bottommargin-sm text-justify">
    En este acuerdo Usted, encontrará los Términos y Condiciones generales, aplicables  al uso de los servicios que le ofrece la compañía,
    Tutoexperts identificada con Matrícula Nº: 03002142, teléfono: (57)(320 8914930) - E-mail: {{"contactanos@tutoexperts.com"|urlize}},
    ubicada en la ciudad de Bogotá, de la República de Colombia, a través de la Pagina <a href="{%url 'home' %}">WEB</a>, con base en la Ley Estatutaria 1581 de 2013,
    reglamentada parcialmente por el Decreto Nacional 1377 de 2013, la cual tendrá aplicación total en este acuerdo, así como las modificaciones que posteriormente entren en vigencia.
</p>
<p class="bottommargin-sm text-justify">
    Tutoexperts por este medio da a conocer los servicios, promociones, eventos, y actividades relacionados con su Visión  y la Misión, y manifiesta que los datos personales incluidos en sus bases de datos,
    se han recopilado para el desarrollo de diversos procedimientos  con el fin de alcanzar las metas  a través del ofrecimiento de los  servicios, que componen su objeto social, plenamente  identificado e inscrito en  la Cámara de Comercio de Bogotá.
    Sus datos personales serán incluidos en una base de datos y utilizados para las siguientes finalidades:
    <ul class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Obtener una eficiente comunicación con relación a nuestros servicios, distribuciones, ofertas, promociones, descuentos, así como para proporcionarle el acceso a su información.
        </li>
        <li>
            Ofrecer, vender, promocionar nuestros servicios.
        </li>
        <li>
            Informarle sobre servicios nuevos.
        </li>
        <li>
            Informarle sobre cambios en nuestros servicios.
        </li>
        <li>
            Dar cumplimiento a las obligaciones contraídas con nuestros clientes, proveedores y empleados.
        </li>
        <li>
            Evaluación sobre la calidad de nuestro servicio.
        </li>
        <li>
            Realizar encuestas y hacer estudios estadísticos.
        </li>
    </ul>
</p>

<div class="title-block">
    <h4>
        DEFINICIONES
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    <b>AUTORIZACIÓN:</b> Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales. <br>

    <b>BASE DE DATOS:</b> Conjunto organizado de datos personales que sea objeto de Tratamiento. <br>

    <b>FUENTE DE INFORMACIÓN:</b> Es la persona, entidad u organización, que recibe o conoce datos personales de los Titulares de la información, en virtud de una relación comercial o de servicio o de cualquier otra índole (que genere una o más obligaciones  entre la fuente y el Titular ), 
    y que, en razón de autorización legal o del Titular, suministra esos datos a un operador de información, el que a su vez los entregará al usuario final. <br>

    <b>DATO PERSONAL:</b> Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables. <br>

    <b>ENCARGADO DEL TRATAMIENTO:</b> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento. <br>

    <b>RESPONSABLE DEL TRATAMIENTO:</b> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos. <br>

    <b>TITULAR:</b>  Es la persona física (natural) cuyos datos personales se encuentran en un Banco de Datos y son objeto del Tratamiento. <br>

    <b>USUARIO:</b> Es la persona natural o jurídica que puede acceder a la información personal comercial, crediticia y financiera de uno o varios titulares, suministrada por el operador, por la fuente, o directamente por el Titular de la información. <br>

    <b>OPERADOR DE LA INFORMACIÓN:</b> Es la persona, entidad u organización que recibe de la fuente, datos personales sobre varios titulares de la información, los administra y los pone en conocimiento de los usuarios, que para el efecto son CIFIN y DATACREDITO, COVINOC o cualquiera de los  operadores autorizados legalmente. <br>

    <b>TRATAMIENTO:</b> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección almacenamiento, uso, modificación, adición, circulación o supresión. <br>

    <b>DERECHO DE HABEAS DATA:</b> Es el derecho que tienen todas las personas, a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas, en bancos de datos y en archivos de entidades públicas y privadas. <br>

    <b>REGISTRO NACIONAL DE BASES DE DATOS:</b> Es el directorio público de las bases de datos sujetas a Tratamiento que operan en el país. Está reglamentado por el  Decreto Nacional 886 de 2014. Este registro es administrado por la Superintendencia de Industria y Comercio y será de libre consulta para los ciudadanos. <br>

    <b>AVISO DE PRIVACIDAD:</b> Comunicación verbal o escrita generada por el RESPONSABLE, que se pone a disposición del TITULAR, para el TRATAMIENTO  de sus datos personales, mediante la cual se le informa acerca de la existencia de las POLÍTICAS DE TRATAMIENTO de información que le serán aplicables, la forma de acceder a
    las mismas y las finalidades del TRATAMIENTO que se pretende dar a los datos personales. <br>

    <b>DATO PÚBLICO:</b>  Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza,
    los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gaceta y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva. <br>

    <b>DATOS SENSIBLES:</b> Se entiende por datos sensibles aquellos que afectan la intimidad del TITULAR o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico,
    la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promuevan intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual,
    y los datos biométricos. <br>

    <b>TRANSFERENCIA:</b> La Transferencia de datos tiene lugar cuando el RESPONSABLE y/o ENCARGADO DEL TRATAMIENTO, de datos personales, ubicados en Colombia, envía la información o los datos personales a un receptor, que a su vez es RESPONSABLE DEL TRATAMIENTO y se encuentra dentro o fuera del país. <br>

    <b>TRANSMISIÓN:</b> TRATAMIENTO de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un TRATAMIENTO por EL ENCARGADO por cuenta del RESPONSABLE. <br>

</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        TÉRMINOS Y CONDICIONES DE USO
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    <ol class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            El acceso y uso de nuestra plataforma, no tiene costo alguno, y el hecho de navegar a través de ella con el cumplimiento de los requisitos establecidos, le da la calidad de  usuario a quien lo  haga,
            e implica la aceptación total, sin reservas,  de las condiciones y términos de uso, en los términos de la ley y de este acuerdo.
        </li>
        <li>
            Es entendido y así lo acepta y declara  el usuario, que  ha leído todas y cada una de las condiciones aquí establecidas  y de antemano se compromete a cumplir con lo aquí previsto.
        </li>
        <li>
            El Usuario declara que su ingreso a la página Web, lo hace de manera voluntaria, aceptando de antemano las condiciones para su uso, y cumplimiento con los términos y condiciones
            establecidos por Tutoexperts así como  lo previsto en  la ley colombiana, especialmente a lo que hace referencia la ley 1581 de 2012, y su decreto reglamentario 1377 de 2013.
        </li>
        <li>
            El acceso a nuestra Plataforma, está disponible solo para personas que tengan capacidad legal para hacerlo y para contratar. Si va a contratar a nombre de una persona jurídica, (empresa, entidad),
            debe tener la capacidad y autorización legal para hacerlo, cumpliendo los requisitos que para su representación exige la ley colombiana y este acuerdo.
        </li>
        <li>
            Los menores de edad <strong>no</strong> están habilitados para acceder a nuestra plataforma y/o contratar nuestros servicios, en caso de hacerlo debe ser supervisado por un adulto responsable,
            así mismo quienes haya sido suspendidos temporalmente o inhabilitados en forma definitiva.
        </li>
        <li>
            Toda persona que desee ingresar a nuestra plataforma, debe aceptar los Términos y Condiciones aquí relacionados, los cuales son de obligatorio cumplimiento. En caso contrario deberá abstenerse de ingresar al sitio.
        </li>
        <li>
            Es obligatorio para ser usuario (docente o estudiante) de nuestra plataforma, solicitar la inscripción en el formato dispuesto para ello, y ser aprobado mediante comunicación directa.
            El aspirante a Usuario, deberá diligenciar el formulario de inscripción con sus datos personales exactos, precisos, veraces, vigentes, auténticos  y verdaderos, toda vez que de esa información depende la aceptación de la inscripción.
            En caso de incluir datos que no sean ciertos, cualquier perjuicio que se derive para la  empresa o para terceros, serán de su absoluta responsabilidad  y quedará sujeto a la acción legal ante las autoridades competentes.
        </li>
        <li>
            Tutoexperts, No está obligada a aceptar la inscripción como usuario de ninguna persona, en este sitio. Su no aceptación no genera ningún derecho a favor del solicitante, ni causa ninguna obligación por parte de Tutoexperts.
        </li>
        <li>
            Tutoexperts No se hace cargo de los daños o perjuicios derivados del mal uso de la información de la página, pues el Usuario entiende y acepta que el acceso a esta herramienta, así como el uso que pueda hacerse de los servicios e
            información contenida en la misma, son de la exclusiva responsabilidad del “usuario” que los realiza. Podrá realizar, en cualquier momento y sin necesidad de previo aviso, modificaciones en la presentación y configuración de la página,
            así como en los contenidos y servicios de la misma.
        </li>
        <li>
            Tutoexperts advierte que algunos de los textos contenidos en la página, enlaces y/o información incluidos en la misma podrían no ser veraces o no estar actualizados o haber sido recibidos o informados por terceras personas sobre las cuales Tutoexperts no tiene control.
            Por dicha razón, Tutoexperts no responderá sobre los errores u omisiones relativos a la información que no sea de su autoría, ni tampoco de los daños o perjuicios que se puedan llegar a ocasionar como resultado del uso de dicha información.
            Además cabe resaltar que aunque este es un sitio seguro, no está libre de errores y en consecuencia la información general, así como las características de los servicios anunciados y los precios, pueden variar con ocasión de errores humanos,
            tecnológicos, manipulación por terceros no autorizados, virus o cualquier evento de invasión o manipulación tecnológica.
        </li>
        <li>
            Tutoexperts tiene la posibilidad de obtener registros magnéticos con el fin de tener pruebas de las operaciones y/o transacciones realizadas por el “usuario”.
        </li>
        <li>
            Tutoexperts se reserva la posibilidad de realizar verificaciones posteriores a toda transacción ejecutada por el “usuario”, como también de solicitar confirmación de la transacción por parte del “usuario”. Además, Tutoexperts está en la capacidad de rechazar las compras hechas por el cliente,
            ya sea parcial o totalmente, de cualquier oferta que se presente en la página. En tal caso, Tutoexperts le reconocerá al cliente el dinero que corresponda al valor de la transacción rechazada.
        </li>
    </ol>
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        LIMITACIONES DE LA RESPONSABILIDAD DE TUTOEXPERTS
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    Bajo ninguna circunstancia y de ningún modo, será responsable por el contenido que los “usuarios” puedan llegar a incorporar en esta herramienta.
    En ningún momento garantiza la exactitud, veracidad, confiabilidad ni actualización de la información incluida en esta herramienta.
    No asume ninguna responsabilidad al no recibir a tiempo notificación por parte del “usuario” en caso de existir violación de la información personal en su cuenta.
    Nota: Para más información, consultar el estatuto del consumidor, Ley 1480/2011. <br>

    <div class="uppercase">
        <i>
            ORIGEN DE INGRESOS
        </i>
    </div>
</p>
<p class="bottommargin-sm text-justify">
    <strong>EL CLIENTE</strong> al consentir en cualquiera de los contratos que se perfeccionan al realizar transacciones en tutoexperts.com, declara bajo la gravedad de juramento, que sus ingresos provienen de actividades lícitas,
    que no se encuentra con registro negativo en listados de prevención de lavado de activos nacionales o internacionales, que no se encuentra dentro de una de las dos categorías de lavado de activos (conversión o movimiento) y que en consecuencia,
    se obliga a responder frente a TUTOEXPERTS por todos los perjuicios que se llegaren a causar como consecuencia de esta afirmación. En igual sentido responderá ante terceros. Declara igualmente, que sus conductas se ajustan a la ley y a la ética y,
    en consecuencia se obliga a implementar las medidas tendientes a evitar que sus operaciones puedan ser utilizadas con o sin su consentimiento y conocimiento como instrumentos para el ocultamiento, manejo, inversión o aprovechamiento en cualquier
    forma de dinero u otros bienes provenientes de actividades delictivas, o para dar apariencia de legalidad a éstas actividades. En el mismo sentido, se compromete a actuar dentro del marco legal vigente en Colombia, dando cumplimiento a todos los procedimientos,
    trámites y obligaciones contemplados en la Ley y demás normas pertinentes y que cualquier evidencia de que estos principios no se cumplen o puedan estar en entredicho será causal suficiente para resolver, a criterio de la Parte cumplida, el Contrato que resulte de su aceptación.
</p>
<p class="bottommargin-sm text-justify">
    <strong>CONFIDENCIALIDAD DE LA CUENTA</strong> <br>
    El usuario debe manejar con completa confidencialidad su cuenta, así como de cualquier otro número de identificación o clave del Usuario, independientemente de que éstos hayan sido proporcionados por Tutoexperts o seleccionados por el “Usuario”. Todas las actividades que se realicen con su cuenta como:
    intercambios, consultas, solicitudes y demás actividades; serán de su exclusiva responsabilidad.
    Por lo anterior, así el cliente tenga o no tenga cuenta en la página de Tutoexperts, es necesario que cuente con dispositivos de seguridad electrónicos y adopte las medidas necesarias que eviten, entre otros: la suplantación de la persona,
    la utilización de su información por terceras personas, los fraudes, las intrusiones, los virus, espías y similares. Además, mediante estos dispositivos de seguridad se podrá verificar la identidad del “usuario”.
</p>
<p class="bottommargin-sm text-justify">
    <strong>LOS DERECHOS DE PROPIEDAD INTELECTUAL DE LA PÁGINA SON PROPIEDAD DE TUTOEXPERTS:</strong>

    <ol type="A" class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            El material e información contenida y publicada en la plataforma de Tutoexperts es de exclusiva propiedad, y queda estrictamente prohibida la divulgación, reproducción, transmisión, traducción, almacenamiento, distribución o comunicación pública total o parcial de cualquier parte de esta
            herramienta sin la previa autorización por escrito por parte de Tutoexperts. El contenido que se presenta en la página, entiéndase como el material informativo, fotográfico, multimedia y publicitario, es de propiedad exclusiva de Tutoexperts,
            el uso de la información contenida en ésta solo le corresponde a Tutoexperts o a terceros expresamente autorizados para ello. Las personas que no estén autorizadas deberán abstenerse de extraer o reutilizar dicha información. <br>
            Tutoexperts tiene el derecho de rechazar el ingreso del “usuario” a la página.
        </li>
        <li>
            Toda interferencia, tentativa o actividad violatoria a las leyes sobre derechos de autor o, propiedad intelectual y/o a las prohibiciones aquí previstas, hará responsable al usuario ante las autoridades competentes sin perjuicio de indemnización a su cargo por los perjuicios causados
            a la empresa o a terceros que puedan reclamarlos, por daños causados.
        </li>
    </ol>
</p>
<p class="bottommargin-sm text-justify">
    <strong>POLÍTICA DE TRATAMIENTO DE LOS DATOS PERSONALES</strong> <br>
    En desarrollo e interpretación de la Ley 1581 de 2012, el Tratamiento de los datos personales del Titular, se aplicará dentro de los siguientes principios:

    <ol type="a" class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            <strong>Principio de Legalidad:</strong> En el Tratamiento de datos, Tutoexperts, se sujetará a lo previsto en la ley y en las demás disposiciones que la desarrollen.
        </li>
        <li>
            <strong>Principio de Finalidad:</strong> Tutoexperts, empresa debidamente autorizada por las leyes dentro del marco constitucional, pone a disposición de los usuarios
            autorizados, la información sobre productos y/o servicios de acuerdo al objeto social inscrito en la Cámara de Comercio de Bogotá, en las entidades correspondientes de acuerdo a la ley y en la información contenida en la plataforma. <br>
            Los datos contenidos en estos Términos y Condiciones, tienen también como finalidad  validar las órdenes de compra, y optimizar la labor de información y comercialización de los productos y servicios que ofrece y  presta la empresa.
        </li>
        <li>
            <strong>Principio de Libertad:</strong> El Tratamiento de datos se ejercerá en todos los casos, con el consentimiento previo, expreso e informado del Titular. Los datos personales no se obtendrán ni se divulgarán sin previa autorización,
            o en ausencia de mandato legal o judicial que releve el consentimiento.
        </li>
        <li>
            <strong>Principio de Veracidad o Calidad:</strong> La información sujeta al Tratamiento, debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error.
        </li>
        <li>
            <strong>Principio de Transparencia:</strong> Tutoexperts, garantiza al Titular de los datos, el derecho a obtener del Responsable del Tratamiento o del Encargado del Tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan.
        </li>
        <li>
            <strong>Principio de Acceso y Circulación Restringida:</strong> El Tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las disposiciones de la ley 1581 de 2012 y de la Constitución.
            En este sentido, el Tratamiento sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas previstas en la ley. <br>
            Los datos personales salvo la información pública, no estarán disponibles en internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros autorizados conforme a la ley 1581 de 2012.
        </li>
        <li>
            <strong>Principio de Seguridad:</strong> La información sujeta a Tratamiento por el Responsable del Tratamiento o Encargado del Tratamiento a que se refiere la presente ley, se maneja con las medidas técnicas,
            humanas y administrativas necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.  Está resguardada tecnológicamente y solo podrán acceder a ella,
            el mismo usuario a través de una clave o en los casos que el Usuario lo requiera, los integrantes del área  designada a esta área.
        </li>
        <li>
            <strong>Principio de Confidencialidad:</strong> Todas  las personas que intervengan en el tratamiento de datos  personales que no tengan la naturaleza  de públicos están obligadas a garantizar la reserva de la información,
            inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento, pudiendo sólo realizar suministro o comunicación de datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la presente ley y en los términos  de la misma.
            Tutoexperts se abstendrá de compartir, difundir, revelar  o divulgar  a terceros, la información del Usuario, salvo que sea autorizado por el Titular. <br>
            Tutoexperts se compromete a tratar de forma absolutamente confidencial los datos   personales del Usuario Autorizado, adoptando las medidas de seguridad de carácter técnico,
            administrativo y organizacional que sean necesarias con el fin de garantizar la seguridad de los mismos y evitar así  su alteración, pérdida, tratamiento y/o acceso no autorizado.
        </li>
    </ol>
</p>
<p class="bottommargin-sm text-justify">
    <strong>POLÍTICAS DE PRIVACIDAD   Y  DE  TRATAMIENTO DE LA INFORMACIÓN.</strong> <br>
    Tutoexperts cuyo domicilio es la ciudad de Bogotá, es el RESPONSABLE del TRATAMIENTO DE DATOS PERSONALES. Tel. (57) (320 8914930) - Correo electrónico: {{"contactanos@tutoexperts.com"|urlize}} <br>

    Si Usted, nos suministra sus datos personales en este sitio, con el fin de contactarnos, o de participar en promociones  y/o de entablar relaciones  comerciales que se hayan dentro de nuestro objeto social,
    Usted. está implícitamente aceptando el  aviso de privacidad al cual se adhiere y acepta  libre y espontáneamente, los términos y condiciones aquí relacionados. <br>

    Este sitio WEB, respetará la privacidad de la información personal del usuario obtenida a  través de la plataforma de Tutoexperts para lo cual se compromete a adoptar una política de confidencialidad, de acuerdo con lo siguiente: <br>

    LOS DATOS PERSONALES proporcionados por su TITULAR, al RESPONSABLE (Tutoexperts) como son, su nombre, identificación, fecha de nacimiento, ocupación, domicilio, ciudad, Departamento, País, correo electrónico, número telefónico y/o de celular,
    podrán ser utilizados para  identificarlo, para ubicarlo, y/o para contactarlo con el fin de hacerle llegar información y/o contestación sobre servicios, promociones, etc., pudiendo realizar su transmisión a cualquiera de sus sedes o sucursales,
    así como a aquellas sociedades prestadoras de servicios que tengan que ver con el RESPONSABLE de la vigilancia y mantenimiento del presente sitio, en los términos establecidos en la ley. <br>

    Tutoexperts usa un sistema de seguridad llamado SSL (Secure Socket Layer), que actualmente es el estándar usado por las compañías más importantes del mundo para realizar transacciones electrónicas seguras,
    lo que significa que toda tu información personal no podrá ser leída ni capturada por terceros mientras viaja por la red. <br>

    <div class="uppercase">
        Política de Privacidad General
    </div>
</p>
<p class="bottommargin-sm text-justify">
    Esta política de privacidad (la “Política”) aplica para los usuarios de la plataforma tutoexperts.com (el “Sitio”). Lea atentamente esta Política ya que al hacer uso del Sitio usted está aceptando sus términos.

    <ul class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Aceptación captura de información de usuarios al usar el Sitio
            Durante su visita a nuestro Sitio, éste podrá capturar información referente a actividades específicas de un usuario particular generándose reportes que nos permiten ver la actividad consolidada por usuario.
        </li>
        <li>
            Links con otros sitios <br>
            Este Sitio puede contener "links" a otros sitios. Tutoexperts no es responsable de las prácticas de seguridad o privacidad, o el contenido de esos sitios. Asimismo, Tutoexperts no avala ningún producto o servicio ofrecido en dichos sitios. De igual forma Tutoexperts se rige por esta política de seguridad y declaración de privacidad, por lo tanto no aplican políticas de sitios que derivan tráfico hacia tutoexperts.com.
        </li>
    </ul>

</p>
<p class="bottommargin-sm text-justify">

    Adicionalmente LOS DATOS PERSONALES, suministrados por su TITULAR, serán usados, ASÍ: <br>
    Para envío de:

    <ol type="a" class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Asistencia de tutores
        </li>
        <li>
            Información sobre servicios 
        </li>
        <li>
            Información sobre promociones.
        </li>
        <li>
            Información o solicitud de encuestas.
        </li>
        <li>
            Remisión  y recibo de documentos.
        </li>
    </ol>
</p>
<p class="bottommargin-sm text-justify">
    3.- Tutoexperts, no maneja a través de  este sitio, DATOS SENSIBLES, del TITULAR, por lo tanto el mismo debe abstenerse de suministrarlos. <br>
    4.- DERECHOS DEL TITULAR: Los derechos que le asisten como titular, están relacionados en los títulos: “Derechos de los Titulares de Datos y “ en Derecho al Habeas Data”. <br>
    5.- El área ENCARGADA DEL TRATAMIENTO para la atención  de peticiones, consultas y reclamos ante la cual EL TITULAR de la Información puede ejercer los derechos a conocer,<br>
    actualizar, rectificar y suprimir información y revocar la AUTORIZACIÓN, es el correo electrónico {{"contactanos@tutoexperts.com"|urlize}} <br>
    6.- ORTIZO S.A. se compromete a no ceder, vender, ni a compartir los datos recibidos en este sitio WEB, con terceros sin su aprobación expresa. <br>
    Así mismo Tutoexperts., cancelará o rectificará los datos cuando resulten inexactos, incompletos o hayan dejado de ser necesarios o pertinentes para su finalidad.
    6.A.- Tutoexperts, se compromete a tatar en forma absolutamente confidencial, los datos de carácter personal del usuario o TITULAR,<br>
    adoptando las medidas de seguridad de índole técnica y administrativas necesarias, con el fin de garantizar la seguridad de los mismos y evitar su adulteración, pérdida, pérdida, tratamiento y/o acceso no autorizado.
</p>

<div class="bottommargin-sm font-weight-bold">
    PROCEDIMIENTO
</div>

<p class="bottommargin-sm text-justify">
    7.- EL PROCEDIMIENTO para que los TITULARES DE LA INFORMACIÓN, puedan ejercer los derechos de acceso para  <b>conocer, actualizar, rectificar y suprimir</b><br>
    información y <b>revocar</b> la autorización es el siguiente: <br>
    7.1 – <b>Con base en el artículo 14 del la ley 1581 de 2012</b>, cuando el TITULAR o sus causahabientes, quieran consultar o conocer   la INFORMACION PERSONAL DEL TITULAR,
    de la  base de datos,  la OFICINA DE SERVICIO WEB, previa acreditación de la identidad del TITULAR o personalidad de su representante, pondrá a disposición de éste,
    de manera gratuita la información sobre los datos personales que reposan en este sitio.  Esta información se podrá suministrar a través de medios electrónicos que
    faciliten el acceso directo del TITULAR a ellos. El acceso se ofrece sin límite de plazo,  permitiendo al TITULAR, la posibilidad de <b>conocerlo y actualizarlo</b> en línea. <br>
    Para tal fin la OFICINA DE SERVICIO WEB, suministrará un formulario que debe ser diligenciado por el TITULAR O SU CAUSAHABIENTE, donde hace la solicitud,
    la cual será atendida en un término de diez (10) días hábiles contados a partir de la fecha de su recibo. <br>
    En caso de no poder atenderse la consulta en dicho plazo, Tutoexperts informará al  interesado, antes del vencimiento de los diez (10) días, expresando los motivos de
    la demora y señalando la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los cinco (5) días  hábiles siguientes al vencimiento del primer plazo <br>
    7.2 – <b>Con base en el artículo 15 de la ley 1581 de 2012</b>, cuando el TITULAR o sus causahabientes, consideren que la información contenida en la base de datos debe ser objeto de corrección,
    actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en esta ley, podrá presentar un reclamo ante EL RESPONSABLE DEL TRATAMIENTO,
    o EL ENCARGADO DEL TRATAMIENTO, el cual será tramitado en la siguiente forma: <br>

    <ul class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            El reclamo se formulará mediante solicitud dirigida al RESPONSABLE DEL TRATAMIENTO o al ENCARGADO DEL TRATAMIENTO, con la identificación del TITULAR,
            la descripción de los hechos que dan lugar al reclamo, la dirección, y acompañando los documentos que se quiera hacer valer.
            Si el reclamo resulta incompleto se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del reclamo para que se subsane las fallas.
            Transcurridos dos (2) meses desde la fecha el requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.
        </li>
        <li>
            En caso de que quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda en un término máximo de dos (2) días hábiles e informará de la situación al interesado.
        </li>
        <li>
            Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que diga “reclamo en trámite” y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.
        </li>
        <li>
            El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo.  Cuando no fuere posible atender el reclamo dentro de dicho término se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
        </li>
        <li>
            El servicio de quejas y reclamos es un medio de este sitio WEB, para la presentación de quejas, reclamos, peticiones y sugerencias que hacen los usuarios ante Tutoexperts.
        </li>
        <li>
            REQUISITO DE PROCEDIBILDAD: El Titular o causahabiente, solo podrá elevar queja ante la Superintendencia de Industria y Comercio, una vez haya agotado el trámite de consulta o reclamo ante el Responsable del Tratamiento o Encargado del Tratamiento.
        </li>
    </ul>
</p>

<p class="bottommargin-sm text-justify">
    <b>EL DERECHO AL HABEAS DATA</b> <br>

    La Ley 1266 de 2008, conocida como “LEY DE HABEAS DATA”, ha sido promulgada por el Gobierno Nacional, con el fin  de establecer y desarrollar el derecho constitucional que tienen todas las personas
    a conocer, actualizar, corregir, adicionar, excluir,   y rectificar las informaciones que se hayan recopilado sobre ellas, en Bancos de Datos, así como  la limitación en las posibilidades de
    divulgación publicación o cesión de acuerdo con los principios que regulan el proceso de administración de datos personales. <br> <br>

    <b>DURACION Y TERMINACION  (VIGENCIA)  DE LA POLÍTICA  DE TRATAMIENTO DE LA INFORMACIÓN:</b> <br>
    La vigencia del manejo de los DATOS PERSONALES, permanecerá indefinidamente hasta tanto se cumpla con la finalidad para la que fue solicitada a partir de la fecha en que EL TITULAR, los proporcionó al RESPONSABLE. <br>
    Una vez los datos personales se hayan utilizado para los fines mencionados anteriormente, se procederá a su cancelación y bloqueo, conservándolos solo para su protección por un plazo no mayor a cinco (5) años,
    a partir del uso efectivo de los mismos. pasado este plazo, se procederá a su destrucción y/o supresión, de los datos personales, siempre y cuando no medie requerimiento por parte de autoridad en los términos de la ley. <br>
    Sin embargo Tutoexperts podrá  dar por terminada o suspender la prestación de este servicio en cualquier momento. <br>
    Cualquier cambio sustancial en las políticas de TRATAMIENTO DE LA INFORMACIÓN, será comunicado oportunamente al Titular de los datos personales, antes de implementar las  nuevas políticas. <br> <br>

    <b>DERECHOS DE LOS TITULARES DE DATOS:</b><br>
    El Titular de los datos personales tendrá los siguientes derechos:

    <ol class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            a). Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento.  Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado.
        </li>
        <li>
            b). Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la Ley 1581/2012.
        </li>
        <li>
            c). Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales.
        </li>
        <li>
            d). Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente ley y las demás normas que la modifiquen, adicionen o complemente.
        </li>
        <li>
            e). Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias a la ley y a la Constitución.
        </li>
        <li>
            f). Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
        </li>
    </ol>
</p>
<p class="bottommargin-sm text-justify">
    <b>AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS</b> <br>

    Tutoexperts requiere de la autorización con consentimiento libre, previo, expreso e informado del Titular de los datos personales, para el tratamiento de los mismos, salvo los casos expresamente autorizados por la Ley.
    La autorización se entenderá entregada por el Titular y recibida Tutoexperts, cuando se haga por escrito, de forma verbal o mediante conductas inequívocas del Titular, que permita concluir de forma razonable que otorgó la autorización. En ningún caso el silencio podrá asimilarse a una conducta inequívoca.
    Las siguientes son las únicas personas, que podrán autorizar a Tutoexperts, para el tratamiento de datos personales:

    <ol class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            EL TITULAR, quien deberá acreditar su identidad en forma completa y clara, a través de los medios que ponga a su disposición Tutoexperts
        </li>
        <li>
            Los causahabientes del titular, previa acreditación de la representación o apoderamiento.
        </li>
        <li>
            Otro, a favor o para el cual el titular hubiese estipulado.
        </li>
    </ol>
</p>
<p class="bottommargin-sm text-justify">
    <b>MEDIOS A TRAVES DE LOS CUALES SE PUEDE AUTORIZAR.</b> <br>

    Podrá hacerlo a través de: Documento físico, Cotizaciones, Facturas de venta, Actividades de mercadeo, Eventos, Ordenes de servicio, Solicitud de garantías, Medios Digitales – electrónicos – Mensaje de datos – Internet – Sitio web – o cualquier otro formato en que pueda obtenerse la autorización inequívoca, veraz de la persona legitimada para ellos, y que de no haber sido autentica, y verdadera, no hubiese sido posible figurar en la base de datos.

</p>
<p class="bottommargin-sm text-justify">
    <b>PRUEBA DE LA AUTORIZACIÓN</b> <br>
    Tutoexperts, dispondrá de medios y mecanismos eficaces, para la conservación de las autorizaciones otorgadas por los Titulares, y mantener los registros que identifiquen la forma, fecha y persona que autorizó la inclusión de los datos en la base de datos. Tutoexperts, podrá hacerlo de manera directa o mediante contrato con terceros.

</p>
<p class="bottommargin-sm text-justify">
    <b>REVOCATORIA DE LA AUTORIZACIÓN</b> <br>
    El titular de los datos personales podrá en cualquier momento solicitar a Tutoexperts, la exclusión de la bases de datos, mediante la revocatoria de la autorización otorgada para el tratamiento de los datos personales.
    Para que proceda, deberá hacerse un reclamo, salvo que el titular tenga el deber legal o contractual de permanecer en la base de datos de Tutoexperts
    Si vencido el término legal para atender el reclamo, Tutoexperts, no ha eliminado los datos personales, el Titular tendrá derecho a solicitar a la SUPERINTENDENCIA DE INDUSTRIA Y COMERCIO, que ordene la revocatoria de la autorización.

</p>
<p class="bottommargin-sm text-justify">
    <b>INFORMACIÓN SIN AUTORIZACIÓN DEL TITULAR</b> <br>
    Tutoexperts, requiere del consentimiento, previo, expreso y voluntario del titular de los datos personales para el tratamiento de los mismos, excepto en los siguientes casos, autorizados por la ley:

    <ol class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Información requerida para una entidad pública o administrativa en ejercicio de sus funciones legales, o por orden judicial.
        </li>
        <li>
            Casos de urgencia médica o sanitaria.
        </li>
        <li>
            Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos.
        </li>
        <li>
            Datos relacionados con Registro Civil de las personas.
        </li>
    </ol>

</p>
<p class="bottommargin-sm text-justify">
    <b>PERSONAS A QUIENES SE LES PUEDE SUMINISTAR INFORMACION:</b> <br>
    La información que reúna  las condiciones establecidas en la ley, podrá suministrarse únicamente  a las siguientes personas:
    <ol class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Al Titular, sus causahabientes o sus representantes legales.
        </li>
        <li>
            A las entidades públicas o administrativas en ejercicio de sus funciones legales o por orden judicial.
        </li>
        <li>
            A los terceros autorizados por el Titular o por la ley.
        </li>
    </ol>
</p>

<div class="heading-block fancy-title nobottomborder title-bottom-border">
    <h4>
        DEBERES DE LOS RESPONSABLES DEL TRATAMIENTO, Y DE LOS ENCARGADOS DEL TRATAMIENTO:
    </h4>
</div>
<p class="bottommargin-sm text-justify">
    <ol type="I" class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            <strong>DE LOS RESPONSABLES DEL TRATAMIENTO,</strong> Cumplirán con los siguientes deberes, sin perjuicio de las demás disposiciones previstas en la ley 1581/2012 y en otras que rijan su actividad:

            <ol type="a" class="text-justify" style="line-height: 1.8; font-size: 15px;">
                <li>
                    Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
                </li>
                <li>
                    Solicitar y conservar, en las condiciones previstas en la presente ley, copia de la respectiva autorización otorgada por el Titular.
                </li>
                <li>
                    Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada.
                </li>
                <li>
                    Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
                </li>
                <li>
                    Garantizar que la información que se suministre al Encargado del Tratamiento sea veraz, completa. Exacta, actualizada, comprobable y comprensible.
                </li>
                <li>
                    Actualizar la información, comunicando de forma oportuna al Encargado del Tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información suministrada a este se mantenga actualizada.
                </li>
                <li>
                    Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del Tratamiento.
                </li>
                <li>
                    Suministrar al Encargado del Tratamiento, según el caso, únicamente datos cuyo Tratamiento esté previamente autorizado de conformidad con lo previsto en la ley.
                </li>
                <li>
                    Exigir al Encargado del Tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de la información del Titular.
                </li>
                <li>
                    Tramitar las consultas y reclamos formulados en los términos señalados en la ley.
                </li>
                <li>
                    Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la presente ley y en especial, para la atención de consultas y reclamos.
                </li>
                <li>
                    Informar al Encargado del Tratamiento cuando determinada información se encuentra en discusión por parte del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo.
                </li>
                <li>
                    Informar a solicitud del Titular sobre el uso dado a sus datos.
                </li>
                <li>
                    Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.
                </li>
                <li>
                    Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.
                </li>
            </ol>
        </li>

        <li>
            <strong>DE LOS ENCARGADOS DEL TRATAMIENTO:</strong> Cumplirán con los siguientes deberes, sin perjuicio de las demás disposiciones previstas en la ley 1581/2012, y en otras que rijan su actividad:

            <ol type="a" class="text-justify" style="line-height: 1.8; font-size: 15px;">
                <li>
                    Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
                </li>
                <li>
                    Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
                </li>
                <li>
                    Realizar oportunamente la actualización, rectificación o supresión de los datos en los términos de la ley.
                </li>
                <li>
                    Actualizar la información reportada por los Responsables del Tratamiento dentro de los cinco (5) días hábiles contados a partir de su recibo.
                </li>
                <li>
                    Tramitar las consultas y los reclamos formulados por los Titulares en los términos señalados en la ley.
                </li>
                <li>
                    Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la presente ley y, en especial para la atención de consultas y reclamos por parte de los Titulares.
                </li>
                <li>
                    Registrar en la base de datos las leyendas “información en discusión judicial” una vez notificado por parte de la autoridad competente sobre procesos judiciales relacionados con la calidad del dato personal.
                </li>
                <li>
                    Abstenerse de circular información que esté siendo controvertida por el Titular y cuyo bloqueo haya sido ordenado por la Superintendencia de Industria y Comercio.
                </li>
                <li>
                    Permitir el acceso a la información únicamente a las personas que pueden tener acceso a ella.
                </li>
                <li>
                    Informar a la Superintendencia de  Industria y Comercio cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.
                </li>
                <li>
                    Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.
                </li>

                PARÁGRAFO: En el evento en que concurran las calidades de Responsable del  Tratamiento y Encargado del Tratamiento en la misma persona, le será exigible el cumplimiento de los deberes previstos para cada uno.
            </ol>
        </li>
    </ol>
</p>
<p class="bottommargin-sm text-justify">
    PROCEDIMIENTO PARA CONSULTA Y RECLAMOS DE LOS USUARIOS <br>
    El titular de la información o sus causahabientes que consideren que la información contenida en su registro individual debe ser objeto de corrección o actualización podrá presentar el reclamo respectivo ante Tutoexperts, que será tramitado bajo el siguiente procedimiento:

    <ol type="1" class="text-justify" style="line-height: 1.8; font-size: 15px;">
        <li>
            Deberá formularse mediante solicitud escrita o electrónica con identificación del Titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y si fuere el caso anexado los documentos soporte que se quieran valer. Si el escrito está incompleto se le hará saber, para que subsane las fallas. Pasado un mes sin que el interesado hay presentado la información requerida, se entenderá que ha desistido de la reclamación o petición.
        </li>
        <li>
            Una vez recibida la petición o reclamo completo, se incluirá en el registro individual en un término no mayor a dos (2) días hábiles une leyenda que diga “reclamo en trámite” y la naturaleza del mismo. La información se mantendrá hasta que el reclamo sea decidido y se incluirá en la información que se suministre a los usuarios.
        </li>
        <li>
            El término máximo para atender la petición o reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de recibo. Cuando no fuere posible atender la petición dentro de dicho término se informará al interesado, expresado los motivos de la demora y señalando la fecha en que se atenderá su petición, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
        </li>
    </ol>
</p>
<p class="bottommargin-sm text-justify">
    <b>Requisito de procedibilidad:</b> El titular de la información, solo podrá elevar queja ante la superintendencia de industrias y comercio, una vez haya agotado el trámite de consulta o reclamo ante el responsable del tratamiento o encargado del tratamiento de Tutoexperts.
</p>
<p class="bottommargin-sm text-justify">
    <b>MODIFICACIONES AL ACUERDO:</b> <br>
    Tutoexperts podrá modificar los Términos y Condiciones aquí relacionados en cualquier momento, en caso, de que el usuario no acepte la modificación, podrá hacerlo saber a Tutoexperts, dentro de los siguientes cinco (5) días hábiles, al término de los cuales, sin recibir comunicación, se considerará que el usuario acepta los nuevos términos y el contrato continuará vinculando a ambas partes. En caso contrario  quedará disuelto el vínculo contractual y será inhabilitado como Usuario, siempre que no tenga cuentas u obligaciones pendientes.

</p>
<p class="bottommargin-sm text-justify">
    <strong>Datos del Responsable del tratamiento</strong> <br>
    Equipo Administrativo Tutoexperts <br>
    Página web: <a href="{%url 'home' %}">tutoexperts.com</a> <br>
    Correo electrónico: {{"contactanos@tutoexperts.com"|urlize}} <br>
    Celular: <a href="tel:+573208914930">3208914930</a>
</p>