{% load humanize theme_template_tags %}
<div class="row tabs side-tabs nobottommargin clearfix">
    <ul class="col-lg-3 col-md-12 tab-nav tab-nav2 clearfix">
        {% regroup form.areas.field.queryset.all by level as areas %}
        {% for group in areas %}

        {% if group.list.0.level > 2 %}
        <label style="line-height: 30px !important; margin-top: 15px;">{{ group.list.0.get_level_display|upper }}</label>
        {% endif %}
        {% for area in group.list %}
        <li>
            <a href="#area-{{ area.id }}">{{ area.name|upper }}</a>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>

    <div class="col-lg-9 tab-container">
        {% for area in form.areas.field.queryset.all %}
        <div class="tab-content row clearfix" id="area-{{ area.id }}">
            {% for subject in form.subjects.field.queryset.all %}
            {% if subject.area.id == area.id %}
            <div class="col-lg-6 col-md-12 bottommargin-sm white-section">
                <input id="subject-{{ subject.id }}" class="checkbox-style" name="subjects" type="checkbox" value="{{ subject.id }}" onclick="enable_disable_related_input(this, 'subject')">
                <label for="subject-{{ subject.id }}" class="checkbox-style-1-label"> {{ subject.name }} </label>

                <select name="skill_subject_price_{{ subject.id }}" data-subject-for="{{ subject.id }}" class="sm-form-control required" disabled>
                    {% range area.min_price:area.increment:area.max_price as i %}
                    <option value="{{i}}">$ {{i|intcomma}}</option>
                    {% endrange %}
                </select>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>