{% extends "theme/base_theme.html" %}
<!-- archivos staticos -->
{% load static %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | 403 {% endblock title %}
<!-- Contenido -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="error404 center">403</div>
        </div>
    </div>
</section>
{% endblock content %}