{% extends "admin/base.html" %}
{% load static %}
<!--titulo-->
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }} {% endblock%}
<!--brand-->
{% block branding %}
<h1 id="site-name">Administración Tuto Experts
    <!-- <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/logo-tuto-experts.png' %}" alt="Tuto Experts" style="max-width: 150px; height: auto;">
    </a> -->
</h1>
{% endblock %} {% block nav-global %}{% endblock %}