{% extends "admin/change_list.html" %}


{% block sidebar %}
{{block.super}}

<div>
    <a class="button" role="button" title="Descargar formato para confirmar pago realizado" href="{{ request.path }}download-payment-confirmation-template/">
        Formato reporte de pagos
    </a>
    &nbsp;&nbsp;&nbsp;
    <a class="button" role="button" title="Descargar reporte de pago a docentes" href="{{ request.path }}generate-payment-file/">
        Generar reporte para pagos
    </a>
</div>
{% endblock %}