{% extends "admin/change_list.html" %}

{% load i18n humanize mathfilters tz static %}

{% block content_title %}
<h1>
    Resumen de Reservas
</h1>
{% endblock %}

{% block result_list %}
<link rel="stylesheet" href="{% static 'css/bars-chart.css' %}" type="text/css" />
<script src="{% static 'js/jquery.js' %}"></script>

<div class="results">
    <table>

        <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Docente</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Reservas</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Total Ventas</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Total Pagado / Por Pagar</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>% de Ventas</strong>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for row in summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    {{ row.teacher_full_name }}
                </td>
                <td>
                    {{ row.total | intcomma }}
                </td>
                <td>
                    $ {{ row.total_sales | default:0 | intcomma }}
                </td>
                <td>
                    $ {{ row.teacher_sales | intcomma }}
                </td>
                <td>
                    <strong>
                        {{ row.total_sales | default:0 | div:summary_total.total_sales | mul:100 | floatformat:2 }} %
                    </strong>
                </td>
            </tr>
            {% endfor %}

            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> Total </td>
                <td> {{ summary_total.total | intcomma }} </td>
                <td> $ {{ summary_total.total_sales | default:0 | intcomma }} </td>
                <td> $ {{ summary_total.teacher_sales | default:0 | intcomma }} </td>
                <td> 100 % </td>
            </tr>
        </tbody>

    </table>
</div>

<h2>
    Ventas en el tiempo (por {{ period }})
</h2>

{% timezone 'UTC' %}
<div class="results">
    <div class="bar-chart">
        {% for x in summary_over_time %}
        <div class="bar" style="height:{{ x.pct | floatformat:'0' }}%;">
            <div class="bar-tooltip">
                $ {{ x.total | default:0 | intcomma }} <br>
                {{ x.period | date:"d/m/Y"}} <br>
                {{ x.pct | floatformat:1 }} %
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endtimezone %}

{% endblock %}

{% block pagination %}{% endblock %}