{% if post.comments %}

<!-- Comments
	============================================= -->

<!-- Comments List
		============================================= -->
<ol class="commentlist clearfix">

	{% for comment in post.comments.all %}

	<li class="comment even thread-even depth-1" id="li-comment-1">


		<div id="comment-1" class="comment-wrap clearfix">

			<div class="comment-meta">

				<div class="comment-author vcard">

					<span class="comment-avatar clearfix">
						<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>

				</div>

			</div>

			<div class="comment-content clearfix">

				<div class="comment-author"> {{ comment.user }}<span>{{ comment.post_date }}</span></div>

				<p>{{ comment.body_text }}</p>

			</div>

			<div class="clear"></div>

		</div>

	</li>
	{% endfor %}

</ol><!-- .commentlist end -->

<div class="clear"></div>
{% endif %}

<!-- Comment Form
============================================= -->
{% if user.is_authenticated %}
<div id="respond" class="clearfix">

	<h3>Deja <span>tu comentario</span></h3>

	<form class="clearfix" action="#" method="post" id="commentform">
		{% csrf_token %}

		<div class="col_full">
			{{ form }}
		</div>

		<div class="col_full nobottommargin">
			<button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d button-rounded button-green nomargin">Enviar</button>
		</div>

	</form>

</div><!-- #respond end -->

{% else %}
<h3 id="comments-title"><span>Para comentar debe estar autenticado!</span> </h3>
{% endif %}