{% extends "base.html" %}
<!-- archivos staticos -->
{% load static i18n humanize mathfilters widget_tweaks %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Nueva Entrada {% endblock title %}
<!-- Contenido -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col_full required">
                    <p class="error-color">{{ form.title.errors }}</p>
                    <label for="{{ form.title.id_for_label }}" class="required">{{ form.title.label }}:</label>
                    {% render_field form.title class+="sm-form-control required" %}
                    <p class="help">{{ form.title.help_text|safe }}</p>
                </div>

                <div class="col_one_third required">
                    <p class="error-color">{{ form.category.errors }}</p>
                    <label for="{{ form.category.id_for_label }}" class="required">{{ form.category.label }}:</label>
                    {% render_field form.category class+="sm-form-control required" %}
                    <p class="help">{{ form.category.help_text|safe }}</p>
                </div>
                <div class="col_one_third required">
                    <p class="error-color">{{ form.featured_image.errors }}</p>
                    <label for="{{ form.featured_image.id_for_label }}" class="required">{{ form.featured_image.label }}:</label>
                    {% render_field form.featured_image class+="sm-form-control required file" accept="image/*" %}
                    <p class="help">{{ form.featured_image.help_text|safe }}</p>
                </div>
                <div class="col_one_third col_last required">
                    <p class="error-color">{{ form.allow_comments.errors }}</p>
                    {% render_field form.allow_comments class+="sm-form-control required checkbox-style" %}
                    <label for="{{ form.allow_comments.id_for_label }}" class="checkbox-style-1-label">{{ form.allow_comments.label }}:</label>
                    <p class="help">{{ form.allow_comments.help_text|safe }}</p>
                </div>

                <div class="col_full required">
                    <p class="error-color">{{ form.body_text.errors }}</p>
                    <label for="{{ form.body_text.id_for_label }}" class="required">{{ form.body_text.label }}:</label>
                    {% render_field form.body_text class+="sm-form-control required" %}
                    <p class="help">{{ form.body_text.help_text|safe }}</p>
                </div>

                <input type="submit" value="{% trans 'Submit' %}" class="button button-3d button-rounded button-green nomargin center" />

            </form>
        </div>
    </div>
</section>
{% endblock %}
<!-- adicional css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/bs-filestyle.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/redactor.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}" type="text/css" />
{% endblock %}
<!-- adicional js -->
{% block extra_js %}
<script src="{% static 'js/components/bs-filestyle.js' %}"></script>
<script src="{% static 'js/components/redactor.min.js' %}"></script>
<script src="{% static 'redactor/plugins/alignment.min.js' %}"></script>
<script src="{% static 'redactor/plugins/counter.min.js' %}"></script>
<script src="{% static 'redactor/plugins/fontcolor.min.js' %}"></script>
<script src="{% static 'redactor/plugins/fontfamily.min.js' %}"></script>
<script src="{% static 'redactor/plugins/fontsize.min.js' %}"></script>
<script src="{% static 'redactor/plugins/table.min.js' %}"></script>
<script src="{% static 'redactor/plugins/video.min.js' %}"></script>
<script type="text/javascript">
    $(".file").fileinput({
        showUpload: false,
        showPreview: false,
        browseLabel: 'Buscar',
        browseIcon: '<i class="icon-search3"></i>',
        removeLabel: 'Cancelar',
        removeTitle: 'Cancelar archivos seleccionados',
        removeIcon: '<i class="icon-remove"></i>',
        msgPlaceholder: 'Seleccionar archivo'
    })

    $('#id_body_text').redactor({
        plugins: ['alignment', 'counter', 'fontcolor', 'fontfamily', 'fontsize', 'table', 'video']
    })
</script>
{% endblock %}