{% extends 'base.html' %}

{% load i18n %}
<!-- title block -->
{% block title %} {{ block.super}} | Blog {% endblock %}

<!-- Content block -->
{% block content %}

<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="single-post nobottommargin">

				<!-- Single Post
						============================================= -->
				<div class="entry clearfix">

					<!-- Entry Title
							============================================= -->
					<div class="entry-title">
						<h2>{{ post.title }}</h2>
					</div><!-- .entry-title end -->

					<!-- Entry Meta
							============================================= -->
					<ul class="entry-meta clearfix">
						<li><i class="icon-calendar3"></i> {{ post.post_date }}</li>
						<li><a href="#"><i class="icon-user"></i> {{ post.posted_by }}</a></li>
						<li><i class="icon-folder-open"></i>{{ post.category }}</li>
						<li><a href="#"><i class="icon-comments"></i> {{ post.comment_count }} </a></li>
					</ul><!-- .entry-meta end -->

					<!-- Entry Image
							============================================= -->
					{% if post.featured_image %}
					<div class="entry-image bottommargin">
						<a href="{{ post.featured_image.url }}"><img src="{{ post.featured_image.url }}" alt="{{post.title}}"></a>
					</div><!-- .entry-image end -->
					{% endif %}
					<!-- Entry Content
							============================================= -->
					<div class="entry-content notopmargin">
						{{ post.body_text | safe }}
						<div class="clear"></div>
					</div>
				</div><!-- .entry end -->


				<div id="comments" class="clearfix">

					<h3 id="comments-title"><span>{{ post.comment_count }}</span> Comentario{{ post.comment_count|pluralize }}</h3>

					{% include 'blog/comments.html' %}
				</div><!-- #comments end -->

				<div class="line"></div>

				{% if related_posts %}

				<h4>Quizás te pueda interesar</h4>

				{% for r_post in related_posts %}

				<div class="col_half {% if not forloop.counter0|divisibleby:2 %} col_last {% endif %} mpost clearfix">

					{% if r_post.featured_image %}
					<div class="entry-image">
						<a href="{{ r_post.get_absolute_url }}" data-lightbox="image">
							<img class="image_fade" src="{{ r_post.featured_image.url }}" alt="{{ r_post.title}}">
						</a>
					</div>
					{% endif %}
					<div class="entry-c">
						<div class="entry-title">
							<h4>
								<a href="{{ r_post.get_absolute_url }}">{{ r_post.title }}</a>
							</h4>
						</div>
						<ul class="entry-meta clearfix">
							<li><i class="icon-calendar3"></i> {{ r_post.post_date }}</li>
							<li><i class="icon-comments"></i> {{ r_post.comment_count }}</li>
						</ul>
						<div class="entry-content">
							<p>{{ r_post.body_text | safe |truncatewords:20 }}</p>
						</div>
					</div>
				</div>

				{% endfor %}

				{% endif %}

			</div>

		</div>

	</div>

</section><!-- #content end -->

{% endblock %}