{% extends 'base.html' %}

{% load i18n %}
<!-- title block -->
{% block title %} {{ block.super}} | Blog {% endblock %}

<!-- Content block -->
{% block content %}

<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			{% for post in posts %}
			<div id="posts" class="small-thumbs">

				<div class="entry clearfix">
					{% if post.featured_image %}
					<div class="entry-image">
						<a href="{{ post.featured_image.url }}" data-lightbox="image"><img class="image_fade" src="{{ post.featured_image.url }}" alt="{{ post.title }}"></a>
					</div>
					{% endif %}
					<div class="entry-c">
						<div class="entry-title">
							<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
						</div>
						<ul class="entry-meta clearfix">
							<li><i class="icon-calendar3"></i> {{ post.post_date }}</li>
							<li><a href="#"><i class="icon-user"></i> {{ post.posted_by }}</a></li>
							<li><i class="icon-folder-open"></i> {{ post.category }}</li>
							<li><i class="icon-comments"></i> {{ post.comment_count }}</li>
						</ul>
						<div class="entry-content">
							<p>{{ post.body_text | safe | truncatewords:40 }}</p>
							<a href="{{ post.get_absolute_url }}" class="more-link">Leer Mas...</a>
						</div>
					</div>
				</div>
				{% empty %}
				<div class="heading-block center">
					<h2><i class="fa fa-icon-frown-o fa-icon-4x"></i></h2>
					<span>No existen entradas a la fecha</span>
				</div>
				{% endfor %}

				<!-- Pagination
					============================================= -->
				{% if is_paginated %}
				<div class="row mb-3">
					<div class="col-12">
						{% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark float-left">&larr; Anteriores</a>
						{% endif %}
						{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary float-right">Recientes &rarr;</a>
						{% endif %}
					</div>
				</div>
				{% endif %}
				<!-- .pager end -->

			</div>

		</div>

</section>
{% endblock %}