{% load static %}

<!-- External JavaScripts
	============================================= -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/star-rating.js' %}"></script>
<!-- Footer Scripts
============================================= -->
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/tuto_expert.js' %}"></script>