{% load static %}
<footer id="footer" style="background-color: #F5F5F5;border-top: 2px solid rgba(0,0,0,0.06);">
  <div class="container" style="border-bottom: 1px solid rgba(0,0,0,0.06);">
    <!-- Footer Widgets
                ============================================= -->
    <div class="footer-widgets-wrap clearfix">
      <div class="col_two_third">
        <div class="widget clearfix">
          <form id="widget-subscribe-form" action="{% url 'users:subscribe' %}" role="form" method="post" class="nobottommargin row clearfix">
            {% csrf_token %}
            <div class="col-lg-9">
              <input type="email" id="widget-subscribe-form-email" name="email" class="sm-form-control required email" placeholder="Digita tu correo para mantenerte actualizado" required>
            </div>
            <div class="input-group-append col-lg-3">
              <button class="button button-rounded button-3d nomargin center btn-block button-green" type="button" id="button-subscribe" onclick="showSubscriptionTC()">Suscribirme
              </button>
            </div>

            <div class="modal fade bs-example-modal-lg" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="mySubscribeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-body">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title uppercase">
                        Términos y <span> Condiciones de Uso</span>
                      </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body mx-3">
                      <blockquote>
                        <p>
                          Con el envío de este mensaje autorizo de manera informada, previa y expresa a Tutoexperts. para que trate mis datos personales con fines de contacto comercial o profesional.
                          <div>
                            <input id="checkbox-subscribe" class="checkbox-style" name="accept_tc" type="checkbox">
                            <label for="checkbox-subscribe" class="checkbox-style-1-label checkbox-small">
                              He leído y acepto los <a href="{% url 'terms_and_conditions' %}" target="_blank">términos y condiciones</a>
                            </label>
                          </div>
                        </p>
                        <footer class="blockquote-footer">
                          Adicionalmente, manifiesto que he sido informado (a) de lo que ordena el artículo 12 de la ley 1581 de 2012.
                        </footer>
                      </blockquote>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary" onclick="sendSubscription()">Suscribirme</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>

          <div class="line line-sm"></div>

          <div class="clear-bottommargin-sm clearfix">
            <div class="row">
              <div class="col-lg-3 col-6 bottommargin-sm widget_links">
                <ul>
                  <li>
                    <a href="/">Inicio</a>
                  </li>
                  <li>
                    <a href="{% url 'about' %}">Nosotros</a>
                  </li>
                  <li>
                    <a href="{% url 'faqs' %}">FAQs</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-6 bottommargin-sm widget_links">
                <ul>
                  {% if user.is_authenticated and user.student %}
                  <li>
                    <a href="{% url 'users:search_teacher' %}">Agendar</a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{% url 'blog:index' %}">Blog</a>
                  </li>
                  <li>
                    <a href="{% url 'contact' %}">Contacto</a>
                  </li>
                </ul>
              </div>
              {% if user.is_authenticated %}
              <div class="col-lg-3 col-6 bottommargin-sm widget_links">
                <ul>
                  <li>
                    <a href="{% url 'users:user_profile' request.user.pk %}">Perfil</a>
                  </li>
                  <li>
                    <a href="{% url 'auth_password_change' %}">Cambiar contraseña</a>
                  </li>
                  <li>
                    <a href="{% url 'auth_logout' %}">Salir</a>
                  </li>
                </ul>
              </div>
              {% endif %}
              <div class="col-12">
                <img class="col-lg-3" src="{% static 'images/icons/logo_pse.png' %}" alt="Logo PSE" style="max-width: 15%; height: auto;" />
                <img class="col-lg-3" src="{% static 'images/icons/logo_tc.png' %}" alt="Logo PSE" style="max-width: 28%; height: auto;">
                <img class="col-lg-3" src="{% static 'images/icons/logo_baloto.png' %}" alt="Logo PSE" style="max-width: 25%; height: auto;">
                <img class="col-lg-3" src="{% static 'images/icons/logo_efecty.png' %}" alt="Logo PSE" style="max-width: 25%; height: auto;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="widget clear-bottommargin-sm clearfix">
          <div class="row">
            <div class="col-lg-12 bottommargin-sm">
              <div class="footer-big-contacts footer-contact">
                <span>Llamanos:</span>
                <a href="tel:{{ settings.SITE_CONTACT_PHONE_NUMBER }}">{{ settings.SITE_CONTACT_PHONE_NUMBER }}</a>
                <a href="https://api.whatsapp.com/send?phone={{settings.SITE_WHATSAPP_PHONE_NUMBER|cut:' '|cut:'+'}}" target="_blank" style="color: #098609;">
                  <i class="col-auto fa fa-icon-2x fa-icon-whatsapp"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-12 bottommargin-sm">
              <div class="footer-big-contacts footer-contact">
                <span>Envíanos tus comentarios:</span>
                {{ settings.SITE_INFO_EMAIL | urlize }}
              </div>
            </div>
          </div>
        </div>

        <div class="widget subscribe-widget clearfix">
          <div class="row">
            <div class="col-lg-6 clearfix bottommargin-sm">
              <a href="{{settings.FACEBOOK_SITE}}" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                <i class="icon-facebook"></i>
                <i class="icon-line2-social-facebook"></i>
              </a>
              <a href="{{settings.FACEBOOK_SITE}}" target="_blank">
                <small style="display: block; margin-top: 3px;">
                  <strong>Agreganos</strong>
                  <br>en Facebook</small>
              </a>
            </div>
            <div class="col-lg-6 clearfix">
              <a href="{{settings.TWITTER_SITE}}" target="_blank" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="{{settings.TWITTER_SITE}}" target="_blank">
                <small style="display: block; margin-top: 3px;">
                  <strong>Siguenos</strong>
                  <br>en Twitter</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer-widgets-wrap end -->
  </div>
  <!-- Copyrights
            ============================================= -->
  <div id="copyrights" class="nobg">
    <div class="container clearfix">
      <div class="col_half">
        Copyrights &copy; 2018 All Rights Reserved by PAI Inc.
        <br>
        <div class="copyright-links">
          <a href="/">Terminos de Uso</a> /
          <a href="/">Políticas de Privacidad</a>
        </div>
      </div>
      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links clearfix">
          <a href="/">Inicio</a>/
          <a href="{% url 'about' %}">Nosotros</a>/
          <a href="/">Profesores</a>/
          <a href="{% url 'blog:index' %}">Blog</a>/
          <a href="{% url 'faqs' %}">FAQs</a>/
          <a href="{% url 'contact' %}">Contacto</a>
        </div>
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
<script type="text/javascript">
  $('#widget-subscribe-form').on('keyup keypress', function (e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
      e.preventDefault();
      return false;
    }
  });
</script>
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}" type="text/css" />
<style>
  .footer-contact {
    font-size: 2.1vh;
  }
</style>
{% endblock %}