{% load static %}
<!-- Inluide Jqyery -->
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tuto_expert.js' %}"></script>
{% endblock %}
<!-- Top Bar
============================================= -->
<div id="top-bar">
  <div class="container clearfix">
    <div class="col_half d-none d-md-block nobottommargin">
      <!-- Top Links
        ============================================= -->
      <div class="top-links">
        <ul>
          {% comment %}
          <li>
            <a href="/"><i class="icon-time"></i> Horarios de atención</a>
          </li>
          {% endcomment %}
          <li>
            <a href="tel:{{ settings.SITE_CONTACT_PHONE_NUMBER }}"><i class="icon-phone3"></i>{{ settings.SITE_CONTACT_PHONE_NUMBER }}</a>
          </li>
          <li>
            <a href="mailto:{{ settings.SITE_INFO_EMAIL }}" class="nott"><i class="icon-envelope2"></i> {{ settings.SITE_INFO_EMAIL }}</a>
          </li>
        </ul>
      </div>
      <!-- .top-links end -->
    </div>
    <div class="col_half col_last fright nobottommargin">
      <!-- Top Links
       ============================================= -->
      <div class="top-links">
        <ul>
          <li>
            {% if not request.user.is_authenticated %}
            <a href="{% url 'auth_login' %}" data-offset="100" data-easing="easeInOutExpo" data-speed="1200" class="button-green" style="color:#fff;">
              <i class="icon-line2-login"></i> INICIAR SESIÓN
            </a> {% else %}
            <a href="{% url 'auth_logout' %}" data-offset="100" data-easing="easeInOutExpo" data-speed="1200" class="button-green" style="color:#fff;">
              <i class="icon-line2-logout"></i> SALIR
            </a> {% endif %}
          </li>
        </ul>
      </div>
      <!-- .top-links end -->
    </div>
  </div>
</div>