{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<header id="header">
  <div id="header-wrap">
    <div class="container-fluid clearfix bg-white">
      <div id="primary-menu-trigger">
        <i class="icon-reorder"></i>
      </div>
      <!-- Logo
					============================================= -->
      <div id="logo">
        <a href="{% url 'home' %}" class="standard-logo">
          <img src="{% static 'images/logo-tuto-experts.png' %}" alt="Tuto Experts">
        </a>
        <a href="{% url 'home' %}" class="retina-logo">
          <img src="{% static 'images/logo-tuto-experts.png' %}" alt="Tuto Experts">
        </a>
      </div>
      <!-- #logo end -->
      <!-- Primary Navigation
					============================================= -->
      <nav id="primary-menu" class="style-3">
        <ul>
          <li class="{% if request.get_full_path == '/' %} current {% endif %}">
            <a href="{% url 'home' %}">
              <div>Inicio</div>
            </a>
          </li>
          {% if user.is_authenticated and user.student %}
          <li class="{% if '/users/search' in request.get_full_path or '/users/teacher' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'users:search_teacher' %}">
              <div>Reservar</div>
            </a>
          </li>
          {% endif %}
          {% if not user.is_authenticated %}
          <li class="{% if '/register/student' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'student_signup' %}">
              <div class="uppercase">Solicita tu clase aquí</div>
            </a>
          </li>

          <li class="{% if '/register/teacher' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'teacher_signup' %}">
              <div class="uppercase">Registrate como tutor</div>
            </a>
          </li>
          {% endif %}
          <li class="{% if '/subjects/' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'subjects' %}">
              <div>Materias</div>
            </a>
          </li>
          <li class="{% if '/about' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'about' %}">
              <div>Nosotros</div>
            </a>
          </li>
          <li class="{% if '/faqs/' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'faqs' %}">
              <div>FAQs</div>
            </a>
          </li>
          <li class="{% if '/blog/' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'blog:index' %}">
              <div>Blog</div>
            </a>
          </li>
          <li class="{% if '/contact/' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'contact' %}">
              <div>Contacto</div>
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="{% if '/profile/' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'users:user_profile' request.user.pk %}">
              <div>{{user.get_full_name|truncatewords:1}}</div>
            </a>
            <ul>
              <li>
                <a href="{% if user.teacher %}{% url 'users:teacher_update_profile'  request.user.pk %}{% else %}{% url 'users:student_update_profile'  request.user.pk %}{% endif %}">
                  <div>Editar Perfil</div>
                </a>
              </li>

              {% if user.teacher %}
              <li>
                <a href="{% url 'blog:create' %}">
                  <div>Nueva publicación</div>
                </a>
              </li>
              {% endif %}
              <li>
                <a href="{% url 'auth_password_change' %}">Cambiar contraseña</a>
              </li>
              <li>
                <a href="{% url 'auth_logout' %}">Salir</a>
              </li>
            </ul>
          </li>

          {% comment %}
          {% else %}
          <li class="{% if '/login/' in request.get_full_path %} current {% endif %}">
            <a href="{% url 'auth_login' %}">
              <div>Iniciar Sesión</div>
            </a>
          </li>
          {% endcomment %}


          {% endif %}
        </ul>
      </nav>
      <!-- #primary-menu end -->
    </div>
  </div>
</header>