	/*
  	
  	*/

	@font-face {
	  font-family: "Flaticon";
	  src: url("fonts/Flaticon.eot");
	  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	    url("fonts/Flaticon.woff2") format("woff2"),
	    url("fonts/Flaticon.woff") format("woff"),
	    url("fonts/Flaticon.ttf") format("truetype");
	  font-weight: normal;
	  font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	  @font-face {
	    font-family: "Flaticon";
	    src: url("./Flaticon.svg#Flaticon") format("svg");
	  }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	  font-family: Flaticon;
	  font-size: 48px;
	  font-style: normal;
	  margin-left: 0px;
	  color: #002347;
	}

	.flaticon-student:before {
	  content: "\f100";
	}

	.flaticon-book:before {
	  content: "\f101";
	}

	.flaticon-earth:before {
	  content: "\f102";
	}