{% load widget_tweaks %}

<div class="fixed-menu">
    <div data-toggle="modal" class="button button-small button-rounded button-3d button-green" data-target="#feedback-modal" role="button">
        <i class="icon-comment-alt"></i> Mi experiencia
    </div>
</div>

<div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Enviar mis comentarios</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" role="form" method="post">
                        {% csrf_token %}
                        <input name="rating" value="1" class="rating" data-show-caption="false" data-step="1" data-show-clear="false" data-size="sm" max="5" min="1" required id="id_rating" />

                        {% render_field form.text %}

                        <button class="button button-3d button-rounded button-green d-sm-inline-block" type="submit" style="margin-top:15px;">
                            <i class="icon-line2-paper-plane"></i> Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>