{% extends "theme/base_theme.html" %}
<!-- archivos staticos -->
{% load static %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Comentarios de usuarios {% endblock title %}
<!-- Contenido -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <ul class="testimonials-grid grid-3 clearfix">
                {% for feedback in feedbacks %}
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#">
                                {% if feedback.user_type == 0 %}
                                <img src="{% if not feedback.user.student.photo %}{% static 'images/tutors/avatar.svg' %}{% else %}{{ feedback.user.student.photo.url }}{% endif %}" alt="{{ feedback.user.get_full_name }}">
                                {% else %}
                                <img src="{% if not feedback.user.teacher.photo %}{% static 'images/tutors/avatar.svg' %}{% else %}{{ feedback.user.teacher.photo.url }}{% endif %}" alt="{{ feedback.user.get_full_name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="testi-content">
                            <p>{{feedback.text}}</p>
                            <input class="rating" value="{{feedback.rating|stringformat:'.1f'}}" data-size="xs" readonly data-show-caption="false" data-show-clear="false">
                            <div class="testi-meta">
                                {{ feedback.user.get_full_name }}
                                <span>{{ feedback.created_at }}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <!-- Pagination 
                                        ============================================= -->
            {% if is_paginated %}
            <div class="d-flex justify-content-center">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="{{i}}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <!-- .pager end -->
        </div>
    </div>
</section>
{% endblock content %}