{% extends "base.html" %}
<!-- archivos staticos -->
{% load static i18n widget_tweaks %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Búsqueda {% endblock title %}
<!-- Contenido -->
{% block content %}
<section id="slider" class="slider-element full-screen">

	<div class="row full-screen">

		<div class="col-lg-7 col-md-6 full-screen center nopadding" style="background: url('{% static 'images/slider/4.jpg' %}') center center no-repeat; background-size: cover;">
			<div class="vertical-middle dark center clearfix" style="z-index: 2;">

				<div class="emphasis-title nobottommargin">
					<h1>
						<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="6000">
							<span class="t-rotate t700 font-body opm-medium-word">Mejores tutores.|Tú horario.|Cuando lo necesites.</span>
						</span>
					</h1>
				</div>

			</div>
			<div class="video-wrap" style="position: absolute; z-index:1; height:100%;">
				<div class="video-overlay" style="background-color: rgba(0,0,0,0.2);"></div>
			</div>
		</div>

		<div class="col-lg-5 col-md-6 full-screen" style="background-color: #F5F5F5;">
			<div class="vertical-middle" data-loader="button">
				<div class="col-padding">
					<div class="heading-block nobottomborder bottommargin-sm">
						<h2 style="line-height: 1;font-size: 20px;">Escoge el tutor</h2>
					</div>

					<form method="post" id="search_teacher_form" data-subjects-url="{% url 'users:ajax_load_subject' %}" class="nobottommargin" data-animate="fadeInUp" data-delay="600">
						{% csrf_token %}

						<div class="col_full required">
							<label for="{{ form.area.id_for_label }}" class="required">
								{{ form.area.label }}:
							</label>
							{% render_field form.area class+="sm-form-control required" %}
						</div>
						<div class="col_full required">
							<label for="{{ form.subject.id_for_label }}" class="required">
								{{ form.subject.label }}:
							</label>
							{% render_field form.subject class+="sm-form-control required" %}
						</div>

						<div class="col_half required">
							<label for="{{ form.class_mode.id_for_label }}" class="required">
								{{ form.class_mode.label }}:
							</label>
							{% render_field form.class_mode class+="sm-form-control required" %}
						</div>

						<div class="col_half col_last required">
							<label for="{{ form.duration.id_for_label }}" class="required">
								{{ form.duration.label }} (Horas):
							</label>
							{% render_field form.duration class+="sm-form-control required" value="1" min="1" step="1" %}
						</div>

						<div class="col_half required">
							<label for="{{ form.class_date.id_for_label }}" class="required">
								{{ form.class_date.label }}:
							</label>
							{{form.class_date}}
						</div>

						<div class="col_half col_last required">
							<label for="{{ form.class_time.id_for_label }}" class="required">
								{{ form.class_time.label }}:
							</label>
							{{form.class_time}}
						</div>

						<div class="col_full nobottommargin center">
							<button type="submit" class="button button-dark button-3d button-rounded button-green nomargin" value="submit">Buscar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>

{% endblock content %}
<!-- adicional css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/datepicker.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/jquery.timepicker.min.css' %}" type="text/css" />
{% endblock %}
<!-- adicional js -->
{% block extra_js %}
<script src="{% static 'js/components/datepicker.js' %}"></script>
<script src="{% static 'js/components/jquery.timepicker.min.js' %}"></script>

<script>
	$(function () {
		$('.datetimepicker').datepicker({
			format: 'yyyy-mm-dd',
			language: 'es',
			autoclose: true,
			todayBtn: "linked",
			todayHighlight: true,
			startDate: new Date()
		})

		$('.timepicker').timepicker({
			timeFormat: 'hh:mm p',
			dynamic: false,
			dropdown: true,
			scrollbar: false
		})

		$("#id_area").change(function () {
			getSubjects($(this).val())
		})

		var selectedArea = $('#id_area').val()
		if (selectedArea) getSubjects(selectedArea)

		/** duration validations & events */
		$('#id_duration').keypress(function (event) {
			return (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 8
		})

		$('#id_duration').on('input', function () {
			var value = $(this).val()

			if (!value) $(this).val(1)
		})

		var pre_selected_date = '{{ request.session.reservation_date }}'
		if (pre_selected_date) {
			var date_time = pre_selected_date.split(' ')
			$('.datetimepicker').val(date_time[0])
			$('.timepicker').val(date_time[1] + ' ' + date_time[2])
		}
	})

	function getSubjects(areaId) {
		var url = $("#search_teacher_form").attr("data-subjects-url");
		$.ajax({
			url: url,
			data: {
				'area': areaId
			},
			success: function (data) {
				$("#id_subject").html(data)

				pre_selected_subject = '{{ request.session.reservation_subject }}'
				if (pre_selected_subject) $('#id_subject').val(pre_selected_subject)
			}
		})
	}
</script>
{% endblock %}