{% extends "base.html" %}
<!-- archivos staticos -->
{% load static i18n humanize widget_tweaks %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Editar Perfil {% endblock title %}
<!-- Contenido -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="d-flex justify-content-center">
                {% if not request.user.student.photo %}
                <img src="{% static 'images/tutors/avatar.svg' %}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 120px; height: 120px;">
                {% else %}
                <img src="{{ request.user.student.photo.url }}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 120px; height: 120px;">
                {% endif %}
            </div>

            <div class="line"></div>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col_half required">
                    <p class="error-color">{{ form.first_name.errors }}</p>
                    <label for="{{ form.first_name.id_for_label }}" class="required">
                        {{ form.first_name.label }}:
                    </label>
                    {% render_field form.first_name class+="sm-form-control required" %}
                </div>
                <div class="col_half col_last required">
                    <p class="error-color">{{ form.last_name.errors }}</p>
                    <label for="{{ form.last_name.id_for_label }}" class="required">
                        {{ form.last_name.label }}:
                    </label>
                    {% render_field form.last_name class+="sm-form-control required" %}
                </div>

                <div class="col_half required">
                    <p class="error-color">{{ form.phone_number.errors }}</p>
                    <label for="{{ form.phone_number.id_for_label }}" class="required">
                        {{ form.phone_number.label }}:
                    </label>
                    {% if user.student.phone %}
                    {% render_field form.phone_number class+="sm-form-control required" value=request.user.student.phone %}
                    {% else %}
                    {% render_field form.phone_number class+="sm-form-control required" %}
                    {% endif %}
                </div>
                <div class="col_half col_last required">
                    <p class="error-color">{{ form.preferred_subject.errors }}</p>
                    <label for="{{ form.preferred_subject.id_for_label }}" class="required">
                        {{ form.preferred_subject.label }}:
                    </label>
                    {% if user.student.preferred_subject %}
                    {% render_field form.preferred_subject class+="sm-form-control required" value=request.user.student.preferred_subject %}
                    {% else %}
                    {% render_field form.preferred_subject class+="sm-form-control required" %}
                    {% endif %}
                </div>

                <div class="col_half required">
                    <p class="error-color">{{ form.birth_date.errors }}</p>
                    <label for="{{ form.birth_date.id_for_label }}" class="required">
                        {{ form.birth_date.label }}:
                    </label>
                    {% if user.student.birth_date %}
                    {% render_field form.birth_date class+="sm-form-control required datetimepicker" value=request.user.student.birth_date %}
                    {% else %}
                    {% render_field form.birth_date class+="sm-form-control required datetimepicker" %}
                    {% endif %}
                </div>
                <div class="col_half col_last required">
                    <p class="error-color">{{ form.photo.errors }}</p>
                    <label for="{{ form.photo.id_for_label }}" class="required">
                        {{ form.photo.label }}:
                    </label>
                    {% render_field form.photo class+="sm-form-control file required" accept="image/*" %}
                    <p class="help">{{ form.photo.help_text|safe }}</p>
                </div>

                <input type="submit" value="{% trans 'Save' %}" class="button button-3d button-rounded button-green nomargin fright" />
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/datepicker.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/bs-filestyle.css' %}" type="text/css" />
{% endblock %}
<!-- adicional js -->
{% block extra_js %}
<script src="{% static 'js/components/moment.js' %}"></script>
<script src="{% static 'js/components/datepicker.js' %}"></script>
<script src="{% static 'js/components/bs-filestyle.js' %}"></script>

<script type="text/javascript">
    $('.datetimepicker').datepicker({
        format: 'yyyy-mm-dd',
        language: 'es',
        autoclose: true,
        todayBtn: "linked",
        todayHighlight: true
    })

    $(".file").fileinput({
        showUpload: false,
        showPreview: false,
        browseLabel: 'Buscar',
        browseIcon: '<i class="icon-search3"></i>',
        removeLabel: 'Cancelar',
        removeTitle: 'Cancelar archivos seleccionados',
        removeIcon: '<i class="icon-remove"></i>',
        msgPlaceholder: 'Seleccionar archivo'
    })
</script>
{% endblock %}