{% extends "theme/base_theme.html" %}
<!-- archivos staticos -->
{% load static %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Materias {% endblock title %}
<!-- Contenido -->
{% block content %}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="fancy-title title-dotted-border title-center">
                <h4>En
                    <span>tutoexperts</span>
                    puedes encontrar clases particulares virtuales o a domicilio
                    {% if not user.is_authenticated %}
                    <span class="dropdown show">
                        <a href="#" role="button" id="registerDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Regístrate
                        </a>

                        <div class="dropdown-menu" aria-labelledby="registerDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'student_signup' %}">
                                <div class="uppercase">Solicita tu clase aquí</div>
                            </a>

                            <a class="dropdown-item" href="{% url 'teacher_signup' %}">
                                <div class="uppercase">Registrate como tutor</div>
                            </a>
                        </div>
                    </span>
                    {% else %} Regístrate {% endif %} y encuentra tutores expertos en:
                </h4>
            </div>

            <div class="portfolio grid-container portfolio-2 clearfix">
                {% for subject in subjects %}
                <article class="portfolio-item pf-media pf-icons">
                    <div class="portfolio-desc">
                        <h3><a href="#">{{subject.name}}</a></h3>
                        <span><a href="#">{{subject.area.get_level_display}}</a>, <a href="#">{{subject.area.name}}</a></span>
                    </div>
                    <div class="portfolio-image">
                        <a href="#">
                            <img src="{% if not subject.image %}{% static 'images/sections/black_white_books.jpg' %}{% else %}{{ subject.image.url }}{% endif %}" alt="{{subject.name}}">
                        </a>
                        <div class="portfolio-overlay">
                            <a class="center-icon" data-lightbox="image" href="{% if not subject.image %}{% static 'images/sections/black_white_books.jpg' %}{% else %}{{ subject.image.url }}{% endif %}">
                                <i class="icon-line-plus"></i>
                            </a>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}