{% extends "base.html" %}
<!-- archivos staticos -->
{% load static i18n humanize mathfilters%}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Perfil {% endblock title %}
<!-- Contenido -->
{% block content %}

<section id="content">

	<div class="content-wrap">
		<div class="container clearfix">


			<div class="row common-height clearfix">

				<img src="{% if not teacher.photo %}{% static 'images/tutors/avatar.svg' %}{% else %}{{ teacher.photo.url }}{% endif %}" class="col-lg-5 user-profile-img" style="max-height: 500px !important;">

				<div class="col-lg-7">
					<div>
						<div class="heading-block">
							<span class="before-heading color">{{ teacher.career }}</span>
							<h3>{{ teacher.user.get_full_name }}</h3>
							<input class="rating rating-input" value="{{ teacher.rating|stringformat:'.1f' }}" data-size="md" readonly data-show-caption="false" data-show-clear="false">
						</div>

						<div class="clearfix">

							<div class="col_full">

								<p>{{ teacher.biography|default_if_none:"" }}</p>


								{% if teacher.facebook_link %}
								<a href="{{ teacher.facebook_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								{% endif %}
								{% if teacher.twitter_link %}
								<a href="{{ teacher.twitter_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>
								{% endif %}
								{% if teacher.google_link %}
								<a href="{{ teacher.google_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-gplus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>
								{% endif %}
								{% if teacher.linkedin_link %}
								<a href="{{ teacher.linkedin_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
								{% endif %}
								{% if teacher.instagram_link %}
								<a href="{{ teacher.instagram_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>
								{% endif %}

								{% if has_reservation %}
								<div class="fright" data-toggle="tooltip" data-placement="bottom" title="Docente no disponible, tiene una reserva asignada">
									<button type="button" class="btn btn-lg button-3d button-rounded button-dark fright text-white" disabled>No disponible</button>
								</div>
								{% else %}
								<a href="{% url 'checkout' %}" class="button button-large button-3d button-rounded button-green fright">
									¡Reserva Ya!
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col_half clearfix">
				<br>
				<h4>Habilidades y Tarifas</h4>
				<ul class="skills">

					{% for skill in skills %}
					<li data-percent="{{ skill.price|div:skill.area.max_price|mul:100|floatformat:'0'|intcomma }}">
						<span>{{ skill.subject }} ( {{ skill.area }} )</span>
						<div class="progress">
							<div class="progress-percent">
								<div class="counter counter-inherit counter-instant">$ <span data-from="0" data-to="{{ skill.price }}" data-refresh-interval="30" data-speed="1100"></span></div>
							</div>
						</div>
					</li>
					{% endfor %}

				</ul>
			</div>

			<div class="col_half col_last clearfix">
				<br>
				<h4>Disponibilidad</h4>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Dias</th>
								<th>Horarios </th>
							</tr>
						</thead>
						<tbody>
							{% for shedule in teacher.user.schedules.all %}
							<tr>
								<td>
									{{ shedule.get_day_display }}
								</td>
								<td>
									<span class="badge badge-info">
										{{ shedule.start_time }}
									</span>
									<span class="badge badge-info">
										{{ shedule.end_time }}
									</span>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</section>


{% endblock content %}