{% extends "base.html" %}
<!-- archivos staticos -->
{% load static i18n humanize mathfilters widget_tweaks theme_template_tags %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Editar Perfil {% endblock title %}
<!-- Contenido -->
{% block content %}
<style>
    .white-section {
        background-color: #FFF;
        padding: 25px 20px;
        -webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
        box-shadow: 0px 1px 1px 0px #dfdfdf;
        border-radius: 3px;
    }
</style>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="d-flex justify-content-center notopmargin bottommargin-sm">
                {% if not request.user.teacher.photo %}
                <img src="{% static 'images/tutors/avatar.svg' %}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 120px; height: 120px;">
                {% else %}
                <img src="{{ request.user.teacher.photo.url }}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 120px; height: 120px;">
                {% endif %}
            </div>

            {% if form.errors %}
            <div id="form-error" class="style-msg alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon-remove-sign"></i> No se ha podido completar la operación a causa de uno o más errores, por favor corrija e intente nuevamente. <br>
                {% for field,error in form.errors.items %}
                <i class="icon-chevron-sign-right"></i>{{ error|striptags }} <br>
                {% endfor %}
            </div>
            {% endif %}

            <div class="tabs tabs-alt tabs-justified clearfix">

                <ul class="tab-nav clearfix">
                    <li><a href="#tab-personal-info"><i class="icon-user"></i> Información Personal</a></li>
                    <li><a href="#tab-work-area"><i class="icon-book2"></i> Areas de Trabajo</a></li>
                    <li><a href="#tab-schedule"><i class="icon-calendar"></i> Disponibilidad</a></li>
                    <li><a href="#tab-social-media"><i class="icon-world"></i> Redes Sociales</a></li>
                </ul>

                <div class="tab-container">

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="tab-content clearfix" id="tab-personal-info">

                            <div class="col_half required">
                                <label for="{{ form.first_name.id_for_label }}" class="required">
                                    {{ form.first_name.label }}:
                                </label>
                                {% render_field form.first_name class+="sm-form-control required" %}
                            </div>
                            <div class="col_half col_last required">
                                <label for="{{ form.last_name.id_for_label }}" class="required">
                                    {{ form.last_name.label }}:
                                </label>
                                {% render_field form.last_name class+="sm-form-control required" %}
                            </div>

                            <div class="col_one_third required">
                                <label for="{{ form.id_number.id_for_label }}" class="required">{{ form.id_number.label }}:</label>
                                {% render_field form.id_number class+="sm-form-control required" value=request.user.teacher.id_number %}
                                <p class="help">{{ form.id_number.help_text|safe }}</p>
                            </div>
                            <div class="col_one_third required">
                                <label for="{{ form.career.id_for_label }}" class="required">{{ form.career.label }}:</label>
                                {% render_field form.career class+="sm-form-control required" value=request.user.teacher.career %}
                                <p class="help">{{ form.career.help_text|safe }}</p>
                            </div>
                            <div class="col_one_third col_last required">
                                <label for="{{ form.phone.id_for_label }}" class="required">
                                    {{ form.phone.label }}:
                                </label>
                                {% render_field form.phone class+="sm-form-control required" value=request.user.teacher.phone %}
                                <p class="help">{{ form.phone.help_text|safe }}</p>
                            </div>


                            <div class="col_one_third required">
                                <label for="{{ form.photo.id_for_label }}" class="required">
                                    {{ form.photo.label }}:
                                </label>
                                {% render_field form.photo class+="sm-form-control file" accept="image/*" %}
                                <p class="help">{{ form.photo.help_text|safe }}</p>
                            </div>
                            <div class="col_one_third">
                                <label for="{{ form.certificate.id_for_label }}" class="required">
                                    {{ form.certificate.label }}:
                                </label>
                                {% render_field form.certificate class+="sm-form-control file" accept=".doc,.docx,application/pdf,image/*" %}
                                <p class="help">{{ form.certificate.help_text|safe }}</p>
                            </div>
                            <div class="col_one_third col_last col_last">
                                <label for="{{ form.juditial_past.id_for_label }}" class="required">
                                    {{ form.juditial_past.label }}:
                                </label>
                                {% render_field form.juditial_past class+="sm-form-control file" accept=".doc,.docx,application/pdf,image/*" %}
                                <p class="help">
                                    {% autoescape on %}
                                    {{form.juditial_past.help_text|safe}}
                                    {% endautoescape %}
                                </p>
                            </div>

                            <div class="col_full">
                                <label for="{{ form.bio.id_for_label }}" class="required">
                                    {{ form.bio.label }}:
                                </label>
                                <textarea name="bio" id="{{form.bio.id_for_label}}" rows="5" class="sm-form-control">{{request.user.teacher.biography|default_if_none:""}}</textarea>
                                <p class="help">{{ form.bio.help_text|safe }}</p>
                            </div>

                        </div>

                        <div class="tab-content clearfix" id="tab-work-area">

                            {% include 'registration/work_area_tabs.html' %}

                        </div>

                        <div class="tab-content row clearfix" id="tab-schedule">

                            <div class="col-12 required">

                                <label>{{form.work_mode.label}}: </label>
                                {% for key, value in form.work_mode.field.choices %}

                                {% if key == request.user.teacher.work_mode %}
                                <input id="work-mode-{{ key }}" class="radio-style" name="work_mode" type="radio" value="{{ key }}" data-mode-name="{{ value }}" checked>
                                {% else %}
                                <input id="work-mode-{{ key }}" class="radio-style" name="work_mode" type="radio" value="{{ key }}" data-mode-name="{{ value }}">
                                {% endif %}

                                <label for="work-mode-{{ key }}" class="radio-style-1-label"> {{ value }} </label>
                                {% endfor %}
                                <p class="help">{{ form.work_mode.help_text|safe }}</p>

                            </div>


                            {% for key, value in form.days.field.choices %}
                            <div class="col-md-12 row bottommargin-sm white-section">

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <input id="schedule-day-{{key}}" class="checkbox-style" name="days" type="checkbox" value="{{key}}" data-day-name="{{value}}" onclick="enable_disable_related_input(this, 'day')">
                                    <label for="schedule-day-{{key}}" class="checkbox-style-1-label">{{value}}</label>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <input type="text" autocomplete="off" name="schedule_start" class="sm-form-control" placeholder="HH:MM AM" data-day-start-for="{{key}}" data-day-for="{{key}}" disabled>
                                </div>

                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <input type="text" autocomplete="off" name="schedule_end" class="sm-form-control" placeholder="HH:MM AM" data-day-end-for="{{key}}" data-day-for="{{key}}" disabled>
                                </div>

                            </div>

                            {% endfor %}

                        </div>

                        <div class="tab-content clearfix" id="tab-social-media">

                            <div class="col_half required">
                                <label for="{{ form.skype_user.id_for_label }}" class="required">
                                    {{ form.skype_user.label }} <i class="fa-icon-skype"></i>
                                </label>
                                {% if request.user.teacher.skype_user %}
                                {% render_field form.skype_user class+="sm-form-control required" value=request.user.teacher.skype_user %}
                                {% else %}
                                {% render_field form.skype_user class+="sm-form-control required" %}
                                {% endif %}
                            </div>
                            <div class="col_half col_last required">
                                <label for="{{ form.facebook_link.id_for_label }}" class="required">
                                    {{ form.facebook_link.label }} <i class="fa-icon-facebook-square"></i>
                                </label>
                                {% if request.user.teacher.facebook_link %}
                                {% render_field form.facebook_link class+="sm-form-control" value=request.user.teacher.facebook_link %}
                                {% else %}
                                {% render_field form.facebook_link class+="sm-form-control" %}
                                {% endif %}
                            </div>

                            <div class="col_half required">
                                <label for="{{ form.twitter_link.id_for_label }}" class="required">
                                    {{ form.twitter_link.label }} <i class="fa-icon-twitter-square"></i>
                                </label>
                                {% if request.user.teacher.twitter_link %}
                                {% render_field form.twitter_link class+="sm-form-control" value=request.user.teacher.twitter_link %}
                                {% else %}
                                {% render_field form.twitter_link class+="sm-form-control" %}
                                {% endif %}
                            </div>
                            <div class="col_half col_last required">
                                <label for="{{ form.google_link.id_for_label }}" class="required">
                                    {{ form.google_link.label }} <i class="fa-icon-google-plus-square"></i>
                                </label>
                                {% if request.user.teacher.google_link %}
                                {% render_field form.google_link class+="sm-form-control" value=request.user.teacher.google_link %}
                                {% else %}
                                {% render_field form.google_link class+="sm-form-control" %}
                                {% endif %}
                            </div>

                            <div class="col_half required">
                                <label for="{{ form.linkedin_link.id_for_label }}" class="required">
                                    {{ form.linkedin_link.label }} <i class="fa-icon-linkedin-square"></i>
                                </label>
                                {% if request.user.teacher.linkedin_link %}
                                {% render_field form.linkedin_link class+="sm-form-control" value=request.user.teacher.linkedin_link %}
                                {% else %}
                                {% render_field form.linkedin_link class+="sm-form-control" %}
                                {% endif %}
                            </div>
                            <div class="col_half col_last required">
                                <label for="{{ form.instagram_link.id_for_label }}" class="required">
                                    {{ form.instagram_link.label }} <i class="fa-icon-instagram"></i>
                                </label>
                                {% if request.user.teacher.instagram_link %}
                                {% render_field form.instagram_link class+="sm-form-control" value=request.user.teacher.instagram_link %}
                                {% else %}
                                {% render_field form.instagram_link class+="sm-form-control" %}
                                {% endif %}
                            </div>

                        </div>

                        <input type="submit" value="{% trans 'Save' %}" class="button button-3d button-rounded button-green nomargin fright" />
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>
{% endblock %}
<!-- adicional css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/bs-filestyle.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/jquery.timepicker.min.css' %}" type="text/css" />
{% endblock %}
<!-- adicional js -->
{% block extra_js %}
<script src="{% static 'js/components/moment.js' %}"></script>
<script src="{% static 'js/components/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'js/components/bs-filestyle.js' %}"></script>
<script src="{% static 'js/teacher_update.js' %}"></script>
<script type="text/javascript">
    var context_skills = '{{skills}}',
        context_schedule = '{{schedule}}'

    $(".file").fileinput({
        showUpload: false,
        showPreview: false,
        browseLabel: 'Buscar',
        browseIcon: '<i class="icon-search3"></i>',
        removeLabel: 'Cancelar',
        removeTitle: 'Cancelar archivos seleccionados',
        removeIcon: '<i class="icon-remove"></i>',
        msgPlaceholder: 'Seleccionar archivo'
    })
</script>
{% endblock %}