{% extends "base.html" %}
<!-- archivos staticos -->
{% load static i18n l10n %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Perfil {% endblock title %}
<!-- Contenido -->
{% block content %}
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">
			{% if skills %}

			<div class="heading-block center">
				<h2>Mejores Docentes</h2>
				<span>encuentra el docente que mas se ajuste a tu necesidad</span>
			</div>

			<div class="row clearfix">
				{% for skill in skills %}
				<div class="col-lg-6 bottommargin">
					<div class="team team-list clearfix">
						<div class="team-image">
							<a href="{% url 'users:teacher_detail' skill.teacher.teacher.pk %}" class="more-link"><img src="{% if not skill.teacher.teacher.photo %}{% static 'images/tutors/avatar.svg' %}{% else %}{{ skill.teacher.teacher.photo.url }}{% endif %}"></a>
						</div>
						<div class="team-desc">
							<div class="team-title">
								<h4>{{ skill.teacher.username }}</h4><span>{{ skill.teacher.career }}</span>
							</div>
							<div class="team-content">
								<p>{{ skill.teacher.teacher.biography|default_if_none:""|truncatewords:30 }}</p>
							</div>

							<input class="rating" value="{{ skill.teacher.teacher.rating|stringformat:'.1f' }}" data-size="xs" readonly data-show-caption="false" data-show-clear="false">

							{% if skill.teacher.teacher.facebook_link %}
							<a href="{{ skill.teacher.teacher.facebook_link }}" target="_blank" class="social-icon si-rounded si-small si-light si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							{% endif %}
							{% if skill.teacher.teacher.twitter_link %}
							<a href="{{ skill.teacher.teacher.twitter_link }}" target="_blank" class="social-icon si-rounded si-small si-light si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
							{% endif %}
							{% if skill.teacher.teacher.google_link %}
							<a href="{{ skill.teacher.teacher.google_link }}" target="_blank" class="social-icon si-rounded si-small si-light si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
							{% endif %}
							{% if skill.teacher.teacher.linkedin_link %}
							<a href="{{ skill.teacher.teacher.linkedin_link }}" target="_blank" class="social-icon si-rounded si-small si-light si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
							{% endif %}
							{% if skill.teacher.teacher.instagram_link %}
							<a href="{{ skill.teacher.teacher.instagram_link }}" target="_blank" class="social-icon si-rounded si-small si-light si-instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>
							{% endif %}

						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% else %}
			<div class="heading-block center">
				<h2><i class="fa fa-icon-frown-o fa-icon-4x"></i></h2>
				<span>No hay docentes disponibles para ayudarte, intenta con otros parámetros</span>
			</div>
			{% endif %}

		</div>
	</div>
</section>
{% endblock content %}