{% extends "base.html" %}
<!-- archivos staticos -->
{% load static i18n humanize mathfilters %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | {% if request.user.first_name %}
{{ request.user.get_full_name }}
{% else %}
{{ request.user.username }}
{% endif %} {% endblock title %}
<!-- Contenido -->
{% block content %}

{% include 'users/feedback_form.html' %}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row clearfix">
                <div class="col-md-9">
                    <!-- PROFILE HEAD -->
                    {% if is_teacher %}
                    {% if not request.user.teacher.photo %}
                    <img src="{% static 'images/tutors/avatar.svg' %}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 84px; height: 84px;">
                    {% else %}
                    <img src="{{ request.user.teacher.photo.url }}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 84px; height: 84px;">
                    {% endif %}
                    {% else %}
                    {% if not request.user.student.photo %}
                    <img src="{% static 'images/tutors/avatar.svg' %}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 84px; height: 84px;">
                    {% else %}
                    <img src="{{ request.user.student.photo.url }}" alt="{{ request.user.get_full_name }}" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" style="width: 84px; height: 84px;">
                    {% endif %}
                    {% endif %}
                    <div class="heading-block noborder">
                        <h3>{% if request.user.first_name %}
                            {{ request.user.get_full_name }}
                            {% else %}
                            {{ request.user.username }}
                            {% endif %}</h3>
                        <span>
                            {% if is_teacher %}
                            {{ request.user.teacher.career }}
                            <a href="#" style="margin-left: 20px;"><i class="icon-money"></i> ${{total_money|floatformat:'0'|intcomma}}</a>
                            {% else %}
                            {% if request.user.student.birth_date %}
                            <i class="icon-calendar3" style="margin-left: 15px;"></i>
                            {{request.user.student.birth_date}}
                            {% endif %}
                            {% endif %}
                        </span>
                    </div>

                    {% if messages %}
                    <div class="style-msg">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div class="sb-msg">
                            {% for message in messages %}
                            {% if message.tags %} <i class="{{ message.tags }}"></i> {% endif %}{{ message|striptags }} <br>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <!-- PROFILE HEAD END -->
                    <div class="clear"></div>

                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="tabs tabs-alt clearfix" id="tabs-profile">

                                <ul class="tab-nav clearfix">
                                    <li><a href="#tabs-reservations"><i class="icon-medical-i-restrooms"></i> Tutorías</a></li>
                                    {% if is_teacher %}
                                    <li><a href="#tabs-time-table"><i class="icon-calendar"></i> Disponibilidad</a></li>
                                    <li><a href="#tabs-skills"><i class="icon-book2"></i> Areas de trabajo</a></li>
                                    <li><a href="#tabs-posts"><i class="icon-pencil2"></i> Publicaciones</a></li>
                                    {% endif %}
                                    <li><a href="#tabs-replies"><i class="icon-reply"></i> Respuestas</a></li>
                                </ul>

                                <div class="tab-container">
                                    <!-- RESERVATIONS TAB -->
                                    <div class="tab-content clearfix" id="tabs-reservations">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        {% if is_teacher %}
                                                        <th>Estudiante</th>
                                                        {% else %}
                                                        <th>Docente</th>
                                                        {% endif %}
                                                        <th>Area</th>
                                                        <th>Tema</th>
                                                        <th>Fecha</th>
                                                        <th>Duración</th>
                                                        <th>Precio</th>
                                                        <th>Modalidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for reservation in object_list %}

                                                    <tr class="{% if is_teacher and reservation.paid %}success font-weight-bold{% endif %}">
                                                        <td>
                                                            {% if is_teacher %}
                                                            {% if reservation.student.get_full_name %}
                                                            {{ reservation.student.get_full_name }}
                                                            {% else %}
                                                            {{ reservation.student.username }}
                                                            {% endif %}
                                                            {% else %}
                                                            {{ reservation.teacher.get_full_name }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{ reservation.subject.name }}
                                                            ({{reservation.subject.area.name }})
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'users:reservation' reservation.pk %}">
                                                                {{ reservation.topic|truncatechars:25 }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <code>
                                                                {{reservation.start_datetime_class|date:'D d M, Y h:i A'}}
                                                            </code>
                                                        </td>
                                                        <td>
                                                            {{reservation.duration}}hr{{reservation.duration|pluralize}}
                                                        </td>
                                                        <td>
                                                            {% if is_teacher %}
                                                            ${{reservation.amount_to_paid|floatformat:'0'|intcomma}}
                                                            {% else %}
                                                            ${{reservation.price|floatformat:'0'|intcomma}}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{ reservation.get_mode_display }}
                                                        </td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="7">Aún no se han registrado tutorías</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Pagination 
                                        ============================================= -->
                                        {% if is_paginated %}
                                        <div class="d-flex justify-content-center">
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                                {% else %}
                                                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                                                {% endif %}
                                                {% for i in paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                <li class="page-item active"><a class="page-link" href="{{i}}">{{ i }}</a></li>
                                                {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                                {% else %}
                                                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                        <!-- .pager end -->
                                    </div>

                                    {% if is_teacher %}
                                    <!-- TEACHER SCHEDULE TAB -->
                                    <div class="tab-content clearfix" id="tabs-time-table">

                                        <div class="fancy-title title-bottom-border">
                                            <h4>Modalidad: </h4>
                                        </div>

                                        <div class="col_full nobottommargin">
                                            <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="500">
                                                <div class="fbox-icon">
                                                    <a href="#">
                                                        <i class="{% if request.user.teacher.work_mode == 1 %}icon-users{% elif request.user.teacher.work_mode == 2 %}icon-laptop{% else %}fa-icon-hand-peace-o{% endif %}"></i>
                                                    </a>
                                                </div>
                                                <h3>{% if request.user.teacher.work_mode == 3 %}Presencial y Virtual {% else %}{{request.user.teacher.get_work_mode_display}}{% endif %}</h3>
                                            </div>
                                        </div>

                                        <div class="divider divider-center"><a href="#"><i class="icon-time"></i></a></div>

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th>Dias</th>
                                                        <th>Horarios</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for shedule in request.user.schedules.all %}
                                                    <tr>
                                                        <td>
                                                            {{ shedule.get_day_display }}
                                                        </td>
                                                        <td>
                                                            {{shedule.start_time|time:'h:i a'}} | {{shedule.end_time|time:'h:i a'}}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- TEACHER SKILLS TAB-->
                                    <div class="tab-content clearfix" id="tabs-skills">

                                        <ul class="skills">
                                            {% for skill in skills %}
                                            <li data-percent="{{ skill.price|div:skill.area.max_price|mul:100|floatformat:'0'|intcomma }}">
                                                <span>{{ skill.subject }} ( {{ skill.area }} )</span>
                                                <div class="progress">
                                                    <div class="progress-percent">
                                                        <div class="counter counter-inherit counter-instant">
                                                            $
                                                            <span data-from="0" data-to="{{ skill.price }}" data-refresh-interval="30" data-speed="1100"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>

                                        <div class="divider divider-center"><a href="#"><i class="icon-money"></i></a></div>
                                        <blockquote>
                                            <p>
                                                Recuerda que el aporte para TutoExperts es de {{ settings.SITE_GAIN | mul:100 | floatformat:0 }}% + ${{ settings.PAYU_GAIN }} y
                                                te paga a través de Efecty los días jueves.
                                                <footer class="blockquote-footer">Si deseas mantener el ahorro dentro de la plataforma envíanos un correo a {{ settings.SITE_INFO_EMAIL | urlize }}</footer>
                                            </p>
                                        </blockquote>
                                    </div>

                                    <!-- TEACHER POSTS TAB-->
                                    <div class="tab-content clearfix" id="tabs-posts">
                                        <div class="row topmargin-sm">
                                            {% for post in request.user.post_set.all %}
                                            <div class="col-12 bottommargin-sm">
                                                <div class="ipost clearfix">
                                                    <div class="row clearfix">
                                                        <div class="{% if post.featured_image %}col-md-4{% else %}hidden{% endif %}">
                                                            <div class="entry-image">
                                                                {% if post.featured_image %}
                                                                <a href="{{ post.featured_image.url }}" data-lightbox="image">
                                                                    <img src="{{ post.featured_image.url }}" alt="{{post.title}}" class="image_fade">
                                                                </a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="{% if post.featured_image %}col-md-8{% else %}col-md-12{% endif %}">
                                                            <div class="entry-title">
                                                                <h3><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                                                            </div>
                                                            <ul class="entry-meta clearfix">
                                                                <li><i class="icon-calendar3"></i>
                                                                    {{post.post_date|date:'D d M, Y h:i a'}}
                                                                </li>
                                                                <li>
                                                                    <i class="icon-comments"></i>
                                                                    {{post.comment_count}}
                                                                </li>
                                                                <li>
                                                                    <i class="icon-folder-open"></i>
                                                                    {{post.category}}
                                                                </li>
                                                            </ul>
                                                            <div class="entry-content">
                                                                {{ post.body_text | safe | truncatewords:40 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div class="col-6 bottommargin-sm">
                                                No se han registrado entradas aún.
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    {% endif %}

                                    <!-- REPLIES TAB -->
                                    <div class="tab-content clearfix" id="tabs-replies">

                                        <div class="clear topmargin-sm"></div>

                                        <ol class="commentlist noborder nomargin nopadding clearfix">
                                            {% for comment in request.user.comment_user.all %}
                                            <li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" style="min-height: 100px;">
                                                <div class="comment-wrap clearfix">
                                                    <div class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <span class="comment-avatar clearfix">
                                                                {% if is_teacher %}
                                                                {% if not request.user.teacher.photo %}
                                                                <img src="{% static 'images/tutors/avatar.svg' %}" alt="{{ request.user.get_full_name }}" class="avatar avatar-60 photo" style="width: 60px; height: 60px;">
                                                                {% else %}
                                                                <img src="{{ request.user.teacher.photo.url }}" alt="{{ request.user.get_full_name }}" class="avatar avatar-60 photo" style="width: 60px; height: 60px;">
                                                                {% endif %}
                                                                {% else %}
                                                                {% if not request.user.student.photo %}
                                                                <img src="{% static 'images/tutors/avatar.svg' %}" alt="{{ request.user.get_full_name }}" class="avatar avatar-60 photo" style="width: 60px; height: 60px;">
                                                                {% else %}
                                                                <img src="{{ request.user.student.photo.url }}" alt="{{ request.user.get_full_name }}" class="avatar avatar-60 photo" style="width: 60px; height: 60px;">
                                                                {% endif %}
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="comment-content clearfix">
                                                        <div class="comment-author">
                                                            <a href="{{comment.post.get_absolute_url}}" rel="external nofollow" class="url"> {{comment.post}} </a>
                                                            <span>
                                                                {{comment.post_date|date:'D d M, Y h:i a'}}
                                                            </span>
                                                        </div>

                                                        <p>{{comment.body_text|truncatewords:45}}</p>
                                                        <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </li>
                                            {% empty %}
                                            <li>
                                                No se han registrado entradas aún.
                                            </li>
                                            {% endfor %}
                                        </ol>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-100 line d-block d-md-none"></div>

                <div class="col-md-3 clearfix">
                    <!-- USER OPTIONS -->
                    <div class="list-group">
                        {% if is_teacher %}
                        <a href="{% url 'blog:create' %}" class="list-group-item list-group-item-action clearfix">Nueva publicación <i class="icon-pencil2 float-right"></i></a>
                        <a href="{% url 'users:teacher_update_profile'  request.user.pk %}" class="list-group-item list-group-item-action clearfix">Editar perfil <i class="icon-cog float-right"></i></a>
                        {% else %}
                        <a href="{% url 'users:student_update_profile'  request.user.pk %}" class="list-group-item list-group-item-action clearfix">Editar perfil <i class="icon-cog float-right"></i></a>
                        {% endif %}
                        <a href="{% url 'auth_logout' %}" class="list-group-item list-group-item-action clearfix">Salir <i class="icon-line2-logout float-right"></i></a>
                    </div>

                    {% if is_teacher %}
                    <div class="fancy-title topmargin title-border">
                        <h4>Biografía</h4>
                    </div>

                    {% if request.user.teacher.biography %}
                    <p class="text-justify">{{request.user.teacher.biography|truncatewords:70}}</p>
                    {% endif %}

                    <!-- SOCIAL MEDIA -->
                    <div class="fancy-title topmargin title-border">
                        <h4>Redes sociales</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% if request.user.teacher.facebook_link %}
                        <a href="{{ request.user.teacher.facebook_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        {% endif %}
                        {% if request.user.teacher.twitter_link %}
                        <a href="{{ request.user.teacher.twitter_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        {% endif %}
                        {% if request.user.teacher.google_link %}
                        <a href="{{ request.user.teacher.google_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>
                        {% endif %}
                        {% if request.user.teacher.linkedin_link %}
                        <a href="{{ request.user.teacher.linkedin_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                        {% endif %}
                        {% if request.user.teacher.instagram_link %}
                        <a href="{{ request.user.teacher.instagram_link }}" target="_blank" rel="noopener noreferrer" class="social-icon si-rounded si-small si-light si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                        {% endif %}
                        {% if request.user.teacher.skype_user %}
                        <a href="skype:{{ request.user.teacher.skype_user }}?call" class="social-icon si-rounded si-small si-light si-skype">
                            <i class="icon-skype2"></i>
                            <i class="icon-skype2"></i>
                        </a>
                        {% endif %}
                    </div>

                    <!-- RATING -->
                    <div class="clear"></div>
                    <div class="fancy-title topmargin title-border">
                        <h4>Rating</h4>
                    </div>
                    <input class="rating rating-input" value="{{request.user.teacher.rating|stringformat:'.1f'}}" data-size="md" data-readonly="true" data-show-caption="false" data-show-clear="false">

                    <!-- DOCUMENTS -->


                    {% if request.user.teacher.certificate or request.user.teacher.juditial_past %}
                    <div class="fancy-title topmargin title-border">
                        <h4>Documentos</h4>
                    </div>
                    <ul class="list-unstyled">
                        {% if request.user.teacher.juditial_past %}
                        <li>
                            <a title="Antecedentes Judiciales" href="{{request.user.teacher.juditial_past.url}}" download="Antecedentes_Judiciales.pdf">
                                <i class="fa-icon-download fa-icon-2x"></i> Antecedentes Judiciales
                            </a><br>
                        </li>
                        {% endif %}

                        {% if request.user.teacher.certificate %}
                        <li>
                            <a href="{{request.user.teacher.certificate.url}}" title="Certificación profesional" download="Certificacion_Profesional.pdf">
                                <i class="fa-icon-download fa-icon-2x"></i> Certificación profesional
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %} {% comment %} Fin si tiene documentos {% endcomment %}

                    {% endif %} {% comment %} Fin is_teacher {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    jQuery("#tabs-profile").on("tabsactivate", function (event, ui) {
        jQuery('.flexslider .slide').resize();
    });
</script>
{% endblock content %}