{% extends "base.html" %}
<!-- archivos staticos -->
{% load i18n static humanize mathfilters widget_tweaks %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Pagos {% endblock title %}
<!-- Meta -->
{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock meta %}
<!-- Contenido -->
{% block content %}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <h3 class="nobottommargin">Datos de facturación</h3>

            {% if form.errors %}
            <div id="form-error" class="style-msg alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon-remove-sign"></i> No se ha podido completar la operación a causa de uno o más errores, por favor corrija e intente nuevamente. <br>
                {% for field,error in form.errors.items %}
                <i class="icon-chevron-sign-right"></i>{{ error|striptags }} <br>
                {% endfor %}
            </div>
            {% endif %}

            <form id="billing-form" name="billing-form" action="" method="post" class="nobottommargin">
                {% csrf_token %}

                <div class="col_half required">
                    <label for="{{ form.first_name.id_for_label }}" class="required">
                        {{ form.first_name.label }}:
                    </label>
                    {% render_field form.first_name class+="sm-form-control required" value=user.first_name autocomplete="off" %}
                </div>
                <div class="col_half col_last required">
                    <label for="{{ form.last_name.id_for_label }}" class="required">
                        {{ form.last_name.label }}:
                    </label>
                    {% render_field form.last_name class+="sm-form-control required" value=user.last_name autocomplete="off" %}
                </div>

                <div class="col_half required">
                    <label for="{{ form.address.id_for_label }}" class="required">
                        {{ form.address.label }}:
                    </label>
                    {% render_field form.address class+="sm-form-control required" autocomplete="off" %}
                </div>
                <div class="col_half col_last required">
                    <label for="{{ form.city.id_for_label }}" class="required">
                        {{ form.city.label }}:
                    </label>
                    {% render_field form.city class+="sm-form-control required" autocomplete="off" %}
                </div>

                <div class="col_half required">
                    <label for="{{ form.email.id_for_label }}" class="required">
                        {{ form.email.label }}:
                    </label>
                    {% render_field form.email class+="sm-form-control required" value=user.email autocomplete="off" %}
                </div>
                <div class="col_half col_last required">
                    <label for="{{ form.phone_number.id_for_label }}" class="required">
                        {{ form.phone_number.label }}:
                    </label>
                    {% render_field form.phone_number class+="sm-form-control required" autocomplete="off" %}
                </div>

                <h3>Datos de la reserva</h3>

                <div class="col_full required">
                    <label for="{{ form.topic.id_for_label }}" class="required">
                        {{ form.topic.label }}:
                    </label>
                    {% render_field form.topic class+="sm-form-control required" rows="2" %}
                </div>

                <div class="w-100 bottommargin"></div>

                <div class="row clearfix">
                    <div class="col-lg-6">
                        <h4>Tu Reserva</h4>

                        <div class="col_half">
                            <label>Fecha: {{request.session.reservation_date}}</label>
                        </div>
                        <div class="col_half col_last">
                            <label> Duración {{request.session.reservation_duration}} hr{{request.session.reservation_duration|pluralize}}</label>
                        </div>

                        <div class="table-responsive">
                            <table class="table cart text-center">
                                <thead>
                                    <tr>
                                        <th class="cart-product-thumbnail">Docente</th>
                                        <th class="cart-product-name">Materia</th>
                                        <th class="cart-product-subtotal">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="cart-product-thumbnail">
                                            <img width="64" height="64" src="{{teacher.photo.url}}" alt="{{teacher.user.get_full_name}}">
                                        </td>
                                        <td class="cart-product-name" style="word-wrap: word;">
                                            <a href="#">{{subject}}</a>
                                        </td>
                                        <td class="cart-product-subtotal">
                                            $<span class="amount base-price">{{skill.price|floatformat:'0'|intcomma}}</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>IVA</strong>
                                        </td>

                                        <td class="cart-product-name text-right" colspan="2">
                                            <span class="amount cart-product-subtotal">
                                                <strong>$</strong>
                                                <strong id="cart-tax">{{tax_price|floatformat:'0'|intcomma}}</strong>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>Total</strong>
                                        </td>

                                        <td class="cart-product-name text-right" colspan="2">
                                            <span class="amount color lead">
                                                <strong>$</strong>
                                                <strong id="cart-total">{{skill.price|mul:request.session.reservation_duration|add:tax_price|floatformat:'0'|intcomma}}</strong>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h4 class="nobottommargin">Métodos de pago</h4>

                        <div class="accordion accordion-bg clearfix">
                            <!-- PSE -->
                            <div class="acctitle">
                                <i class="acc-closed icon-circle-blank"></i>
                                <i class="acc-open icon-ok-circle"></i>
                                TRANSFERENCIA BANCARIA PSE
                                <img src="{% static 'images/icons/logo_pse.png' %}" alt="Logo PSE" class="fright icon-image d-none d-md-inline-block" style="max-width: 8%; height: auto;">
                            </div>
                            <div class="acc_content clearfix" data-payment-method="PSE">
                                <p class="nobottommargin">
                                    <label for="cmb_pse_bank" class="required">Banco</label>
                                    <select name="pse_bank_id" id="cmb_pse_bank" class="required sm-form-control">
                                        {% for bank in banks %}
                                        {% if forloop.counter0 > 0 %}
                                        <option value="{{bank.pseCode}}">{{bank.description}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>

                                    <label for="{{ form.pse_payer_name.id_for_label }}" class="required"> {{ form.pse_payer_name.label }}: </label>
                                    {% render_field form.pse_payer_name class+="sm-form-control" autocomplete="off" %}

                                    <label for="{{ form.pse_payer_type.id_for_label }}" class="required"> {{ form.pse_payer_type.label }}: </label>
                                    {% render_field form.pse_payer_type class+="sm-form-control" autocomplete="off" %}

                                    <label for="{{ form.pse_payer_id_type.id_for_label }}" class="required"> {{ form.pse_payer_id_type.label }}: </label>
                                    {% render_field form.pse_payer_id_type class+="sm-form-control" autocomplete="off" %}

                                    <label for="{{ form.pse_payer_id.id_for_label }}" class="required"> {{ form.pse_payer_id.label }}: </label>
                                    {% render_field form.pse_payer_id class+="sm-form-control" autocomplete="off" %}

                                    <label for="{{ form.pse_payer_phone.id_for_label }}" class="required"> {{ form.pse_payer_phone.label }}: </label>
                                    {% render_field form.pse_payer_phone class+="sm-form-control" autocomplete="off" %}
                                </p>
                            </div>

                            <!-- Credit Cards -->
                            <div class="acctitle">
                                <i class="acc-closed icon-circle-blank"></i>
                                <i class="acc-open icon-ok-circle"></i>
                                TARJETA DE CRÉDITO
                                <img src="{% static 'images/icons/logo_tc.png' %}" alt="Logo tarjetas de credito" class="fright icon-image d-none d-md-inline-block align-middle" style="max-width: 28%; height: auto;">
                            </div>
                            <div class="acc_content clearfix" data-payment-method="TC">
                                <p class="nobottommargin">
                                    {% comment %} <label for="cmb_installments" class="required">Pago en coutas mensuales</label>
                                    <select name="no_installments" id="cmb_installments" class="required sm-form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select> {% endcomment %}

                                    <div class="col_half nobottommargin">
                                        <label for="{{ form.cc_titular.id_for_label }}" class="required">
                                            {{ form.cc_titular.label }}:
                                        </label>
                                        {% render_field form.cc_titular class+="sm-form-control required" autocomplete="off" %}
                                        <p class="help notopmargin" style="margin-bottom: 15px !important;">{{ form.cc_titular.help_text|safe }}</p>
                                    </div>

                                    <div class="col_half col_last">
                                        <label for="{{ form.cc_titular_id.id_for_label }}" class="required"> {{ form.cc_titular_id.label }}: </label>
                                        {% render_field form.cc_titular_id class+="sm-form-control" autocomplete="off" %}
                                    </div>

                                    <div class="col_half nobottommargin">
                                        <label for="{{ form.cc_number.id_for_label }}" class="required">
                                            {{ form.cc_number.label }}:
                                        </label>
                                        {% render_field form.cc_number class+="sm-form-control required" autocomplete="off" %}
                                        <p class="help notopmargin" style="margin-bottom: 15px !important;">{{ form.cc_number.help_text|safe }}</p>
                                    </div>

                                    <div class="col_half col_last">
                                        <label for="{{ form.cc_verification_code.id_for_label }}" class="required">
                                            {{ form.cc_verification_code.label }}:
                                        </label>
                                        {% render_field form.cc_verification_code class+="sm-form-control required" autocomplete="off" %}
                                    </div>

                                    <div class="col_half">
                                        <label for="{{ form.cc_expiration_month.id_for_label }}" class="required">
                                            {{ form.cc_expiration_month.label }}:
                                        </label>
                                        {% render_field form.cc_expiration_month class+="sm-form-control required cc_month" placeholder="Mes" autocomplete="off" %}
                                    </div>
                                    <div class="col_half col_last">
                                        <label for="{{ form.cc_expiration_year.id_for_label }}" class="required">
                                            &nbsp;
                                        </label>
                                        {% render_field form.cc_expiration_year class+="sm-form-control required cc_year" placeholder="Año" autocomplete="off" %}
                                    </div>

                                </p>
                            </div>

                            <!-- Baloto -->
                            <div class="acctitle">
                                <i class="acc-closed icon-circle-blank"></i>
                                <i class="acc-open icon-ok-circle"></i>
                                BALOTO - PAGO EN EFECTIVO
                                <img src="{% static 'images/icons/logo_baloto.png' %}" alt="Logo Baloto" class="fright icon-image d-none d-md-inline-block" style="max-width: 25%; height: auto;">
                            </div>
                            <div class="acc_content clearfix" data-payment-method="BALOTO">
                                <p class="nobottommargin"> Tienes <b>{{settings.PAYU_MAX_DAYS_TO_PAY}} días</b> para realizar el pago (recuerda pagar antes de la fecha seleccionada para la tutotía).
                                    Puedes pagar en los <a href="https://www.baloto.com/#donde_jugar" target="_blank" rel="noopener noreferrer">puntos autorizados baloto*</a><br>
                                    **Máximo permitido de compra bajo Baloto es $1.000.000 COP
                                </p>
                            </div>

                            <!-- Efecty -->
                            <div class="acctitle">
                                <i class="acc-closed icon-circle-blank"></i>
                                <i class="acc-open icon-ok-circle"></i>
                                EFECTY - PAGO EN EFECTIVO
                                <img src="{% static 'images/icons/logo_efecty.png' %}" alt="Logo Efecty" class="fright icon-image d-none d-md-inline-block" style="max-width: 25%; height: auto;">
                            </div>
                            <div class="acc_content clearfix" data-payment-method="EFECTY">
                                <p class="nobottommargin"> Tienes <b>{{settings.PAYU_MAX_DAYS_TO_PAY}} días</b> para realizar el pago (recuerda pagar antes de la fecha seleccionada para la tutotía).
                                    Puedes pagar en los <a href="https://www.efecty.com.co/puntos-de-atencion" target="_blank" rel="noopener noreferrer">puntos autorizados efecty*</a><br>
                                    *Máximo permitido de compra bajo Efecty es $1.000.000 COP
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

                <button type="submit" class="button button-3d button-rounded button-green nomargin fright">
                    Pagar <i class="icon-arrow-right2 right-icon"></i>
                </button>
            </form>

        </div>
    </div>
</section>

{% endblock content %}
<!-- adicional css -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/bs-switches.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/radio-checkbox.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/datepicker.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/components/jquery.timepicker.min.css' %}" type="text/css" />
{% endblock %}
<!-- adicional js -->
{% block extra_js %}
<script src="{% static 'js/components/moment.js' %}"></script>
<script src="{% static 'js/components/datepicker.js' %}"></script>
<script src="{% static 'js/components/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
<script type="text/javascript" src="https://maf.pagosonline.net/ws/fp/tags.js?id={{session_id}}80200"></script>
<noscript>
    <iframe style="width: 100px; height: 100px; border: 0; position: absolute; top: -5000px;" src="https://maf.pagosonline.net/ws/fp/tags.js?id={{session_id}}80200"></iframe>
</noscript>
<script>
    var tax_base = parseFloat('{{settings.TAX_BASE}}'.replace(/\,/g, '.')),
        class_duration = parseInt('{{request.session.reservation_duration}}')
</script>
{% endblock %}