{% extends "base.html" %}
<!-- archivos staticos -->
{% load i18n static humanize mathfilters %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Confirmación {% endblock title %}
<!-- Meta -->
{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock meta %}
<!-- Contenido -->
{% block content %}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="title-block">
                <h3><span>{{user.first_name}} {{user.last_name}}</span></h3>
                <span>A continuación el detalle de su pago</span>
            </div>

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Empresa</td>
                        <td>Tuto Experts</td>
                    </tr>
                    <tr>
                        <td>NIT</td>
                        <td>13456789-0</td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>{{reservation.created_at|date:"D d F \d\e Y - P"}}</td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td>{{reservation_status}}</td>
                    </tr>
                    <tr>
                        <td>Referencia</td>
                        <td>{{request.GET.referenceCode}}</td>
                    </tr>
                    <tr>
                        <td>Transacción</td>
                        <td>{{request.GET.transactionId|upper}}</td>
                    </tr>
                    <tr>
                        <td>Número de Transacción / CUS</td>
                        <td>{{request.GET.cus|upper}}</td>
                    </tr>
                    <tr>
                        <td>Banco</td>
                        <td>{{request.GET.pseBank|upper}}</td>
                    </tr>
                    <tr>
                        <td>Valor</td>
                        <td>${{request.GET.TX_VALUE|floatformat:'0'|intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Moneda</td>
                        <td>{{request.GET.currency}}</td>
                    </tr>
                    <tr>
                        <td>Descripción</td>
                        <td>{{request.GET.description}}</td>
                    </tr>
                    <tr>
                        <td>IP Origen</td>
                        <td>{{request.GET.pseReference1}}</td>
                    </tr>
                </tbody>
            </table>
            <section>
                {% if reservation_status != 'Transacción Aprobada' %}
                <a href="{% url 'checkout' %}" class="button button-3d button-rounded button-green"><i class="fa-icon-repeat"></i>Reintentar Transacción</a>
                {% endif %}
                <a href="{% url 'users:reservation' reservation.pk %}" class="button button-3d button-rounded button-green"><i class="icon-bill"></i>Finalizar Transacción</a>
                <button id="btnPrint" class="button button-3d button-rounded button-green"><i class="fa-icon-print"></i>Imprimir</button>
            </section>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $('#btnPrint').click(function () {
        var prtContent = document.getElementById("content");
        var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    })
</script>
{% endblock extra_js %}