{% extends "base.html" %}
<!-- archivos staticos -->
{% load i18n static humanize mathfilters widget_tweaks %}
<!-- bloque de titulo -->
{% block title %} {{ block.super }} | Detalle de Reserva {% endblock title %}
<!-- Meta -->
{% block meta %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock meta %}
<!-- Contenido -->
{% block content %}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <h3>Detalle de la reserva</h3>


            {% if show_alert %}
            <div class="style-msg successmsg">
                <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>¡Muy bien!</strong> Su reserva ha sido confirmada correctamente.</div>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            {% endif %}


            <blockquote>
                <p>{{reservation.topic}}</p>
            </blockquote>

            <div class="line notopmargin"></div>

            <div class="col_one_fifth">
                <div class="feature-box fbox-center fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-user"></i></a>
                    </div>
                    <h3>{% if is_teacher %}Estudiante{% else %}docente{% endif %}</h3>
                    <p>{% if is_teacher %}{{reservation.student.get_full_name|truncatechars:30}}{% else %}{{reservation.teacher.get_full_name|truncatechars:30}}{% endif %}</p>
                </div>
            </div>

            <div class="col_one_fifth">
                <div class="feature-box fbox-center fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-type"></i></a>
                    </div>
                    <h3>Materia</h3>
                    <p>{{reservation.subject|truncatechars:30}}</p>
                </div>
            </div>

            <div class="col_one_fifth">
                <div class="feature-box fbox-center fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-clock"></i></a>
                    </div>
                    <h3>Fecha y Hora</h3>
                    <p>{{reservation.start_datetime_class|date:'D d M, Y h:i A'}}</p>
                </div>
            </div>

            <div class="col_one_fifth">
                <div class="feature-box fbox-center fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa-icon-hourglass"></i></a>
                    </div>
                    <h3>Duración</h3>
                    <p>{{reservation.duration}}hr{{reservation.duration|pluralize}}</p>
                </div>
            </div>

            <div class="col_one_fifth col_last">
                <div class="feature-box fbox-center fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="{% if reservation.mode == 1 %}icon-users{% else %}icon-laptop{% endif %}"></i></a>
                    </div>
                    <h3>Modalidad</h3>
                    <p>{{reservation.get_mode_display}}</p>
                </div>
            </div>

            {% if not is_teacher %}

            {% if reservation.status == 'Transacción aprobada' %}

            <div class="col_full fancy-title title-double-border">
                <h4>Datos del docente</h4>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-mail"></i></a>
                    </div>
                    <h3>Correo</h3>
                    <p><a href="mailto:{{reservation.teacher.email}}">{{reservation.teacher.email}}</a></p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-phone3"></i></a>
                    </div>
                    <h3>Télefono</h3>
                    <p><a href="tel:{{reservation.teacher.teacher.phone}}">{{reservation.teacher.teacher.phone|default_if_none:"--"}}</a></p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-skype"></i></a>
                    </div>
                    <h3>Skype</h3>
                    <p><a href="skype:{{reservation.teacher.teacher.skype_user}}">{{reservation.teacher.teacher.skype_user|default_if_none:"--"}}</a></p>
                </div>
            </div>

            {% endif %}


            {% if payu_information %}

            <h3>Datos de facturación</h3>

            <div class="line notopmargin"></div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-clipboard"></i></a>
                    </div>
                    <h3>Método</h3>
                    <p>{{payu_information.paymentMethod}}</p>
                </div>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="{% if reservation.status == 'Transacción aprobada' %}icon-check{% elif reservation.status == 'Pendiente' %}icon-line2-hourglass{% else %}icon-ban-circle{% endif %}"></i></a>
                    </div>
                    <h3>Estado</h3>
                    <p>{{reservation.status}}</p>
                </div>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-money"></i></a>
                    </div>
                    <h3>Valor</h3>
                    <p>${{reservation.price|floatformat:'0'|intcomma}}</p>
                </div>
            </div>

            <div class="col_one_fourth col_last">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-bill"></i></a>
                    </div>
                    <h3>Referencia</h3>
                    <p style="overflow-wrap: break-word;">{{reservation.reference_code}}</p>
                </div>
            </div>

            <div class="col_full fancy-title title-double-border">
                <h4>Datos del comprador</h4>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-user2"></i></a>
                    </div>
                    <h3>Nombre</h3>
                    <p>{{payu_information.buyer.fullName}}</p>
                </div>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-mail"></i></a>
                    </div>
                    <h3>Correo</h3>
                    <p>{{payu_information.buyer.emailAddress}}</p>
                </div>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-home"></i></a>
                    </div>
                    <h3>Dirección</h3>
                    <p>{{payu_information.buyer.buyerAddress.street1}} - {{payu_information.buyer.buyerAddress.city}}</p>
                </div>
            </div>

            <div class="col_one_fourth col_last">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-phone3"></i></a>
                    </div>
                    <h3>Teléfono</h3>
                    <p>{{payu_information.buyer.contactPhone}}</p>
                </div>
            </div>

            {% if payu_information.paymentMethod != 'BALOTO' and payu_information.paymentMethod != 'EFECTY' %}

            <div class="col_full fancy-title title-double-border">
                <h4>Datos del pagador</h4>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-user"></i></a>
                    </div>
                    <h3>Nombre</h3>
                    <p>{{payu_information.payer.fullName}}</p>
                </div>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-email3"></i></a>
                    </div>
                    <h3>Correo</h3>
                    <p>{{payu_information.payer.emailAddress}}</p>
                </div>
            </div>

            <div class="col_one_fourth">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-phone3"></i></a>
                    </div>
                    <h3>Teléfono</h3>
                    <p>{{payu_information.payer.contactPhone}}</p>
                </div>
            </div>

            <div class="col_one_fourth col_last">
                <div class="feature-box fbox-border fbox-dark fbox-effect">
                    <div class="fbox-icon">
                        <a href="#"><i class="fa-icon-bank"></i></a>
                    </div>
                    <h3>Banco</h3>
                    <p>{{payu_information.bankName}}</p>
                </div>
            </div>

            {% endif %}{% comment "cierro si de metodo de pago" %}{% endcomment %}

            {% endif %}{% comment "cierro si de si es profesor" %}{% endcomment %}

            {% endif %}{% comment "cierro si de payu_information" %}{% endcomment %}
        </div>
    </div>
</section>
{% endblock content %}