{% load inlinecss %}
{% inlinecss "css/email.css" %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site_name}}</title>
</head>

<body>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <a href="{{request.scheme}}://{{request.get_host}}">
                    <img src="cid:logo-tuto-experts.png" alt="{{site_name}}">
                </a>

                <h4>{{subject}}</h4>

                <blockquote class="quote">
                    <p>{{message}}</p>
                    <span class="blockquote-footer">{{full_name}}</span>
                    <span class="blockquote-footer"><a href="mailto:{{email}}">{{email}}</a>, Tel: <a href="tel:+{{phone}}">{{phone}}</a> - {{city}}</span>
                </blockquote>

                <a class="btn btn-primary" style="margin-top:15px;" href="{{request.scheme}}://{{request.get_host}}" role="button">{{site_name}}</a>
            </div>
        </div>
    </section>
</body>

</html>
{% endinlinecss %}