{% load inlinecss %}
{% inlinecss "css/email.css" %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site_name}}</title>
</head>

<body>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <a href="{{request.scheme}}://{{request.get_host}}">
                    <img src="cid:logo-tuto-experts.png" alt="{{site_name}}">
                </a>

                <h4>Nuevo suscriptor</h4>

                <blockquote class="quote">
                    <p>
                        ¡Hola!
                        <br><br>
                        Un nuevo suscriptor se ha unido a la familia {{site_name}}, su cuenta de correo es <b><i>{{subscriber.email}}</i></b>
                    </p>
                    <span class="blockquote-footer">Este correo es generado automáticamente, por favor no responder.</span>
                </blockquote>

                <a class="btn btn-primary" style="margin-top:15px;" href="{{request.scheme}}://{{request.get_host}}" role="button">{{site_name}}</a>
            </div>
        </div>
    </section>
</body>

</html>
{% endinlinecss %}