{% load inlinecss %}
{% inlinecss "css/email.css" %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site_name}}</title>
</head>

<body>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <a href="{{scheme}}://{{host}}">
                    <img src="cid:logo-tuto-experts.png" alt="{{site_name}}">
                </a>

                <p>
                    <h4>Hola {{reservation.student.get_full_name}}</h4>
                    <br>
                    {% if is_confirmation %}
                    Se acerca la hora de tomar tu clase, por ello es necesario que la confirmes haciendo
                    <a class="text-primary" href="{{scheme}}://{{host}}{% url 'reservation-confirmation' reservation.reference_code  %}" target="_blank" rel="noopener noreferrer"> clic aquí.</a>
                    {% else %}
                    Su reserva ha sido registrada correctamente.
                    {% endif %}
                </p>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>Datos de la reserva</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Docente</td>
                            <td>{{reservation.teacher.get_full_name}}</td>
                        </tr>
                        <tr>
                            <td>Materia</td>
                            <td>{{reservation.subject}}</td>
                        </tr>
                        <tr>
                            <td>Fecha y Hora (Inicio)</td>
                            <td>{{reservation.start_datetime_class|date:'D d M, Y h:i A'}}</td>
                        </tr>
                        <tr>
                            <td>Fecha y Hora (Finalización)</td>
                            <td>{{reservation.end_datetime_class|date:'D d M, Y h:i A'}}</td>
                        </tr>
                        <tr>
                            <td>Tema</td>
                            <td>{{reservation.topic}}</td>
                        </tr>
                        <tr>
                            <td>Modalidad</td>
                            <td>{{reservation.get_mode_display}}</td>
                        </tr>
                        <tr>
                            <td>Correo (Docente)</td>
                            <td><a href="mailto:{{reservation.teacher.email}}">{{reservation.teacher.email}}</a></td>
                        </tr>
                        <tr>
                            <td>Teléfono (Docente)</td>
                            <td><a href="tel:{{reservation.teacher.teacher.phone}}">{{reservation.teacher.teacher.phone|default_if_none:"--"}}</a></td>
                        </tr>
                        <tr>
                            <td>Skype (Docente)</td>
                            <td><a href="skype:{{reservation.teacher.teacher.skype_user}}">{{reservation.teacher.teacher.skype_user|default_if_none:"--"}}</a></td>
                        </tr>
                    </tbody>
                </table>


                {% if is_confirmation %}
                <a class="btn btn-primary" href="{{scheme}}://{{host}}{% url 'reservation-confirmation' reservation.reference_code  %}" role="button">Confirmar reserva</a>
                {% else %}
                <a class="btn btn-primary" href="{{scheme}}://{{host}}" role="button">{{site_name}}</a>
                {% endif %}


                <blockquote class="quote mt-4">
                    <span class="blockquote-footer">Este correo es generado automáticamente, por favor no responder.</span>
                </blockquote>
            </div>
        </div>
    </section>
</body>

</html>
{% endinlinecss %}