{% load inlinecss %}
{% inlinecss "css/email.css" %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site_name}}</title>
</head>

<body>
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <a href="{{request.scheme }}://{{request.get_host}}">
                    <img src="cid:logo-tuto-experts.png" alt="{{site_name}}">
                </a>

                <p>
                    <h4>Hola {{reservation.teacher.get_full_name}}</h4>
                    <br>

                    {% if is_confirmation %}
                    El estudiante {{reservation.student.get_full_name}} ha confirmado la reserva,
                    {% else %}
                    Se ha registrado una nueva reserva a nombre del estudiante {{reservation.student.get_full_name}},
                    {% endif %}
                    a continuación se detalla la misma.
                </p>

                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>Datos de la reserva</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudiante</td>
                            <td>{{reservation.student.get_full_name}}</td>
                        </tr>
                        <tr>
                            <td>Materia</td>
                            <td>{{reservation.subject}}</td>
                        </tr>
                        <tr>
                            <td>Fecha y Hora (Inicio)</td>
                            <td>{{reservation.start_datetime_class|date:'D d M, Y h:i A'}}</td>
                        </tr>
                        <tr>
                            <td>Fecha y Hora (Finalización)</td>
                            <td>{{reservation.end_datetime_class|date:'D d M, Y h:i A'}}</td>
                        </tr>
                        <tr>
                            <td>Tema</td>
                            <td>{{reservation.topic}}</td>
                        </tr>
                        <tr>
                            <td>Modalidad</td>
                            <td>{{reservation.get_mode_display}}</td>
                        </tr>
                        <tr>
                            <td>Correo</td>
                            <td><a href="mailto:{{reservation.student.email}}">{{reservation.student.email}}</a></td>
                        </tr>
                        {% if reservation.get_mode_display == 'Presencial' %}
                        <tr>
                            <td>Dirección</td>
                            <td>{{reservation.address|default_if_none:"--"}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

                <a class="btn btn-primary" href="{{request.scheme}}://{{request.get_host}}" role="button">{{site_name}}</a>

                <blockquote class="quote mt-4">
                    <span class="blockquote-footer">Este correo es generado automáticamente, por favor no responder.</span>
                </blockquote>
            </div>
        </div>
    </section>
</body>

</html>
{% endinlinecss %}